<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.dao.union.UnionOrderDao" >
  <resultMap id="UnionOrderMap" type="com.meiliwan.emall.bean.union.UnionOrder" >
    <id column="id" property="Id" jdbcType="INTEGER" />
    <result column="source_id" property="sourceidId" jdbcType="VARCHAR" />
    <result column="source_type" property="SourceType" jdbcType="VARCHAR" />
    <result column="order_id" property="OrderId" jdbcType="VARCHAR" />
    <result column="uid" property="UId" jdbcType="INTEGER" />
    <result column="total_price" property="TotalPrice" jdbcType="DECIMAL" />
     <result column="create_time" property="CreateTime" jdbcType="TIMESTAMP" />
    <result column="query_info" property="QueryInfo" jdbcType="LONGVARCHAR" />
    <result column="pay_status" property="PayStatus" jdbcType="INTEGER" />
    <result column="pay_method" property="PayMethod" jdbcType="VARCHAR" />
    <result column="order_status" property="OrderStatus" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,source_id,source_type,order_id,uid,total_price,create_time,query_info,pay_status,pay_method,order_status,mlw_query_info
  </sql>
  
  
  <select id="selectByPrimaryKey" resultMap="UnionOrderMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from union_order
    where id = #{Id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from union_order
    where id = #{Id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.meiliwan.emall.bean.union.UnionOrder" >
    insert into union_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="Id != null" >
        id,
      </if>
      <if test="sourceidId != null" >
        source_id,
      </if>
      <if test="SourceType != null" >
        source_type,
      </if>
      <if test="OrderId != null" >
        order_id,
      </if>
      <if test="UId != null" >
        uid,
      </if>
      <if test="TotalPrice != null" >
        total_price,
      </if>
      <if test="CreateTime != null" >
        create_time,
      </if>
      <if test="QueryInfo != null" >
        query_info,
      </if>
      <if test="PayStatus != null" >
        pay_status,
      </if>
      <if test="PayMethod != null" >
        pay_method,
      </if>
       <if test="OrderStatus != null" >
        order_status,
      </if>
      <if test="mlwQueryInfo != null">
        mlw_query_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="Id != null" >
       #{Id,jdbcType=INTEGER},
      </if>
      <if test="sourceidId != null" >
         #{sourceidId,jdbcType=VARCHAR},
      </if>
      <if test="SourceType != null" >
        #{SourceType,jdbcType=VARCHAR},
      </if>
      <if test="OrderId != null" >
        #{OrderId,jdbcType=INTEGER},
      </if>
      <if test="UId != null" >
        #{UId,jdbcType=INTEGER},
      </if>
      <if test="TotalPrice != null" >
        #{TotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="CreateTime != null" >
        #{CreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="QueryInfo != null" >
         #{QueryInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="PayStatus != null" >
        #{PayStatus,jdbcType=INTEGER},
      </if>
      <if test="PayMethod != null" >
        #{PayMethod,jdbcType=VARCHAR},
      </if>
       <if test="OrderStatus != null" >
        #{OrderStatus,jdbcType=INTEGER},
      </if>
      <if test="mlwQueryInfo != null" >
        #{mlwQueryInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <!-- com.meiliwan.emall.bean.UnionOrder   update-->
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.bean.union.UnionOrder" >
    update union_order
    <set >
       <if test="PayStatus != -1" >
        pay_status = #{PayStatus,jdbcType=INTEGER},
      </if>
      <if test="PayMethod != null" >
        pay_method = #{PayMethod,jdbcType=VARCHAR},
      </if>
       <if test="OrderStatus != -1" >
        order_status = #{OrderStatus,jdbcType=INTEGER}
      </if>
    </set>
    where order_id = #{OrderId,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.SourceType != null" >
                        and source_type = #{entity.SourceType,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.CreateTime != null" >
                        and create_time > #{entity.CreateTime,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.PayStatus != 0" >
                        and pay_status = #{entity.PayStatus,jdbcType=INTEGER}
                    </if>
                    <if test="entity.PayMethod != null" >
                        and pay_method = #{entity.PayMethod,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.OrderStatus == 60">
                    	and order_status != #{entity.OrderStatus,jdbcType=INTEGER}
                    </if>
                    <if test="entity.OrderStatus == 7" >
                        and order_status = 6
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="UnionOrderMap">
        select  id,source_id,source_type,order_id,create_time,pay_status,pay_method,order_status from union_order
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
    </select>
    <!-- 
    	  <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
     -->

    <!-- 查询总数 -->
    <select id="getTotalByEntity" resultType="java.lang.Integer">
        select count(*) from union_order
        <include refid="selectCondition" />
    </select>
  
  
</mapper>