<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.mms.dao.UserSearchDao">
    <resultMap id="BaseResultMap" type="com.meiliwan.emall.mms.bean.UserPassportPara">

        <id column="uid" property="uid" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="head_uri" property="headUri" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="email_active" property="emailActive" jdbcType="TINYINT" />
        <result column="mobile_active" property="mobileActive" jdbcType="TINYINT" />
        <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
        <result column="login_equip" property="loginEquip" jdbcType="VARCHAR" />
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
        <result column="login_equip_id" property="loginEquipId"	jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="sex" property="sex" jdbcType="TINYINT" />
        <result column="country_code" property="countryCode" jdbcType="VARCHAR"/>
        <result column="country_name" property="countryName" jdbcType="VARCHAR" />
        <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
        <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
        <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
        <result column="city_name" property="cityName" jdbcType="VARCHAR" />
        <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
        <result column="area_name" property="areaName" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="orderCount" property="orderCount" jdbcType="INTEGER" />
        <!--<result column="mlw_coin" property="mlwCoin" jdbcType="DECIMAL" />-->
        <result column="pay_sum" property="paySum" jdbcType="DECIMAL" />
    </resultMap>
    <sql id="Passport_Column_List">
		passport.uid, passport.user_name, passport.nick_name, passport.email, passport.mobile, passport.password, passport.head_uri,
		passport.create_time,passport.email_active,passport.mobile_active, passport.login_time, passport.login_equip,
		passport.login_ip, passport.login_equip_id, passport.state
	</sql>
    <sql id="extra_Column_List">
		extra.sex,
		extra.country_code,
		extra.country_name,
		extra.province_code,
		extra.province_name,
		extra.city_code,
		extra.city_name,
		extra.area_code,
		extra.area_name,
		extra.birthday
	</sql>
    <!--<sql id="Wallet_Column_List">-->
		<!--wallet.mlw_coin-->
	<!--</sql>-->
    <sql id="Base_Column_List">
        <include refid="Passport_Column_List" />,<include refid="extra_Column_List" />,0 as orderCount,0 aspay_sum
    </sql>
    <sql id="Base_join_List">
		user_passport as passport left join user_extra as extra on passport.uid=extra.uid
	</sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from <include refid="Base_join_List" />
        and passport.uid = #{uid,jdbcType=INTEGER}
    </select>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">

                    <if test="entity.uid!=null and entity.id &gt;0">
                        and passport.uid=#{entity.uid,jdbcType=INTEGER}
                    </if>
                    <if test="entity.stateSearch !=null ">
                        and passport.state=#{entity.stateSearch,jdbcType=TINYINT}
                    </if>

                    <if test="entity.userNameSearch !=null and entity.userNameSearch !='' ">
                        and passport.user_name like CONCAT('%',#{entity.userNameSearch,jdbcType=VARCHAR},'%')
                    </if>
                    <if test="entity.nickNameSearch !=null and entity.nickNameSearch !='' ">
                        and passport.nick_name like CONCAT('%',#{entity.nickNameSearch,jdbcType=VARCHAR},'%')
                    </if>
                    <if test="entity.mobileSearch !=null and entity.mobileSearch !='' ">
                        and passport.mobile like CONCAT('%',#{entity.mobileSearch,jdbcType=VARCHAR},'%')
                    </if>
                    <if test="entity.emailSearch !=null and entity.emailSearch !='' ">
                        and passport.email like CONCAT('%',#{entity.emailSearch,jdbcType=VARCHAR},'%')
                    </if>
                    <if test="entity.birthdayBegin !=null ">
                        and extra.birthday &gt;=  #{entity.birthdayBegin,jdbcType=DATE}
                    </if>
                    <if test="entity.birthdayEnd !=null ">
                        and extra.birthday &lt; DATE_ADD( #{entity.birthdayEnd,jdbcType=DATE},INTERVAL 1 DAY)
                    </if>

                    <if test="entity.createTimeBegin !=null ">
                        and passport.create_time &gt;=  #{entity.createTimeBegin,jdbcType=DATE}
                    </if>
                    <if test="entity.createTimeEnd !=null ">
                        and passport.create_time &lt;  DATE_ADD(#{entity.createTimeEnd,jdbcType=DATE} , INTERVAL 1 DAY)
                    </if>

                    <!--<if test="entity.mlwCoinBegin !=null ">-->
                        <!--and wallet.mlw_coin &gt;=  #{entity.mlwCoinBegin,jdbcType=DECIMAL}-->
                    <!--</if>-->

                    <!--<if test="entity.mlwCoinEnd !=null ">-->
                        <!--and wallet.mlw_coin &lt;=  #{entity.mlwCoinEnd,jdbcType=DECIMAL}-->
                    <!--</if>-->

                </if>
            </trim>

            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>

        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from <include refid="Base_join_List" />
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity" resultType="java.lang.Integer">
        select count(*) from <include refid="Base_join_List" />
        <include refid="selectCondition" />
    </select>

</mapper>