<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiliwan.emall.sp2.dao.ActivityProductDao">
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.sp2.bean.ActivityProductBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="act_id" jdbcType="INTEGER" property="actId" />
    <result column="pro_id" jdbcType="INTEGER" property="proId" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
    <result column="act_num" jdbcType="INTEGER" property="actNum" />
    <result column="is_price_down" jdbcType="BIT" property="isPriceDown" />
    <result column="act_price" jdbcType="DECIMAL" property="actPrice" />
    <result column="third_cat_id" jdbcType="INTEGER" property="thirdCatId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="admin" jdbcType="VARCHAR" property="admin" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="discounts" jdbcType="DECIMAL" property="discounts" />
    <result column="mlw_price" jdbcType="DECIMAL" property="mlwPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, act_id, pro_id, pro_name, act_num, is_price_down, act_price, third_cat_id, create_time, 
    uid, admin, discount, discounts,mlw_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp2_activity_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sp2_activity_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByActId" parameterType="java.lang.Integer">
    delete from sp2_activity_product
    where act_id = #{actId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.sp2.bean.ActivityProductBean">
    insert into sp2_activity_product (id, act_id, pro_id,
      pro_name, act_num, is_price_down, 
      act_price, third_cat_id, create_time, 
      uid, admin, discount, 
      discounts,mlw_price)
    values (#{id,jdbcType=INTEGER}, #{actId,jdbcType=INTEGER}, #{proId,jdbcType=INTEGER}, 
      #{proName,jdbcType=VARCHAR}, #{actNum,jdbcType=INTEGER}, #{isPriceDown,jdbcType=BIT}, 
      #{actPrice,jdbcType=DECIMAL}, #{thirdCatId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{uid,jdbcType=INTEGER}, #{admin,jdbcType=VARCHAR}, #{discount,jdbcType=INTEGER}, 
      #{discounts,jdbcType=DECIMAL},#{mlwPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.sp2.bean.ActivityProductBean"
          useGeneratedKeys="true" keyProperty="id">
    insert into sp2_activity_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="actId != null">
        act_id,
      </if>
      <if test="proId != null">
        pro_id,
      </if>
      <if test="proName != null">
        pro_name,
      </if>
      <if test="actNum != null">
        act_num,
      </if>
      <if test="isPriceDown != null">
        is_price_down,
      </if>
      <if test="actPrice != null">
        act_price,
      </if>
      <if test="thirdCatId != null">
        third_cat_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="admin != null">
        admin,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="discounts != null">
        discounts,
      </if>
      <if test="mlwPrice != null">
          mlw_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="actId != null">
        #{actId,jdbcType=INTEGER},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="actNum != null">
        #{actNum,jdbcType=INTEGER},
      </if>
      <if test="isPriceDown != null">
        #{isPriceDown,jdbcType=BIT},
      </if>
      <if test="actPrice != null">
        #{actPrice,jdbcType=DECIMAL},
      </if>
      <if test="thirdCatId != null">
        #{thirdCatId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="admin != null">
        #{admin,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="discounts != null">
        #{discounts,jdbcType=DECIMAL},
      </if>
      <if test="mlwPrice != null">
        #{mlwPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.sp2.bean.ActivityProductBean">
    update sp2_activity_product
    <set>
      <if test="actId != null">
        act_id = #{actId,jdbcType=INTEGER},
      </if>
      <if test="proId != null">
        pro_id = #{proId,jdbcType=INTEGER},
      </if>
      <if test="proName != null">
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="actNum != null">
        act_num = #{actNum,jdbcType=INTEGER},
      </if>
      <if test="isPriceDown != null">
        is_price_down = #{isPriceDown,jdbcType=BIT},
      </if>
      <if test="actPrice != null">
        act_price = #{actPrice,jdbcType=DECIMAL},
      </if>
      <if test="thirdCatId != null">
        third_cat_id = #{thirdCatId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="admin != null">
        admin = #{admin,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="discounts != null">
        discounts = #{discounts,jdbcType=DECIMAL},
      </if>
      <if test="mlwPrice != null">
          mlw_price = #{mlwPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.sp2.bean.ActivityProductBean">
    update sp2_activity_product
    set act_id = #{actId,jdbcType=INTEGER},
      pro_id = #{proId,jdbcType=INTEGER},
      pro_name = #{proName,jdbcType=VARCHAR},
      act_num = #{actNum,jdbcType=INTEGER},
      is_price_down = #{isPriceDown,jdbcType=BIT},
      act_price = #{actPrice,jdbcType=DECIMAL},
      third_cat_id = #{thirdCatId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      admin = #{admin,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=INTEGER},
      discounts = #{discounts,jdbcType=DECIMAL} ,
      mlw_price = #{mlwPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.id!=null and entity.id &gt;0">
                        and id=#{entity.id,jdbcType=INTEGER}
                    </if>
                    <if test="entity.actId!=null and entity.actId &gt;0">
                        and act_id=#{entity.actId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.proId != null" >
                        and pro_id= #{entity.proId,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.thirdCatId != null" >
                        and third_cat_id &gt;= #{entity.thirdCatId,jdbcType=Integer}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.sp2.bean.ActivityProductBean">
        select
        <include refid="Base_Column_List" />
        from sp2_activity_product
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>
    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from sp2_activity_product
        <include refid="selectCondition" />
    </select>


    <!-- 根据商品ID查询商品-活动关联数据，只查询上架的活动 -->
    <sql id="Base_Column_List_Join_Activity">
    sap.id, sap.act_id, sap.pro_id, sap.pro_name, sap.act_num, sap.is_price_down, sap.act_price, sap.third_cat_id, sap.create_time,
    sap.uid, sap.admin, sap.discount, sap.discounts, sap.mlw_price
    </sql>
    <select id="getAllByProIdForUpAct" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List_Join_Activity" />
        from sp2_activity_product sap LEFT JOIN sp2_activity sa ON sap.act_id=sa.act_id
        WHERE sap.pro_id=#{proId,jdbcType=INTEGER} AND sa.start_time &lt;= #{currDate,jdbcType=TIMESTAMP} AND sa.end_time &gt;#{currDate,jdbcType=TIMESTAMP} AND sa.state>=1
    </select>

    <!-- 根据商品ID查询商品-活动关联数据，查询上架的活动 & 完成上架但未开始的活动 -->
    <select id="getAllByProIdActIsVaild" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List_Join_Activity" />
        from sp2_activity_product sap LEFT JOIN sp2_activity sa ON sap.act_id=sa.act_id
        WHERE sap.pro_id IN
        <foreach item="item" index="index" collection="proIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        AND  ((sa.start_time &lt;= #{currDate,jdbcType=TIMESTAMP} AND sa.end_time &gt;#{currDate,jdbcType=TIMESTAMP}) or sa.start_time &gt;#{currDate,jdbcType=TIMESTAMP}) AND sa.state>=1
    </select>

    <!-- 根据商品ID集合查询商品-活动关联数据，只查询上架的活动 -->
    <select id="getAllByProIdsForUpAct" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List_Join_Activity" />
        from sp2_activity_product sap LEFT JOIN sp2_activity sa ON sap.act_id=sa.act_id
        WHERE sap.pro_id IN
        <foreach item="item" index="index" collection="proIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        AND sa.start_time &lt;= #{currDate,jdbcType=TIMESTAMP} AND sa.end_time &gt;#{currDate,jdbcType=TIMESTAMP} AND sa.state>=1
    </select>

    <!-- 查询某个时间端内参加活动的商品，活动是 已创建 or 上线 状态 -->

    <select id="getAPByProIdAndTimes" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List_Join_Activity" />
        from sp2_activity_product sap LEFT JOIN sp2_activity sa ON sap.act_id=sa.act_id
        WHERE sap.pro_id=#{proId,jdbcType=INTEGER}
              AND sa.state>=0
              AND ((sa.start_time &lt;= #{newStartTime,jdbcType=TIMESTAMP} AND sa.end_time &gt;=#{newEndTime,jdbcType=TIMESTAMP})
                    or(sa.start_time &lt;= #{newStartTime,jdbcType=TIMESTAMP} AND sa.end_time &gt;=#{newStartTime,jdbcType=TIMESTAMP})
                    or(sa.start_time &lt;= #{newEndTime,jdbcType=TIMESTAMP} AND sa.end_time &gt;=#{newEndTime,jdbcType=TIMESTAMP})
                    or(sa.start_time &gt;= #{newStartTime,jdbcType=TIMESTAMP} AND sa.end_time &lt;=#{newEndTime,jdbcType=TIMESTAMP})
                   )
    </select>

</mapper>