<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.sp2.dao.ExamResultDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.sp2.bean.ExamResult" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="reward_level" property="rewardLevel" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, user_name, reward_level, update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exam_result
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam_result
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.sp2.bean.ExamResult" useGeneratedKeys="true" keyProperty="uid">
    insert into exam_result (uid, user_name, reward_level, 
      update_time, create_time)
    values (#{uid,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{rewardLevel,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.sp2.bean.ExamResult" useGeneratedKeys="true" keyProperty="uid">
    insert into exam_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="rewardLevel != null" >
        reward_level,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="rewardLevel != null" >
        #{rewardLevel,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.sp2.bean.ExamResult" >
    update exam_result
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="rewardLevel != null" >
        reward_level = #{rewardLevel,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.sp2.bean.ExamResult" >
    update exam_result
    set user_name = #{userName,jdbcType=VARCHAR},
      reward_level = #{rewardLevel,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=INTEGER}
  </update>

    <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.uid!=null and entity.uid &gt;0">
                        and uid=#{entity.uid,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.sp2.bean.ActivityBean">
        select
        <include refid="Base_Column_List" />
        from exam_result
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>
    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from exam_result
        <include refid="selectCondition" />
    </select>

    <!-- 给对应用户礼包等级数加1 -->
    <update id="updateLevelToAddOne">
        update exam_result
        set reward_level = reward_level + 1, update_time = #{updateTime,jdbcType=TIMESTAMP}
        where uid = #{uid,jdbcType=INTEGER}
    </update>

    <update id="updateLevelToZero">
        update exam_result
        set reward_level = 0
    </update>
</mapper>