<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.sp2.dao.LotteryResultDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.sp2.bean.LotteryResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="lottery_name" property="lotteryName" jdbcType="VARCHAR" />
    <result column="lottery_product" property="lotteryProduct" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, lottery_name,lottery_product,user_name, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lottery_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lottery_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.sp2.bean.LotteryResult">
    insert into lottery_result (id, uid, lottery_name, lottery_product,user_name,
      create_time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{lotteryName,jdbcType=VARCHAR}, 
      #{lotteryProduct,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.sp2.bean.LotteryResult">
    insert into lottery_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="lotteryName != null" >
        lottery_name,
      </if>
      <if test="lotteryProduct != null" >
        lottery_product,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="lotteryName != null" >
        #{lotteryName,jdbcType=VARCHAR},
      </if>
      <if test="lotteryProduct != null" >
        #{lotteryProduct,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.sp2.bean.LotteryResult" >
    update lottery_result
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="lotteryName != null" >
        lottery_name = #{lotteryName,jdbcType=VARCHAR},
      </if>
      <if test="lotteryProduct != null" >
        lottery_product = #{lotteryProduct,jdbcType=VARCHAR},
      </if>
      <if test="uesrName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.sp2.bean.LotteryResult" >
    update lottery_result
    set uid = #{uid,jdbcType=INTEGER},
      lottery_name = #{lotteryName,jdbcType=VARCHAR},
      lottery_product = #{lotteryProduct,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
					 <if test="entity.uid != null">
                        and uid = #{entity.uid,jdbcType=INTEGER}
                     </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.sp2.bean.LotteryResult">
        select
        <include refid="Base_Column_List" />
        from lottery_result
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>
    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from lottery_result
        <include refid="selectCondition" />
    </select>
</mapper>