<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.sp2.dao.SpTicketDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.sp2.bean.SpTicket" >
    <id column="ticket_id" property="ticketId" jdbcType="VARCHAR" />
    <result column="ticket_pwd" property="ticketPwd" jdbcType="VARCHAR" />
    <result column="ticket_price" property="ticketPrice" jdbcType="DECIMAL" />
    <result column="batch_id" property="batchId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="buyer_phone" property="buyerPhone" jdbcType="VARCHAR" />
    <result column="buyer_email" property="buyerEmail" jdbcType="VARCHAR" />
    <result column="active_time" property="activeTime" jdbcType="TIMESTAMP" />
    <result column="sell_time" property="sellTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="ticket_type" property="ticketType" jdbcType="TINYINT" />
      <result column="act_url" property="actUrl" jdbcType="VARCHAR" />
      <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
      <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
      <result column="descp" property="descp" jdbcType="VARCHAR" />
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

    <resultMap id="PageResultMap" type="com.meiliwan.emall.sp2.bean.SpTicket" >
        <id column="ticket_id" property="ticketId" jdbcType="VARCHAR" />
        <result column="ticket_price" property="ticketPrice" jdbcType="DECIMAL" />
        <result column="batch_id" property="batchId" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="buyer_phone" property="buyerPhone" jdbcType="VARCHAR" />
        <result column="buyer_email" property="buyerEmail" jdbcType="VARCHAR" />
        <result column="sell_time" property="sellTime" jdbcType="TIMESTAMP" />
        <result column="ticket_type" property="ticketType" jdbcType="TINYINT" />
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="ticket_name" property="ticketName" jdbcType="VARCHAR" />
        <result column="batch_state" property="batchState" jdbcType="TINYINT" />
    </resultMap>

  <sql id="Base_Column_List" >
    ticket_id, ticket_pwd, ticket_price, batch_id, state, admin_id,
    uid, user_name, buyer_phone, buyer_email, active_time, sell_time, create_time, ticket_type, act_url, start_time, end_time, descp, update_time
  </sql>

    <sql id="Page_Column_List" >
    a.ticket_id, a.ticket_price, a.batch_id, a.state,
    uid, user_name, buyer_phone, buyer_email, sell_time, a.ticket_type, a.start_time, a.end_time,b.ticket_name,b.state as batch_state
  </sql>
  
  <sql id="Base_Join_Column_List" >
    sp_ticket.ticket_id, sp_ticket.ticket_pwd, sp_ticket.ticket_price, sp_ticket.batch_id, sp_ticket.state, sp_ticket.admin_id,
    sp_ticket.uid, sp_ticket.user_name, sp_ticket.buyer_phone, sp_ticket.buyer_email, sp_ticket.active_time, sp_ticket.sell_time, 
    sp_ticket.create_time, sp_ticket.ticket_type, sp_ticket.act_url, sp_ticket.start_time, sp_ticket.end_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sp_ticket
    where ticket_id = #{ticketId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPwd" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sp_ticket
    where ticket_pwd = #{ticketPwd,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sp_ticket
    where ticket_id = #{ticketId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.sp2.bean.SpTicket" useGeneratedKeys="true" keyProperty="ticketId">
    insert into sp_ticket (ticket_id, ticket_pwd, ticket_price, 
      batch_id, state, admin_id, uid,
      user_name, buyer_phone, buyer_email, 
      active_time, sell_time, create_time, ticket_type, act_url, start_time, end_time, descp ,update_time
      )
    values (#{ticketId,jdbcType=VARCHAR}, #{ticketPwd,jdbcType=VARCHAR}, #{ticketPrice,jdbcType=DECIMAL}, 
      #{batchId,jdbcType=INTEGER}, #{state,jdbcType=TINYINT}, #{adminId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER},
      #{userName,jdbcType=VARCHAR}, #{buyerPhone,jdbcType=VARCHAR}, #{buyerEmail,jdbcType=VARCHAR}, 
      #{activeTime,jdbcType=TIMESTAMP}, #{sellTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
      #{ticketType,jdbcType=TINYINT}, #{actUrl,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{descp,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.sp2.bean.SpTicket" useGeneratedKeys="true" keyProperty="ticketId">
    insert into sp_ticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ticketId != null" >
        ticket_id,
      </if>
      <if test="ticketPwd != null" >
        ticket_pwd,
      </if>
      <if test="ticketPrice != null" >
        ticket_price,
      </if>
      <if test="batchId != null" >
        batch_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="buyerPhone != null" >
        buyer_phone,
      </if>
      <if test="buyerEmail != null" >
        buyer_email,
      </if>
      <if test="activeTime != null" >
        active_time,
      </if>
      <if test="sellTime != null" >
        sell_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
        <if test="ticketType != null" >
            ticket_type,
        </if>
        <if test="actUrl != null" >
            act_url,
        </if>
        <if test="startTime != null" >
            start_time,
        </if>
        <if test="endTime != null" >
            end_time,
        </if>
        <if test="descp != null" >
            descp,
        </if>
        <if test="updateTime != null" >
            update_time,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ticketId != null" >
        #{ticketId,jdbcType=VARCHAR},
      </if>
      <if test="ticketPwd != null" >
        #{ticketPwd,jdbcType=VARCHAR},
      </if>
      <if test="ticketPrice != null" >
        #{ticketPrice,jdbcType=DECIMAL},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="buyerPhone != null" >
        #{buyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmail != null" >
        #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null" >
        #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellTime != null" >
        #{sellTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
        <if test="ticketType != null" >
            #{ticketType,jdbcType=TINYINT},
        </if>
        <if test="actUrl != null" >
            #{actUrl,jdbcType=VARCHAR},
        </if>
        <if test="startTime != null" >
            #{startTime,jdbcType=TIMESTAMP},
        </if>
        <if test="endTime != null" >
            #{endTime,jdbcType=TIMESTAMP},
        </if>
        <if test="descp != null" >
            #{descp,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.sp2.bean.SpTicket" >
    update sp_ticket
    <set >
      <if test="ticketPwd != null" >
        ticket_pwd = #{ticketPwd,jdbcType=VARCHAR},
      </if>
      <if test="ticketPrice != null" >
        ticket_price = #{ticketPrice,jdbcType=DECIMAL},
      </if>
      <if test="batchId != null" >
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="buyerPhone != null" >
        buyer_phone = #{buyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmail != null" >
        buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null" >
        active_time = #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellTime != null" >
        sell_time = #{sellTime,jdbcType=TIMESTAMP},
      </if>
        <if test="ticketType != null" >
            ticket_type = #{ticketType,jdbcType=TINYINT},
        </if>
        <if test="actUrl != null" >
            act_url = #{actUrl,jdbcType=VARCHAR},
        </if>
        <if test="startTime != null" >
            start_time = #{startTime,jdbcType=TIMESTAMP},
        </if>
        <if test="endTime != null" >
            end_time = #{endTime,jdbcType=TIMESTAMP},
        </if>
        <if test="descp != null" >
            descp = #{descp,jdbcType=VARCHAR},
        </if>
        <if test="updateTime != null" >
            update_time = #{updateTime,jdbcType=TIMESTAMP},
        </if>
    </set>
    where ticket_id = #{ticketId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.sp2.bean.SpTicket" >
    update sp_ticket
    set ticket_pwd = #{ticketPwd,jdbcType=VARCHAR},
      ticket_price = #{ticketPrice,jdbcType=DECIMAL},
      batch_id = #{batchId,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      admin_id = #{adminId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      buyer_phone = #{buyerPhone,jdbcType=VARCHAR},
      buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      active_time = #{activeTime,jdbcType=TIMESTAMP},
      sell_time = #{sellTime,jdbcType=TIMESTAMP},
      ticket_type = #{ticketType,jdbcType=TINYINT},
      act_url = #{actUrl,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      descp = #{descp,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where ticket_id = #{ticketId,jdbcType=VARCHAR}
  </update>

    <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.ticketId!=null">
                        and ticket_id=#{entity.ticketId,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.batchId!=null">
                        and a.batch_id=#{entity.batchId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.state!=null">
                        <if test="entity.state == 0">
                            and a.state &lt; 2
                        </if>
                        <if test="entity.state == 2">
                            and a.state = 2
                        </if>
                    </if>
                    <if test="entity.userName != null">
                        and user_name = #{entity.userName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.sellTimeMin != null">
                        and a.sell_time &gt;= #{entity.sellTimeMin,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.sellTimeMax != null">
                        and a.sell_time &lt;= #{entity.sellTimeMax,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.endTimeMin != null">
                        and a.end_time &gt;= #{entity.endTimeMin,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.endTimeMax != null">
                        and a.end_time &lt;= #{entity.endTimeMax,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.startTimeMin != null">
                        and a.start_time &gt;= #{entity.startTimeMin,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.startTimeMax != null">
                        and a.start_time &lt;= #{entity.startTimeMax,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.batchState != null">
                        and b.state = #{entity.batchState,jdbcType=TINYINT}
                    </if>
                    <if test="entity.ticketName != null">
                        and ticket_name like #{entity.ticketName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.buyerPhone != null">
                        and buyer_phone = #{entity.buyerPhone,jdbcType=TINYINT}
                    </if>
                    <if test="entity.buyerEmail != null">
                        and buyer_email = #{entity.buyerEmail,jdbcType=TINYINT}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="PageResultMap">
        select
        <include refid="Page_Column_List"/>
        from sp_ticket a left join sp_ticket_batch b on a.batch_id = b.batch_id
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>
    
    <select id="getListByUidAndStateCond" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sp_ticket  
        <where>
        <trim suffixOverrides="and">
        <if test="stateCond!=null and !stateCond.isEmpty">
            <foreach collection="stateCond" item="item" index="key" separator=" " >
        	and ${key} ${item[0]} #{item[1]}
            </foreach>
          
        </if>
        	order by end_time asc
        </trim>
        </where>
    </select>
    
    <select id="getPageByUidAndStateCond" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sp_ticket  
        <where>
        <trim suffixOverrides="and">
        <if test="stateCond!=null and !stateCond.isEmpty">
            <foreach collection="stateCond" item="item" index="key" separator=" " >
        	and ${key} ${item[0]} #{item[1]}
            </foreach>
        </if>
        <!-- add by lzl 0626 -->
        <if test="pageInfo != null and pageInfo.orderBySql != null ">
        	${pageInfo.orderBySql}
        </if>
        <if test="pageInfo == null or pageInfo.orderBySql == null">
        	order by end_time asc
        </if>
        </trim>
        </where>
         <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>
    
    <select id="getCountByUidAndStateCond" resultType="java.lang.Integer">
        select count(*) from sp_ticket  
        <where>
        <trim suffixOverrides="and">
        <if test="stateCond!=null and !stateCond.isEmpty">
            <foreach collection="stateCond" item="item" index="key" separator=" " >
        	and ${key} ${item[0]} #{item[1]}
            </foreach>
        </if>
        </trim>
        </where>
    </select>
    

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from sp_ticket a left join sp_ticket_batch b on a.batch_id = b.batch_id
        <include refid="selectCondition"/>
    </select>

    <update id="updateActUrlByBatchId">
        update sp_ticket
        set act_url = #{actUrl,jdbcType=VARCHAR}
        where batch_id = #{batchId,jdbcType=INTEGER}
    </update>
    
    
    <update id="updateSpTicketState">
        update sp_ticket
        set state = #{state,jdbcType=INTEGER}
        where ticket_id in
        <foreach item="item" collection="ticketIds"
                 open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>
    
</mapper>