<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.pms.dao.ProCommentDao">
    <resultMap id="BaseResultMap" type="com.meiliwan.emall.pms.bean.ProComment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="TINYINT"/>
        <result column="pro_id" property="proId" jdbcType="INTEGER"/>
        <result column="pro_name" property="proName" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP"/>
        <result column="reply_time" property="replyTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="useful_count" property="usefulCount" jdbcType="INTEGER"/>
        <result column="useless_count" property="uselessCount" jdbcType="INTEGER"/>
        <result column="sequence" property="sequence" jdbcType="TINYINT"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="is_web_visible" property="isWebVisible" jdbcType="TINYINT"/>
        <result column="is_user_del" property="isUserDel" jdbcType="TINYINT"/>
        <result column="is_admin_del" property="isAdminDel" jdbcType="TINYINT"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="reply_content" property="replyContent" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <!-- 后台分页使用 -->
    <resultMap id="ProCommentPageMap" type="com.meiliwan.emall.pms.dto.ProCommentPage">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="TINYINT"/>
        <result column="pro_id" property="proId" jdbcType="INTEGER"/>
        <result column="pro_name" property="proName" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP"/>
        <result column="reply_time" property="replyTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="useful_count" property="usefulCount" jdbcType="INTEGER"/>
        <result column="useless_count" property="uselessCount" jdbcType="INTEGER"/>
        <result column="sequence" property="sequence" jdbcType="TINYINT"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="is_web_visible" property="isWebVisible" jdbcType="TINYINT"/>
        <result column="is_user_del" property="isUserDel" jdbcType="TINYINT"/>
        <result column="is_admin_del" property="isAdminDel" jdbcType="TINYINT"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="reply_content" property="replyContent" jdbcType="LONGVARCHAR"/>
        <result column="comment_id" property="excellentCommentId" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="CommentResultMap" type="com.meiliwan.emall.pms.bean.ProCommentVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="pro_id" property="proId" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="QueryCommentResultMap" type="com.meiliwan.emall.pms.dto.QueryCountsDTO">
        <result column="keyType" jdbcType="INTEGER" property="keyType" />
        <result column="counts" jdbcType="INTEGER" property="counts" />
    </resultMap>
    <sql id="Base_Column_List">
    id, uid, nick_name, score, pro_id, pro_name, order_id, comment_time, reply_time,
    create_time, useful_count, useless_count, sequence, state, is_web_visible, is_user_del,
    is_admin_del, content, reply_content
  </sql>
    <sql id="Comment_Column_List">
    id, uid, nick_name, content, pro_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from pro_comment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pro_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.meiliwan.emall.pms.bean.ProComment">
    insert into pro_comment (id, uid, nick_name,
      score, pro_id, pro_name,
      order_id, comment_time, reply_time,
      create_time, useful_count, useless_count,
      sequence, state, is_web_visible,
      is_user_del, is_admin_del, content,
      reply_content)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR},
      #{score,jdbcType=TINYINT}, #{proId,jdbcType=INTEGER}, #{proName,jdbcType=VARCHAR},
      #{orderId,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP}, #{replyTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP}, #{usefulCount,jdbcType=INTEGER}, #{uselessCount,jdbcType=INTEGER},
      #{sequence,jdbcType=TINYINT}, #{state,jdbcType=TINYINT}, #{isWebVisible,jdbcType=TINYINT},
      #{isUserDel,jdbcType=TINYINT}, #{isAdminDel,jdbcType=TINYINT}, #{content,jdbcType=LONGVARCHAR},
      #{replyContent,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.meiliwan.emall.pms.bean.ProComment">
        insert into pro_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="proId != null">
                pro_id,
            </if>
            <if test="proName != null">
                pro_name,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="commentTime != null">
                comment_time,
            </if>
            <if test="replyTime != null">
                reply_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="usefulCount != null">
                useful_count,
            </if>
            <if test="uselessCount != null">
                useless_count,
            </if>
            <if test="sequence != null">
                sequence,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="isWebVisible != null">
                is_web_visible,
            </if>
            <if test="isUserDel != null">
                is_user_del,
            </if>
            <if test="isAdminDel != null">
                is_admin_del,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="replyContent != null">
                reply_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                #{score,jdbcType=TINYINT},
            </if>
            <if test="proId != null">
                #{proId,jdbcType=INTEGER},
            </if>
            <if test="proName != null">
                #{proName,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="commentTime != null">
                #{commentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="replyTime != null">
                #{replyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="usefulCount != null">
                #{usefulCount,jdbcType=INTEGER},
            </if>
            <if test="uselessCount != null">
                #{uselessCount,jdbcType=INTEGER},
            </if>
            <if test="sequence != null">
                #{sequence,jdbcType=TINYINT},
            </if>
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
            <if test="isWebVisible != null">
                #{isWebVisible,jdbcType=TINYINT},
            </if>
            <if test="isUserDel != null">
                #{isUserDel,jdbcType=TINYINT},
            </if>
            <if test="isAdminDel != null">
                #{isAdminDel,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="replyContent != null">
                #{replyContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.pms.bean.ProComment">
        update pro_comment
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=TINYINT},
            </if>
            <if test="proId != null">
                pro_id = #{proId,jdbcType=INTEGER},
            </if>
            <if test="proName != null">
                pro_name = #{proName,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="commentTime != null">
                comment_time = #{commentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="replyTime != null">
                reply_time = #{replyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="usefulCount != null">
                useful_count = #{usefulCount,jdbcType=INTEGER},
            </if>
            <if test="uselessCount != null">
                useless_count = #{uselessCount,jdbcType=INTEGER},
            </if>
            <if test="sequence != null">
                sequence = #{sequence,jdbcType=TINYINT},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="isWebVisible != null">
                is_web_visible = #{isWebVisible,jdbcType=TINYINT},
            </if>
            <if test="isUserDel != null">
                is_user_del = #{isUserDel,jdbcType=TINYINT},
            </if>
            <if test="isAdminDel != null">
                is_admin_del = #{isAdminDel,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="replyContent != null">
                reply_content = #{replyContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.pms.bean.ProComment">
    update pro_comment
    set uid = #{uid,jdbcType=INTEGER},
      nick_name = #{nickName,jdbcType=VARCHAR},
      score = #{score,jdbcType=TINYINT},
      pro_id = #{proId,jdbcType=INTEGER},
      pro_name = #{proName,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      reply_time = #{replyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      useful_count = #{usefulCount,jdbcType=INTEGER},
      useless_count = #{uselessCount,jdbcType=INTEGER},
      sequence = #{sequence,jdbcType=TINYINT},
      state = #{state,jdbcType=TINYINT},
      is_web_visible = #{isWebVisible,jdbcType=TINYINT},
      is_user_del = #{isUserDel,jdbcType=TINYINT},
      is_admin_del = #{isAdminDel,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR},
      reply_content = #{replyContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.id!=null and entity.id &gt;0">
                        and id=#{entity.id,jdbcType=INTEGER}
                    </if>
                    <if test="entity.proId!=null">
                        and pro_id=#{entity.proId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.proName!=null">
                        and pro_name like %#{entity.proName,jdbcType=VARCHAR}%
                    </if>
                    <if test="entity.uid!=null">
                        and uid = #{entity.uid,jdbcType=INTEGER}
                    </if>
                    <if test="entity.nickName!=null">
                        and nick_name like %#{entity.nickName,jdbcType=VARCHAR}%
                    </if>
                    <if test="entity.score!=null">
                        and score=#{entity.score,jdbcType=INTEGER}
                    </if>
                    <if test="entity.orderId!=null">
                        and order_id=#{entity.orderId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.sequence!=null">
                        and sequence=#{entity.sequence,jdbcType=INTEGER}
                    </if>
                    <if test="entity.state!=null">
                        and state=#{entity.state,jdbcType=INTEGER}
                    </if>
                    <if test="entity.isWebVisible!=null">
                        and is_web_visible=#{entity.isWebVisible,jdbcType=INTEGER}
                    </if>
                    <if test="entity.isUserDel!=null">
                        and is_user_del=#{entity.isUserDel,jdbcType=INTEGER}
                    </if>
                    <if test="entity.isAdminDel!=null">
                        and is_admin_del=#{entity.isAdminDel,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pro_comment
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from pro_comment
        <include refid="selectCondition"/>
    </select>


    <sql id="selectConditionCommentView">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.startTime!=null">
                        and comment_time &gt; #{entity.startTime,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.endTime!=null">
                        and comment_time &lt; #{entity.endTime,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.proId!=null">
                        and pro_id=#{entity.proId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.proName!=null">
                        and pro_name like #{entity.proName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.nickName!=null">
                        and nick_name like #{entity.nickName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.content!=null">
                        and length(content) &gt; #{entity.content,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.startScore!=null">
                        and score &gt;= #{entity.startScore,jdbcType=INTEGER}
                    </if>
                    <if test="entity.endScore!=null">
                        and score &lt;= #{entity.endScore,jdbcType=INTEGER}
                    </if>
                    <if test="entity.orderId!=null">
                        and order_id=#{entity.orderId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.isTop!=null">
                        and sequence=#{entity.isTop,jdbcType=INTEGER}
                    </if>
                    <if test="entity.startUseful!=null">
                        and useful_count &gt;= #{entity.startUseful,jdbcType=INTEGER}
                    </if>
                    <if test="entity.endUseful!=null">
                        and useful_count &lt;= #{entity.endUseful,jdbcType=INTEGER}
                    </if>
                    <if test="entity.startUseless!=null">
                        and useless_count &gt;= #{entity.startUseless,jdbcType=INTEGER}
                    </if>
                    <if test="entity.endUseless!=null">
                        and useless_count &lt;= #{entity.endUseless,jdbcType=INTEGER}
                    </if>
                    <if test="entity.isReply==2">
                        and reply_content is null
                    </if>
                    <if test="entity.isReply==1 or entity.isReply==null">
                        and reply_content is not null
                    </if>

                    <if test="entity.state!=null">
                        and state = #{entity.state,jdbcType=TINYINT}
                    </if>
                    <if test="entity.uid!=null">
                        and uid = #{entity.uid,jdbcType=INTEGER}
                    </if>
                    <if test="entity.adminDel!=null">
                        and is_admin_del=#{entity.adminDel,jdbcType=INTEGER}
                    </if>
                    <!-- add by lzl 140527 -->
                    <if test="entity.startCreateTime!=null">
                        and create_time &gt; #{entity.startCreateTime,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.endCreateTime!=null">
                        and create_time &lt; #{entity.endCreateTime,jdbcType=VARCHAR}
                    </if>

                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfoCommentView"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pro_comment
        <include refid="selectConditionCommentView"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntityCommentView"
            resultType="java.lang.Integer">
        select count(*) from pro_comment
        <include refid="selectConditionCommentView"/>
    </select>

    <update id="updateComByParam">
        update pro_comment
        set ${param} = ${param} + 1
        where id = ${id}
    </update>

    <!-- 通过商品IDs获取评论列表，每个商品至多查三个好评 -->
    <select id="getListByProIds" resultMap="CommentResultMap">
        select
        <include refid="Comment_Column_List"/>
        from
            <foreach collection="ids" index="index" item="item" open="(" separator=" union " close=")">
                (select <include refid="Comment_Column_List"/> from pro_comment where pro_id = ${item} and score>=4 and state = 0 and is_web_visible = 0 and is_admin_del= 0 order by sequence desc,comment_time desc limit 0,1)
            </foreach>
        as pro_comment
    </select>

    <!-- 根据查询条件查询数据总数列表 -->
    <select id="getListByEntityAndPageInfoQueryCountsDTO" parameterType="com.meiliwan.emall.pms.bean.ProComment" resultMap="QueryCommentResultMap">
        select score as keyType, count(score) as counts  from pro_comment
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
    </select>


	<sql id="selectForBkstage">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.startTime!=null">
                        and c.comment_time &gt; #{entity.startTime,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.endTime!=null">
                        and c.comment_time &lt; #{entity.endTime,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.proId!=null">
                        and c.pro_id=#{entity.proId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.proName!=null">
                        and c.pro_name like #{entity.proName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.nickName!=null">
                        and c.nick_name like #{entity.nickName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.content!=null">
                        and length(content) &gt; #{entity.content,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.startScore!=null">
                        and c.score &gt;= #{entity.startScore,jdbcType=INTEGER}
                    </if>
                    <if test="entity.endScore!=null">
                        and c.score &lt;= #{entity.endScore,jdbcType=INTEGER}
                    </if>
                    <if test="entity.orderId!=null">
                        and c.order_id=#{entity.orderId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.isTop!=null">
                        and c.sequence=#{entity.isTop,jdbcType=INTEGER}
                    </if>
                    <if test="entity.startUseful!=null">
                        and c.useful_count &gt;= #{entity.startUseful,jdbcType=INTEGER}
                    </if>
                    <if test="entity.endUseful!=null">
                        and c.useful_count &lt;= #{entity.endUseful,jdbcType=INTEGER}
                    </if>
                    <if test="entity.startUseless!=null">
                        and c.useless_count &gt;= #{entity.startUseless,jdbcType=INTEGER}
                    </if>
                    <if test="entity.endUseless!=null">
                        and c.useless_count &lt;= #{entity.endUseless,jdbcType=INTEGER}
                    </if>
                    <if test="entity.isReply==2">
                        and c.reply_content is null
                    </if>
                    <if test="entity.isReply==1">
                        and c.reply_content is not null
                    </if>
                    <if test="entity.state!=null">
                        and c.state = #{entity.state,jdbcType=TINYINT}
                    </if>
                    <if test="entity.uid!=null">
                        and c.uid = #{entity.uid,jdbcType=INTEGER}
                    </if>
                    <if test="entity.adminDel!=null">
                        and is_admin_del=#{entity.adminDel,jdbcType=INTEGER}
                    </if>
                    <if test="entity.check!=null">
                        <if test="entity.check==0">
                            and is_web_visible=-2
                        </if>
                        <if test="entity.check==1">
                            and is_web_visible!=-2
                        </if>
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>
    
    
	 <!-- 后台分页查询 -->
    <select id="getPageForBkstage"
            resultMap="ProCommentPageMap">
        select c.*,d.comment_id 
        from pro_comment c left join pro_action d on c.pro_id = d.pro_id
        <include refid="selectForBkstage"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 后台分页查询总数 -->
    <select id="getTotalForBkstage"
            resultType="java.lang.Integer">
        select count(*) from pro_comment c
        <include refid="selectForBkstage"/>
    </select>

    <!--根据订单IDS获取未评价的订单号列表-->
    <select id="getOrderIsCommentListByOrderCenter" resultType="java.lang.String">
        select order_id from pro_comment where order_id in
        <foreach item="item" collection="ids"
                 open="(" separator="," close=")">
            ${item}
        </foreach>
        and state=-1 GROUP BY order_id
    </select>

    <!--根据订单IDS获取已评价的订单号列表及其已评价条数-->
    <select id="getOrderAllCommentListByOrderCenter" resultType="java.util.Map">
        select order_id, count(order_id) as counts from pro_comment where order_id in
        <foreach item="item" collection="ids"
                 open="(" separator="," close=")">
            ${item}
        </foreach>
        and state=0 GROUP BY order_id
    </select>

</mapper>