<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.pms.dao.ProEnterprisePurchaseDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.pms.bean.ProEnterprisePurchase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="enterprise" property="enterprise" jdbcType="VARCHAR" />
    <result column="enterprise_addr" property="enterpriseAddr" jdbcType="VARCHAR" />
    <result column="purchase_demand" property="purchaseDemand" jdbcType="VARCHAR" />
    <result column="is_read" property="isRead" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, contact, contact_phone, enterprise, enterprise_addr, purchase_demand, is_read, 
    create_time, update_time, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pro_enterprise_purchase
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pro_enterprise_purchase
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.pms.bean.ProEnterprisePurchase" >
    insert into pro_enterprise_purchase (id, contact, contact_phone, 
      enterprise, enterprise_addr, purchase_demand, 
      is_read, create_time, update_time, 
      is_del)
    values (#{id,jdbcType=INTEGER}, #{contact,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{enterprise,jdbcType=VARCHAR}, #{enterpriseAddr,jdbcType=VARCHAR}, #{purchaseDemand,jdbcType=VARCHAR}, 
      #{isRead,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.pms.bean.ProEnterprisePurchase"
          useGeneratedKeys="true" keyProperty="id">
    insert into pro_enterprise_purchase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="enterprise != null" >
        enterprise,
      </if>
      <if test="enterpriseAddr != null" >
        enterprise_addr,
      </if>
      <if test="purchaseDemand != null" >
        purchase_demand,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="enterprise != null" >
        #{enterprise,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseAddr != null" >
        #{enterpriseAddr,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDemand != null" >
        #{purchaseDemand,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.pms.bean.ProEnterprisePurchase" >
    update pro_enterprise_purchase
    <set >
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="enterprise != null" >
        enterprise = #{enterprise,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseAddr != null" >
        enterprise_addr = #{enterpriseAddr,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDemand != null" >
        purchase_demand = #{purchaseDemand,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        is_read = #{isRead,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.pms.bean.ProEnterprisePurchase" >
    update pro_enterprise_purchase
    set contact = #{contact,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      enterprise = #{enterprise,jdbcType=VARCHAR},
      enterprise_addr = #{enterpriseAddr,jdbcType=VARCHAR},
      purchase_demand = #{purchaseDemand,jdbcType=VARCHAR},
      is_read = #{isRead,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.id!=null and entity.id &gt;0">
                        and id=#{entity.id,jdbcType=INTEGER}
                    </if>
                    <if test="entity.contact!=null">
                        and contact=#{entity.contact,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.contactPhone!=null">
                        and contact_phone=#{entity.contactPhone,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.enterprise!=null">
                        and enterprise=#{entity.enterprise,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.isRead!=null">
                        and is_read=#{entity.isRead,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.isDel!=null">
                        and is_del=#{entity.isDel,jdbcType=TINYINT}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pro_enterprise_purchase
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from pro_enterprise_purchase
        <include refid="selectCondition" />
    </select>
</mapper>