<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.pms.dao.ProImagesDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.pms.bean.ProImages" >
    <id column="spu_id" property="spuId" jdbcType="INTEGER" />
    <id column="pro_prov_id" property="proProvId" jdbcType="INTEGER" />
    <result column="pro_prop_id" property="proPropId" jdbcType="INTEGER" />
    <result column="default_image_uri" property="defaultImageUri" jdbcType="VARCHAR" />
    <result column="image_uris" property="imageUris" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    spu_id, pro_prov_id, pro_prop_id, default_image_uri, image_uris, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.pms.bean.ProImagesKey" >
    select 
    <include refid="Base_Column_List" />
    from pro_images
    where spu_id = #{spuId,jdbcType=INTEGER}
      and pro_prov_id = #{proProvId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.meiliwan.emall.pms.bean.ProImagesKey" >
    delete from pro_images
    where spu_id = #{spuId,jdbcType=INTEGER}
      and pro_prov_id = #{proProvId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.pms.bean.ProImages" >
    insert into pro_images (spu_id, pro_prov_id, pro_prop_id, 
      default_image_uri, image_uris, create_time, 
      update_time)
    values (#{spuId,jdbcType=INTEGER}, #{proProvId,jdbcType=INTEGER}, #{proPropId,jdbcType=INTEGER}, 
      #{defaultImageUri,jdbcType=VARCHAR}, #{imageUris,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.pms.bean.ProImages" >
    insert into pro_images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spuId != null" >
        spu_id,
      </if>
      <if test="proProvId != null" >
        pro_prov_id,
      </if>
      <if test="proPropId != null" >
        pro_prop_id,
      </if>
      <if test="defaultImageUri != null" >
        default_image_uri,
      </if>
      <if test="imageUris != null" >
        image_uris,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spuId != null" >
        #{spuId,jdbcType=INTEGER},
      </if>
      <if test="proProvId != null" >
        #{proProvId,jdbcType=INTEGER},
      </if>
      <if test="proPropId != null" >
        #{proPropId,jdbcType=INTEGER},
      </if>
      <if test="defaultImageUri != null" >
        #{defaultImageUri,jdbcType=VARCHAR},
      </if>
      <if test="imageUris != null" >
        #{imageUris,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.pms.bean.ProImages" >
    update pro_images
    <set >
      <if test="proPropId != null" >
        pro_prop_id = #{proPropId,jdbcType=INTEGER},
      </if>
      <if test="defaultImageUri != null" >
        default_image_uri = #{defaultImageUri,jdbcType=VARCHAR},
      </if>
      <if test="imageUris != null" >
        image_uris = #{imageUris,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where spu_id = #{spuId,jdbcType=INTEGER}
      and pro_prov_id = #{proProvId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.pms.bean.ProImages" >
    update pro_images
    set pro_prop_id = #{proPropId,jdbcType=INTEGER},
      default_image_uri = #{defaultImageUri,jdbcType=VARCHAR},
      image_uris = #{imageUris,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where spu_id = #{spuId,jdbcType=INTEGER}
      and pro_prov_id = #{proProvId,jdbcType=INTEGER}
  </update>

    <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.spuId!=null and entity.spuId &gt;0">
                        and spu_id=#{entity.spuId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.proProvId!=null and entity.proProvId &gt;0">
                        and pro_prov_id=#{entity.proProvId,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pro_images
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from pro_images
        <include refid="selectCondition"/>
    </select>

    <!-- 批量增加SPU固有属性 -->
    <insert id="insertByBatch">
        insert into pro_images(spu_id, pro_prov_id, pro_prop_id,default_image_uri, image_uris, create_time,update_time)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.spuId,jdbcType=INTEGER}, #{item.proProvId,jdbcType=INTEGER}, #{item.proPropId,jdbcType=INTEGER},
            #{item.defaultImageUri,jdbcType=VARCHAR}, #{item.imageUris,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <update id="updateDefaultImageUriByPkIds" parameterType="java.util.HashMap">
        update pro_images
          set default_image_uri = #{primaryImageUrl,jdbcType=VARCHAR},
          update_time =#{nowTime,jdbcType=TIMESTAMP}
        where spu_id = #{spuId,jdbcType=INTEGER}
        and pro_prop_id = #{proPid,jdbcType=INTEGER}
        and pro_prov_id = #{proVid,jdbcType=INTEGER}
    </update>
</mapper>