<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiliwan.emall.pms.dao.ProStoreCategoryDao">
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.pms.bean.ProStoreCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="first_category_id" jdbcType="INTEGER" property="firstCategoryId" />
    <result column="first_category_name" jdbcType="VARCHAR" property="firstCategoryName" />
    <result column="second_category_id" jdbcType="INTEGER" property="secondCategoryId" />
    <result column="second_category_name" jdbcType="VARCHAR" property="secondCategoryName" />
    <result column="third_category_id" jdbcType="INTEGER" property="thirdCategoryId" />
    <result column="third_category_name" jdbcType="VARCHAR" property="thirdCategoryName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_id, store_name, first_category_id, first_category_name, second_category_id, 
    second_category_name, third_category_id, third_category_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pro_store_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pro_store_category
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <delete id="deleteByEntity"  parameterType="com.meiliwan.emall.pms.bean.ProStoreCategory">
    delete from pro_store_category
    where
  <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER}
  </if>
  </delete>


    <insert id="insert" parameterType="com.meiliwan.emall.pms.bean.ProStoreCategory">
    insert into pro_store_category (id, store_id, store_name, 
      first_category_id, first_category_name, second_category_id, 
      second_category_name, third_category_id, third_category_name
      )
    values (#{id,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{storeName,jdbcType=VARCHAR}, 
      #{firstCategoryId,jdbcType=INTEGER}, #{firstCategoryName,jdbcType=VARCHAR}, #{secondCategoryId,jdbcType=INTEGER}, 
      #{secondCategoryName,jdbcType=VARCHAR}, #{thirdCategoryId,jdbcType=INTEGER}, #{thirdCategoryName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.pms.bean.ProStoreCategory"
          useGeneratedKeys="true" keyProperty="id">
    insert into pro_store_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="firstCategoryId != null">
        first_category_id,
      </if>
      <if test="firstCategoryName != null">
        first_category_name,
      </if>
      <if test="secondCategoryId != null">
        second_category_id,
      </if>
      <if test="secondCategoryName != null">
        second_category_name,
      </if>
      <if test="thirdCategoryId != null">
        third_category_id,
      </if>
      <if test="thirdCategoryName != null">
        third_category_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="firstCategoryId != null">
        #{firstCategoryId,jdbcType=INTEGER},
      </if>
      <if test="firstCategoryName != null">
        #{firstCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="secondCategoryId != null">
        #{secondCategoryId,jdbcType=INTEGER},
      </if>
      <if test="secondCategoryName != null">
        #{secondCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="thirdCategoryId != null">
        #{thirdCategoryId,jdbcType=INTEGER},
      </if>
      <if test="thirdCategoryName != null">
        #{thirdCategoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.pms.bean.ProStoreCategory">
    update pro_store_category
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="firstCategoryId != null">
        first_category_id = #{firstCategoryId,jdbcType=INTEGER},
      </if>
      <if test="firstCategoryName != null">
        first_category_name = #{firstCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="secondCategoryId != null">
        second_category_id = #{secondCategoryId,jdbcType=INTEGER},
      </if>
      <if test="secondCategoryName != null">
        second_category_name = #{secondCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="thirdCategoryId != null">
        third_category_id = #{thirdCategoryId,jdbcType=INTEGER},
      </if>
      <if test="thirdCategoryName != null">
        third_category_name = #{thirdCategoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.pms.bean.ProStoreCategory">
    update pro_store_category
    set store_id = #{storeId,jdbcType=INTEGER},
      store_name = #{storeName,jdbcType=VARCHAR},
      first_category_id = #{firstCategoryId,jdbcType=INTEGER},
      first_category_name = #{firstCategoryName,jdbcType=VARCHAR},
      second_category_id = #{secondCategoryId,jdbcType=INTEGER},
      second_category_name = #{secondCategoryName,jdbcType=VARCHAR},
      third_category_id = #{thirdCategoryId,jdbcType=INTEGER},
      third_category_name = #{thirdCategoryName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.id!=null and entity.id &gt;0">
                        and id=#{entity.id,jdbcType=INTEGER}
                    </if>
                    <if test="entity.storeId != null">
                        and store_id = #{entity.storeId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.storeName != null">
                        and store_name = #{entity.storeName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.firstCategoryId != null">
                        and first_category_id = #{entity.firstCategoryId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.firstCategoryName != null">
                        and first_category_name = #{entity.firstCategoryName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.secondCategoryId != null">
                        and second_category_id = #{entity.secondCategoryId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.secondCategoryName != null">
                        and second_category_name = #{entity.secondCategoryName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.secondCategoryName != null">
                        and second_category_name = #{entity.secondCategoryName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.thirdCategoryId != null">
                        and third_category_id = #{entity.thirdCategoryId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.thirdCategoryName != null">
                        and third_category_name = #{entity.thirdCategoryName,jdbcType=VARCHAR}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pro_store_category
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from pro_store_category
        <include refid="selectCondition" />
    </select>
</mapper>