<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.pms.dao.ProSpuDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.pms.bean.ProSpu" >
    <id column="spu_id" property="spuId" jdbcType="INTEGER" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="adv_name" property="advName" jdbcType="VARCHAR" />
    <result column="pro_type" property="proType" jdbcType="TINYINT" />
    <result column="first_category_id" property="firstCategoryId" jdbcType="INTEGER" />
    <result column="second_category_id" property="secondCategoryId" jdbcType="INTEGER" />
    <result column="third_category_id" property="thirdCategoryId" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="place_id" property="placeId" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="property_string" property="propertyString" jdbcType="VARCHAR" />
    <result column="is_cod" property="isCod" jdbcType="TINYINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
      <result column="sku_flag" property="skuFlag" jdbcType="TINYINT" />
      <result column="sku_prop_a" property="skuPropA" jdbcType="VARCHAR" />
      <result column="sku_prop_b" property="skuPropB" jdbcType="VARCHAR" />
      <result column="is_upload_img" property="isUploadImg" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

    <resultMap id="BaseListMap" type="com.meiliwan.emall.pms.dto.SpuListDTO" >
        <id column="spu_id" property="spuId" jdbcType="INTEGER" />
        <result column="pro_name" property="proName" jdbcType="VARCHAR" />
        <result column="first_category_id" property="firstCategoryId" jdbcType="INTEGER" />
        <result column="second_category_id" property="secondCategoryId" jdbcType="INTEGER" />
        <result column="third_category_id" property="thirdCategoryId" jdbcType="INTEGER" />
        <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
        <result column="brand_id" property="brandId" jdbcType="INTEGER" />
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
        <result column="is_cod" property="isCod" jdbcType="TINYINT" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="store_id" jdbcType="INTEGER" property="storeId" />
        <result column="store_name" jdbcType="VARCHAR" property="storeName" />
        <result column="sku_prop_a" property="skuPropA" jdbcType="VARCHAR" />
        <result column="sku_prop_b" property="skuPropB" jdbcType="VARCHAR" />
        <result column="is_upload_img" property="isUploadImg" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

  <sql id="Base_Column_List" >
    spu_id, pro_name, short_name, adv_name, pro_type, first_category_id, second_category_id, 
    third_category_id, brand_id, supplier_id, place_id, admin_id, property_string, is_cod, 
    state, sku_flag, sku_prop_a, sku_prop_b, is_upload_img, create_time, delete_time, update_time
  </sql>
    <sql id="Select_Column_list" >
    p.spu_id, pro_name, first_category_id, second_category_id,
    p.third_category_id, cat.category_name, p.brand_id, supplier_id, place_id, is_cod,
    p.state, sku_prop_a, sku_prop_b, is_upload_img, p.create_time,store_id,store_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pro_spu
    where spu_id = #{spuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pro_spu
    where spu_id = #{spuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.pms.bean.ProSpu" useGeneratedKeys="true" keyProperty="spuId">
    insert into pro_spu (spu_id, pro_name, short_name, 
      adv_name, pro_type, first_category_id, 
      second_category_id, third_category_id, brand_id, 
      supplier_id, place_id, admin_id, 
      property_string, is_cod, state, sku_flag, sku_prop_a, sku_prop_b, is_upload_img,
      create_time, delete_time, update_time
      )
    values (#{spuId,jdbcType=INTEGER}, #{proName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{advName,jdbcType=VARCHAR}, #{proType,jdbcType=TINYINT}, #{firstCategoryId,jdbcType=INTEGER}, 
      #{secondCategoryId,jdbcType=INTEGER}, #{thirdCategoryId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, 
      #{supplierId,jdbcType=INTEGER}, #{placeId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, 
      #{propertyString,jdbcType=VARCHAR}, #{isCod,jdbcType=TINYINT}, #{state,jdbcType=TINYINT}, #{skuFlag,jdbcType=TINYINT}, #{skuPropA,jdbcType=VARCHAR}, #{skuPropB,jdbcType=VARCHAR}, #{isUploadImg,jdbcType=TINYINT},
      #{createTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.pms.bean.ProSpu" useGeneratedKeys="true" keyProperty="spuId">
    insert into pro_spu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spuId != null" >
        spu_id,
      </if>
      <if test="proName != null" >
        pro_name,
      </if>
      <if test="shortName != null" >
        short_name,
      </if>
      <if test="advName != null" >
        adv_name,
      </if>
      <if test="proType != null" >
        pro_type,
      </if>
      <if test="firstCategoryId != null" >
        first_category_id,
      </if>
      <if test="secondCategoryId != null" >
        second_category_id,
      </if>
      <if test="thirdCategoryId != null" >
        third_category_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="placeId != null" >
        place_id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="propertyString != null" >
        property_string,
      </if>
      <if test="isCod != null" >
        is_cod,
      </if>
      <if test="state != null" >
        state,
      </if>
        <if test="skuFlag != null" >
            sku_flag,
        </if>
        <if test="skuPropA != null" >
            sku_prop_a,
        </if>
        <if test="skuPropB != null" >
            sku_prop_b,
        </if>
        <if test="isUploadImg != null" >
            is_upload_img,
        </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spuId != null" >
        #{spuId,jdbcType=INTEGER},
      </if>
      <if test="proName != null" >
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="advName != null" >
        #{advName,jdbcType=VARCHAR},
      </if>
      <if test="proType != null" >
        #{proType,jdbcType=TINYINT},
      </if>
      <if test="firstCategoryId != null" >
        #{firstCategoryId,jdbcType=INTEGER},
      </if>
      <if test="secondCategoryId != null" >
        #{secondCategoryId,jdbcType=INTEGER},
      </if>
      <if test="thirdCategoryId != null" >
        #{thirdCategoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="placeId != null" >
        #{placeId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="propertyString != null" >
        #{propertyString,jdbcType=VARCHAR},
      </if>
      <if test="isCod != null" >
        #{isCod,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
        <if test="skuFlag != null" >
            #{skuFlag,jdbcType=TINYINT},
        </if>
        <if test="skuPropA != null" >
            #{skuPropA,jdbcType=VARCHAR},
        </if>
        <if test="skuPropB != null" >
            #{skuPropB,jdbcType=VARCHAR},
        </if>
        <if test="isUploadImg != null" >
            #{isUploadImg,jdbcType=TINYINT},
        </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.pms.bean.ProSpu" >
    update pro_spu
    <set >
      <if test="proName != null" >
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="advName != null" >
        adv_name = #{advName,jdbcType=VARCHAR},
      </if>
      <if test="proType != null" >
        pro_type = #{proType,jdbcType=TINYINT},
      </if>
      <if test="firstCategoryId != null" >
        first_category_id = #{firstCategoryId,jdbcType=INTEGER},
      </if>
      <if test="secondCategoryId != null" >
        second_category_id = #{secondCategoryId,jdbcType=INTEGER},
      </if>
      <if test="thirdCategoryId != null" >
        third_category_id = #{thirdCategoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="placeId != null" >
        place_id = #{placeId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="propertyString != null" >
        property_string = #{propertyString,jdbcType=VARCHAR},
      </if>
      <if test="isCod != null" >
        is_cod = #{isCod,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
        <if test="skuFlag != null" >
            sku_flag = #{skuFlag,jdbcType=TINYINT},
        </if>
        <if test="skuPropA != null" >
            sku_prop_a = #{skuPropA,jdbcType=VARCHAR},
        </if>
        <if test="skuPropB != null" >
            sku_prop_b = #{skuPropB,jdbcType=VARCHAR},
        </if>
        <if test="isUploadImg != null" >
            is_upload_img = #{isUploadImg,jdbcType=TINYINT},
        </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where spu_id = #{spuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.pms.bean.ProSpu" >
    update pro_spu
    set pro_name = #{proName,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      adv_name = #{advName,jdbcType=VARCHAR},
      pro_type = #{proType,jdbcType=TINYINT},
      first_category_id = #{firstCategoryId,jdbcType=INTEGER},
      second_category_id = #{secondCategoryId,jdbcType=INTEGER},
      third_category_id = #{thirdCategoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      place_id = #{placeId,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      property_string = #{propertyString,jdbcType=VARCHAR},
      is_cod = #{isCod,jdbcType=TINYINT},
      state = #{state,jdbcType=TINYINT},
      sku_flag = #{skuFlag,jdbcType=TINYINT},
      sku_prop_a = #{skuPropA,jdbcType=VARCHAR},
      sku_prop_b = #{skuPropB,jdbcType=VARCHAR},
      is_upload_img = #{isUploadImg,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where spu_id = #{spuId,jdbcType=INTEGER}
  </update>

    <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.spuId!=null and entity.spuId &gt;0">
                        and spu_id=#{entity.spuId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.thirdCategoryId!=null">
                        and third_category_id=#{entity.thirdCategoryId,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="listCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.spuId!=null and entity.spuId &gt;0">
                        and p.spu_id=#{entity.spuId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.firstCategoryId != null">
                        and first_category_id= #{entity.firstCategoryId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.secondCategoryId != null">
                        and second_category_id= #{entity.secondCategoryId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.thirdCategoryId != null">
                        and p.third_category_id= #{entity.thirdCategoryId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.brandId!=null and entity.brandId &gt;0">
                        and p.brand_id=#{entity.brandId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.supplierId != null and entity.supplierId &gt;0">
                        and supplier_id= #{entity.supplierId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.state != null">
                        and p.state = #{entity.state,jdbcType=INTEGER}
                    </if>
                    <if test="entity.storeId != null and entity.storeId &gt;0">
                        and s.store_id = #{entity.storeId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.proName != null">
                        and pro_name like #{entity.proName,jdbcType=VARCHAR}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>


    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pro_spu
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from pro_spu
        <include refid="selectCondition"/>
    </select>

    <!-- 根据条件查询 查全部商品字段列表 -->
    <select id="getListSpuPage" resultMap="BaseListMap">
        select
        <include refid="Select_Column_list"></include>
        from pro_spu p left join pro_store_prod s on p.spu_id=s.spu_id left join pro_category cat on p.third_category_id = cat.category_id
        <include refid="listCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getSpuListTotal"
            resultType="java.lang.Integer">
        select count(*) from pro_spu p left join pro_store_prod s on p.spu_id=s.spu_id
        <include refid="listCondition"/>
    </select>


    <update id="updateSpuProductNames" parameterType="com.meiliwan.emall.pms.dto.ProductNamesDto">
        update pro_spu
        set
        pro_name =  #{proName,jdbcType=VARCHAR},
        short_name = #{shortName,jdbcType=VARCHAR},
        adv_name = #{advName,jdbcType=VARCHAR}
        where spu_id = #{spuId,jdbcType=INTEGER}
    </update>

    <update id="updateSpuProductPublicParas" parameterType="com.meiliwan.emall.pms.dto.ProductPublicParasDto">
        update pro_spu
        set
        brand_id =  #{brandId,jdbcType=INTEGER},
        supplier_id = #{supplierId,jdbcType=INTEGER},
        place_id = #{placeId,jdbcType=INTEGER},
        is_cod = #{isCod,jdbcType=INTEGER}
        where spu_id = #{spuId,jdbcType=INTEGER}
    </update>

    <update id="updatePropStr">
        update pro_spu
        set property_string = #{propStr,jdbcType=VARCHAR}
        where spu_id = #{spuId,jdbcType=VARCHAR}
    </update>

</mapper>