<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiliwan.emall.pms.dao.ProStoreProdDao">
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.pms.bean.ProStoreProd">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="spu_id" jdbcType="INTEGER" property="spuId" />
    <result column="third_category_id" jdbcType="INTEGER" property="thirdCategoryId" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="is_hide" jdbcType="INTEGER" property="isHide" />
    <result column="store_price" jdbcType="DECIMAL" property="storePrice" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="on_time" jdbcType="TIMESTAMP" property="onTime" />
    <result column="off_time" jdbcType="TIMESTAMP" property="offTime" />
    <result column="del_time" jdbcType="TIMESTAMP" property="delTime" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_id, store_name, spu_id, third_category_id, brand_id, state, is_hide, store_price,
    is_del, on_time, off_time, del_time,en_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pro_store_prod
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pro_store_prod
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <delete id="deleteByEntity"  parameterType="com.meiliwan.emall.pms.bean.ProStoreProd">
        delete from pro_store_prod
        where
        <if test="storeId != null">
              store_id = #{storeId,jdbcType=INTEGER}
        </if>
    </delete>


  <insert id="insert" parameterType="com.meiliwan.emall.pms.bean.ProStoreProd">
    insert into pro_store_prod (id, store_id, store_name, 
      spu_id, third_category_id, brand_id,
      state, is_hide, store_price, 
      is_del, on_time, off_time, 
      del_time,en_name)
    values (#{id,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{storeName,jdbcType=VARCHAR}, 
      #{spuId,jdbcType=INTEGER}, #{thirdCategoryId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER},
      #{state,jdbcType=INTEGER}, #{isHide,jdbcType=INTEGER}, #{storePrice,jdbcType=DECIMAL}, 
      #{isDel,jdbcType=INTEGER}, #{onTime,jdbcType=TIMESTAMP}, #{offTime,jdbcType=TIMESTAMP}, 
      #{delTime,jdbcType=TIMESTAMP},#{enName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.pms.bean.ProStoreProd"
          useGeneratedKeys="true" keyProperty="id">
    insert into pro_store_prod
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="thirdCategoryId != null">
        third_category_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="isHide != null">
        is_hide,
      </if>
      <if test="storePrice != null">
        store_price,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="onTime != null">
        on_time,
      </if>
      <if test="offTime != null">
        off_time,
      </if>
      <if test="delTime != null">
        del_time,
      </if>
        <if test="enName != null">
            en_name,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="spuId != null">
        #{spuId,jdbcType=INTEGER},
      </if>
      <if test="thirdCategoryId != null">
        #{thirdCategoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="isHide != null">
        #{isHide,jdbcType=INTEGER},
      </if>
      <if test="storePrice != null">
        #{storePrice,jdbcType=DECIMAL},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="onTime != null">
        #{onTime,jdbcType=TIMESTAMP},
      </if>
      <if test="offTime != null">
        #{offTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delTime != null">
        #{delTime,jdbcType=TIMESTAMP},
      </if>
        <if test="enName != null">
            #{enName,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.pms.bean.ProStoreProd">
    update pro_store_prod
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="spuId != null">
        spu_id = #{spuId,jdbcType=INTEGER},
      </if>
      <if test="thirdCategoryId != null">
        third_category_id = #{thirdCategoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="isHide != null">
        is_hide = #{isHide,jdbcType=INTEGER},
      </if>
      <if test="storePrice != null">
        store_price = #{storePrice,jdbcType=DECIMAL},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="onTime != null">
        on_time = #{onTime,jdbcType=TIMESTAMP},
      </if>
      <if test="offTime != null">
        off_time = #{offTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delTime != null">
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
        <if test="enName != null">
            en_name = #{delTime,jdbcType=VARCHAR},
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.pms.bean.ProStoreProd">
    update pro_store_prod
    set store_id = #{storeId,jdbcType=INTEGER},
      store_name = #{storeName,jdbcType=VARCHAR},
      spu_id = #{spuId,jdbcType=INTEGER},
      third_category_id = #{thirdCategoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      is_hide = #{isHide,jdbcType=INTEGER},
      store_price = #{storePrice,jdbcType=DECIMAL},
      is_del = #{isDel,jdbcType=INTEGER},
      on_time = #{onTime,jdbcType=TIMESTAMP},
      off_time = #{offTime,jdbcType=TIMESTAMP},
      del_time = #{delTime,jdbcType=TIMESTAMP},
      en_name = #{enName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.id!=null and entity.id &gt;0">
                        and id=#{entity.id,jdbcType=INTEGER}
                    </if>
                    <if test="entity.storeName != null">
                        and store_name = #{entity.storeName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.spuId != null">
                        and spu_id = #{entity.spuId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.thirdCategoryId != null">
                        and third_category_id = #{entity.thirdCategoryId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.brandId != null">
                        and brand_id = #{entity.brandId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.state != null">
                        and state = #{entity.state,jdbcType=INTEGER}
                    </if>
                    <if test="entity.isDel != null">
                        and is_del = #{entity.isDel,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pro_store_prod
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from pro_store_prod
        <include refid="selectCondition" />
    </select>
</mapper>