<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.pms.dao.ProSupplierDao" >
    <resultMap id="BaseResultMap" type="com.meiliwan.emall.pms.bean.ProSupplier" >
        <id column="supplier_id" property="supplierId" jdbcType="INTEGER" />
        <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
        <result column="supplier_linkman" property="supplierLinkman" jdbcType="VARCHAR" />
        <result column="supplier_phone" property="supplierPhone" jdbcType="VARCHAR" />
        <result column="supplier_other_phone" property="supplierOtherPhone" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="operate_type" property="operateType" jdbcType="TINYINT" />
    </resultMap>
    <sql id="Base_Column_List" >
    supplier_id, supplier_name, supplier_linkman, supplier_phone, supplier_other_phone,
    create_time, state, operate_type
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from pro_supplier
        where supplier_id = #{supplierId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pro_supplier
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.meiliwan.emall.pms.bean.ProSupplier" >
    insert into pro_supplier (supplier_id, supplier_name, supplier_linkman,
      supplier_phone, supplier_other_phone, create_time,
      state, operate_type)
    values (#{supplierId,jdbcType=INTEGER}, #{supplierName,jdbcType=VARCHAR}, #{supplierLinkman,jdbcType=VARCHAR},
      #{supplierPhone,jdbcType=VARCHAR}, #{supplierOtherPhone,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{state,jdbcType=TINYINT}, #{operateType,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.meiliwan.emall.pms.bean.ProSupplier" >
        insert into pro_supplier
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="supplierId != null" >
                supplier_id,
            </if>
            <if test="supplierName != null" >
                supplier_name,
            </if>
            <if test="supplierLinkman != null" >
                supplier_linkman,
            </if>
            <if test="supplierPhone != null" >
                supplier_phone,
            </if>
            <if test="supplierOtherPhone != null" >
                supplier_other_phone,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="operateType != null" >
                operate_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="supplierId != null" >
                #{supplierId,jdbcType=INTEGER},
            </if>
            <if test="supplierName != null" >
                #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="supplierLinkman != null" >
                #{supplierLinkman,jdbcType=VARCHAR},
            </if>
            <if test="supplierPhone != null" >
                #{supplierPhone,jdbcType=VARCHAR},
            </if>
            <if test="supplierOtherPhone != null" >
                #{supplierOtherPhone,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null" >
                #{state,jdbcType=TINYINT},
            </if>
            <if test="operateType != null" >
                #{operateType,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.pms.bean.ProSupplier" >
        update pro_supplier
        <set >
            <if test="supplierName != null" >
                supplier_name = #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="supplierLinkman != null" >
                supplier_linkman = #{supplierLinkman,jdbcType=VARCHAR},
            </if>
            <if test="supplierPhone != null" >
                supplier_phone = #{supplierPhone,jdbcType=VARCHAR},
            </if>
            <if test="supplierOtherPhone != null" >
                supplier_other_phone = #{supplierOtherPhone,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="operateType != null" >
                operate_type = #{operateType,jdbcType=TINYINT},
            </if>
        </set>
        where supplier_id = #{supplierId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.pms.bean.ProSupplier" >
    update pro_supplier
    set supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_linkman = #{supplierLinkman,jdbcType=VARCHAR},
      supplier_phone = #{supplierPhone,jdbcType=VARCHAR},
      supplier_other_phone = #{supplierOtherPhone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=TINYINT},
      operate_type = #{operateType,jdbcType=TINYINT}
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.supplierId!=null and entity.supplierId &gt;0">
                        and supplier_id=#{entity.supplierId,jdbcType=INTEGER}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.supplierName!=null">
                        and supplier_name like #{entity.supplierName,jdbcType=VARCHAR}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.supplierLinkman!=null">
                        and supplier_linkman like #{entity.supplierLinkman,jdbcType=VARCHAR}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.supplierPhone!=null">
                        and supplier_phone=#{entity.supplierPhone,jdbcType=VARCHAR}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.supplierOtherPhone!=null">
                        and supplier_other_phone=#{entity.supplierOtherPhone,jdbcType=VARCHAR}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.state!=null">
                        and state=#{entity.state,jdbcType=TINYINT}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.operateType!=null">
                        and operate_type=#{entity.operateType,jdbcType=TINYINT}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pro_supplier
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from pro_supplier
        <include refid="selectCondition"/>
    </select>
</mapper>