.wrap h2,.wrap h3,#footer,#footer a,#dashboard_right_now p.sub,.tablenav .displaying-num,.inline-edit-row fieldset span.title,.inline-edit-row fieldset span.checkbox-title,.setting-description,.form-wrap p,#utc-time,#local-time,.howto,#media-upload p.help,#media-upload label.help
	{
	font-style: normal !important;
}

#screen-meta a.show-settings,#favorite-actions a,#adminmenu .wp-submenu a,.submit input,.button,form.upgrade .button,.button-primary,.button-secondary,div.tablenav .button-secondary,.button-highlighted,#postcustomstuff .submit input,#the-comment-list .comment-item p.comment-actions,.hndle a,#dashboard_quick_press #media-buttons,.subsubsub,#wpcontent select,.widefat td,.widefat th,.inline-edit-row fieldset ul.cat-checklist label,.inline-edit-row .catshow,.inline-edit-row .cathide,.inline-edit-row #bulk-titles div,.form-wrap p,.form-wrap label,.widefat td p,#poststuff .inside,#poststuff .inside p,.form-table td,#wpbody-content .describe td,kbd,code,#edithead .inside,#edithead .inside input,ul#widget-list li.widget-list-item div.widget-description,.widget-control-edit,li.widget-list-control-item div.widget-control,.postbox p,.postbox ul,.postbox ol,.postbox blockquote,#wp-version-message
	{
	font-size: 12px !important;
}

#wphead h1 a span {
	font-size: 12px !important;
}

a {
	text-decoration: none;
}

#active-plugins-table .num,#posts-filter #author,#posts-filter #tags {
	min-width: 50px !important;
}

.inline-editor .date input[name="aa"],#posts-filter #comments,#posts-filter #description
	{
	min-width: 35px !important;
}

.tablenav select#cat {
	width: 135px !important;
}

#adv-settings label,#posts-filter #name {
	min-width: 10em !important;
}

#dashboard_right_now td.first {
	width: 40px;
}

#dashboard_right_now td.last {
	width: 60px;
}

#site-title {
	font-size: 14px !important;
}

#wphead h1 a span {
	font-size: 14px !important;
}

#wphead #site-visit-button {
	font-size: 14px !important;
	line-height: 22px;
}

#post-status-info td#wp-word-count {
	font-size: 12px;
}
.demo-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
/*btn*/
.btn { display: inline-block; overflow: hidden; background: url(../images/bg_btn.png) 0 0 no-repeat;text-indent: -9999em; text-decoration: none;}
.btn-moreOptions,
.btn-fold { width: 129px; height: 30px; }
.btn-moreOptions { background-position: 0 0; }
.btn-moreOptions:hover { background-position: 0 -30px; }
.btn-fold { width: 129px; background-position: 0 -60px; }
.btn-fold:hover { background-position: 0 -90px; }
.btn-sure,
.btn-cancel,
.btn-fold-short,
.btn-multi,
.btn-more,
.btn-more-chose,
.btn-modify { width: 50px; height: 25px; line-height: 25px;}
.btn-sure{ background-position: 0 -120px;}
.btn-sure:hover { background-position: -50px -120px; }
.btn-cancel { background-position: 0 -145px; }
.btn-cancel:hover { background-position: -50px -145px; }
.btn-fold-short { background-position: 0 -170px; }
.btn-fold-short:hover { background-position: -50px -170px; }
.btn-multi { background-position: 0 -195px; }
.btn-multi:hover { background-position: -50px -195px; }
.btn-more { background-position: 0 -220px; }
.btn-more:hover { background-position: -50px -220px; }
.btn-more-chose { background-position: 0 -195px; }
.btn-more-chose:hover { background-position: -50px -195px; }
.btn-modify { background-position: 0 -621px; }
.btn-modify:hover { background-position: -50px -621px; }
.btn-addToCart { width: 96px; height: 28px; background-position: 0 -245px; }
.btn-addToCart:hover { background-position: 0 -273px; }
.btn-addToCart.disabled { background-position: 0 -696px;}
.btn-addToCart.disabled:hover { background-position: 0 -696px; cursor: not-allowed; }
.btn-addToFav { width: 86px; height: 28px; background-position: 0 -301px; }
.btn-addToFav:hover { background-position: 0 -329px; }
.btn-search { width: 40px; height: 20px; background-position: 0 -357px; }
.btn-search:hover { background-position: -46px -357px; }
.btn-search2{width: 54px;height: 30px;background-position: 0 -591px;}
.btn-search2:hover {background-position: -54px -591px;}
.btn-prev,
.btn-next,
.btn-prev2,
.btn-next2 { width: 20px; height: 20px; background-position: 0 -387px; }
.btn-prev:hover { background-position: -20px -387px; }
.btn-next { background-position: 0 -407px; }
.btn-next:hover { background-position: -20px -407px; }
.btn-prev2 { background-position: 0 -427px; }
.btn-prev2:hover { background-position: 0 -450px; }
.btn-next2 { background-position: -20px -427px; }
.btn-next2:hover { background-position: -20px -450px; }
.btn-addToCartBig { width: 150px; height: 40px; background-position: 0 -431px; }
.btn-addToCartBig:hover { background-position: 0 -471px; }
.btn-addToFavBig { width: 120px; height: 40px; background-position: 0 -511px; }
.btn-addToFavBig:hover { background-position: 0 -551px; }
.btn-backToCart{width: 80px;height: 25px;background-position: 0 -646px;}
.btn-backToCart:hover{background-position: 0 -671px;}
.btn-not{ width: 96px; height: 28px; background-position: 0 -724px;cursor: not-allowed;}
.btn-lackOf{width: 150px;height: 40px;background-position: 0 -752px;cursor:not-allowed;}
.btn-lackOf:hover{background-position: 0 -752px;}