/*page*/
.page { clear: both; width: 100%; overflow: hidden;zoom:1; }
.page .left { float: left; height: 25px; margin: 10px 0; padding-left: 10px; }
.page .inner { float: right; height: 25px; margin: 10px 0; padding-right: 10px; }
.page a,
.page a.on,
.page span,
.page i { float: left; display: inline-block; text-align: center; text-decoration: none; height: 23px; line-height: 23px; color: #085c9b; padding: 0 9px; margin: 0 5px; border: 1px solid #d9d9d9; overflow: hidden; }
.page a:hover { text-decoration: none; }
.page a.on,
.page a.on:hover { font-weight: normal; text-decoration: none; color: #d41079; background: #e9e9e9; }
.page a.prev,
.page a.next { text-align: center; padding: 0 6px; }
.page .slh { background: none; margin: 0; border: none; }
.page a.next { margin-right: 10px; }
.page i { position: relative; margin: 0; padding: 0 3px; border: none; font-style: normal; color: #666; display: inline; float: none; }
.page .jump-to,
.page .jump { float: left; }
.page .jump-to { width: 35px; height: 19px; line-height: 19px; margin: 0 5px; border: 1px solid #d3d3d3; float: none; }
.page .jump { width: 35px; height: 25px; margin-left: 10px; float: none; }
.page a.first,
.page a.end { color: #d9d9d9; }
.page span.first,
.page span.end { color: #d9d9d9; }