<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.stock.dao.StockImportResultDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.stock.bean.StockImportResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="total_num" property="totalNum" jdbcType="INTEGER" />
    <result column="stock_short_num" property="stockShortNum" jdbcType="INTEGER" />
    <result column="mismatch_num" property="mismatchNum" jdbcType="INTEGER" />
    <result column="descp" property="descp" jdbcType="VARCHAR" />
    <result column="import_time" property="importTime" jdbcType="TIMESTAMP" />
      <result column="error_num" property="errorNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, batch_no, admin_id, admin_name, file_name, state, total_num, stock_short_num, 
    mismatch_num, descp, import_time, error_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stock_import_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stock_import_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.stock.bean.StockImportResult" >
    insert into stock_import_result (id, batch_no, admin_id, 
      admin_name, file_name, state, 
      total_num, stock_short_num, mismatch_num, 
      descp, import_time, error_num)
    values (#{id,jdbcType=INTEGER}, #{batchNo,jdbcType=VARCHAR}, #{adminId,jdbcType=INTEGER}, 
      #{adminName,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, 
      #{totalNum,jdbcType=INTEGER}, #{stockShortNum,jdbcType=INTEGER}, #{mismatchNum,jdbcType=INTEGER}, 
      #{descp,jdbcType=VARCHAR}, #{importTime,jdbcType=TIMESTAMP},  #{errorNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.stock.bean.StockImportResult" >
    insert into stock_import_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="totalNum != null" >
        total_num,
      </if>
      <if test="stockShortNum != null" >
        stock_short_num,
      </if>
      <if test="mismatchNum != null" >
        mismatch_num,
      </if>
      <if test="descp != null" >
        descp,
      </if>
      <if test="importTime != null" >
        import_time,
      </if>
        <if test="errorNum != null" >
            error_num,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="stockShortNum != null" >
        #{stockShortNum,jdbcType=INTEGER},
      </if>
      <if test="mismatchNum != null" >
        #{mismatchNum,jdbcType=INTEGER},
      </if>
      <if test="descp != null" >
        #{descp,jdbcType=VARCHAR},
      </if>
      <if test="importTime != null" >
        #{importTime,jdbcType=TIMESTAMP},
      </if>
        <if test="errorNum != null" >
            #{errorNum,jdbcType=INTEGER},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.stock.bean.StockImportResult" >
    update stock_import_result
    <set >
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="totalNum != null" >
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="stockShortNum != null" >
        stock_short_num = #{stockShortNum,jdbcType=INTEGER},
      </if>
      <if test="mismatchNum != null" >
        mismatch_num = #{mismatchNum,jdbcType=INTEGER},
      </if>
      <if test="descp != null" >
        descp = #{descp,jdbcType=VARCHAR},
      </if>
      <if test="importTime != null" >
        import_time = #{importTime,jdbcType=TIMESTAMP},
      </if>
        <if test="errorNum != null" >
            error_num = #{errorNum,jdbcType=INTEGER},
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.stock.bean.StockImportResult" >
    update stock_import_result
    set batch_no = #{batchNo,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=INTEGER},
      admin_name = #{adminName,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      total_num = #{totalNum,jdbcType=INTEGER},
      stock_short_num = #{stockShortNum,jdbcType=INTEGER},
      mismatch_num = #{mismatchNum,jdbcType=INTEGER},
      descp = #{descp,jdbcType=VARCHAR},
      import_time = #{importTime,jdbcType=TIMESTAMP},
      error_num = #{errorNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.id!=null and entity.id &gt;0">
                        and id=#{entity.id,jdbcType=INTEGER}
                    </if>
                    <if test="entity.batchNo!=null">
                        and batch_no=#{entity.batchNo,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.state!=null">
                        and state=#{entity.state,jdbcType=INTEGER}
                    </if>
                    <if test="entity.updateTimeMin != null">
                        and import_time &gt;= #{entity.updateTimeMin,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.updateTimeMax != null">
                        and import_time &lt;= #{entity.updateTimeMax,jdbcType=TIMESTAMP}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_import_result
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from stock_import_result
        <include refid="selectCondition"/>
    </select>

    <!-- 通过批次号获导入结果 -->
    <select id="getResultByBatchNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_import_result
        where batch_no = #{id,jdbcType=VARCHAR}
    </select>
</mapper>