<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.stock.dao.StockImportLogDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.stock.bean.StockImportLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="original_stock" property="originalStock" jdbcType="INTEGER" />
    <result column="change_stock" property="changeStock" jdbcType="INTEGER" />
    <result column="now_stock" property="nowStock" jdbcType="INTEGER" />
    <result column="descp" property="descp" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, batch_no, bar_code, state, original_stock, change_stock, now_stock, descp, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stock_import_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stock_import_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.stock.bean.StockImportLog" >
    insert into stock_import_log (id, batch_no, bar_code, 
      state, original_stock, change_stock, 
      now_stock, descp, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{batchNo,jdbcType=VARCHAR}, #{barCode,jdbcType=VARCHAR}, 
      #{state,jdbcType=TINYINT}, #{originalStock,jdbcType=INTEGER}, #{changeStock,jdbcType=INTEGER}, 
      #{nowStock,jdbcType=INTEGER}, #{descp,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.stock.bean.StockImportLog" >
    insert into stock_import_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="barCode != null" >
        bar_code,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="originalStock != null" >
        original_stock,
      </if>
      <if test="changeStock != null" >
        change_stock,
      </if>
      <if test="nowStock != null" >
        now_stock,
      </if>
      <if test="descp != null" >
        descp,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null" >
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="originalStock != null" >
        #{originalStock,jdbcType=INTEGER},
      </if>
      <if test="changeStock != null" >
        #{changeStock,jdbcType=INTEGER},
      </if>
      <if test="nowStock != null" >
        #{nowStock,jdbcType=INTEGER},
      </if>
      <if test="descp != null" >
        #{descp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.stock.bean.StockImportLog" >
    update stock_import_log
    <set >
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null" >
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="originalStock != null" >
        original_stock = #{originalStock,jdbcType=INTEGER},
      </if>
      <if test="changeStock != null" >
        change_stock = #{changeStock,jdbcType=INTEGER},
      </if>
      <if test="nowStock != null" >
        now_stock = #{nowStock,jdbcType=INTEGER},
      </if>
      <if test="descp != null" >
        descp = #{descp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.stock.bean.StockImportLog" >
    update stock_import_log
    set batch_no = #{batchNo,jdbcType=VARCHAR},
      bar_code = #{barCode,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      original_stock = #{originalStock,jdbcType=INTEGER},
      change_stock = #{changeStock,jdbcType=INTEGER},
      now_stock = #{nowStock,jdbcType=INTEGER},
      descp = #{descp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.id!=null and entity.id &gt;0">
                        and id=#{entity.id,jdbcType=INTEGER}
                    </if>
                    <if test="entity.batchNo!=null">
                        and batch_no=#{entity.batchNo,jdbcType=INTEGER}
                    </if>
                    <if test="entity.barCode!=null">
                        and bar_code=#{entity.barCode,jdbcType=INTEGER}
                    </if>
                    <if test="entity.state!=null">
                        and state=#{entity.state,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_import_log
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from stock_import_log
        <include refid="selectCondition"/>
    </select>

    <insert id="addStockImportLogOnBatch" parameterType="java.util.List">
        insert into stock_import_log (batch_no, bar_code, state, original_stock, change_stock, now_stock, descp, create_time)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.batchNo},#{item.barCode},#{item.state},#{item.originalStock},#{item.changeStock},#{item.nowStock},#{item.descp},#{item.createTime})
        </foreach>
    </insert>
</mapper>