<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.base.dao.BaseMsgTemplateDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.base.bean.BaseMsgTemplate" >
    <id column="tmp_id" property="tmpId" jdbcType="INTEGER" />
    <result column="tmp_type" property="tmpType" jdbcType="TINYINT" />
    <result column="content_type" property="contentType" jdbcType="TINYINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    tmp_id, tmp_type, content_type, content, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_msg_template
    where tmp_id = #{tmpId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_msg_template
    where tmp_id = #{tmpId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.base.bean.BaseMsgTemplate" >
    insert into base_msg_template (tmp_id, tmp_type, content_type, 
      content, create_time)
    values (#{tmpId,jdbcType=INTEGER}, #{tmpType,jdbcType=TINYINT}, #{contentType,jdbcType=TINYINT}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.base.bean.BaseMsgTemplate" >
    insert into base_msg_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tmpId != null" >
        tmp_id,
      </if>
      <if test="tmpType != null" >
        tmp_type,
      </if>
      <if test="contentType != null" >
        content_type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tmpId != null" >
        #{tmpId,jdbcType=INTEGER},
      </if>
      <if test="tmpType != null" >
        #{tmpType,jdbcType=TINYINT},
      </if>
      <if test="contentType != null" >
        #{contentType,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.base.bean.BaseMsgTemplate" >
    update base_msg_template
    <set >
      <if test="tmpType != null" >
        tmp_type = #{tmpType,jdbcType=TINYINT},
      </if>
      <if test="contentType != null" >
        content_type = #{contentType,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where tmp_id = #{tmpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.base.bean.BaseMsgTemplate" >
    update base_msg_template
    set tmp_type = #{tmpType,jdbcType=TINYINT},
      content_type = #{contentType,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR}
    where tmp_id = #{tmpId,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.tmpId != null">
                        and tmp_id = #{entity.tmpId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.tmpType!=null">
                        and tmp_type=#{entity.tmpType,jdbcType=TINYINT}
                    </if>
                    <if test="entity.contentType != null">
                        and content_type = #{entity.contentType,jdbcType=TINYINT}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from base_msg_template
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from base_msg_template
        <include refid="selectCondition" />
    </select>
</mapper>