<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.base.dao.BaseInfoItemDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.base.bean.BaseInfoItem" >
    <id column="info_item_id" property="infoItemId" jdbcType="INTEGER" />
    <result column="info_item_name" property="infoItemName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="item_type" property="itemType" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    info_item_id, info_item_name, parent_id, item_type, create_time, update_time,file_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_info_item
    where info_item_id = #{infoItemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_info_item
    where info_item_id = #{infoItemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.base.bean.BaseInfoItem" useGeneratedKeys="true" keyProperty="infoItemId" >
    insert into base_info_item (info_item_id, info_item_name, parent_id, 
      item_type, create_time, update_time, file_name
      )
    values (#{infoItemId,jdbcType=INTEGER}, #{infoItemName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{itemType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{fileName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.base.bean.BaseInfoItem" useGeneratedKeys="true" keyProperty="infoItemId" >
    insert into base_info_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoItemId != null" >
        info_item_id,
      </if>
      <if test="infoItemName != null" >
        info_item_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="itemType != null" >
        item_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
        <if test="fileName != null" >
            file_name,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoItemId != null" >
        #{infoItemId,jdbcType=INTEGER},
      </if>
      <if test="infoItemName != null" >
        #{infoItemName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="itemType != null" >
        #{itemType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="fileName != null" >
            #{fileName,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.base.bean.BaseInfoItem" >
    update base_info_item
    <set >
      <if test="infoItemName != null" >
        info_item_name = #{infoItemName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="itemType != null" >
        item_type = #{itemType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="fileName != null" >
            file_name = #{fileName,jdbcType=VARCHAR},
        </if>
    </set>
    where info_item_id = #{infoItemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.base.bean.BaseInfoItem" >
    update base_info_item
    set info_item_name = #{infoItemName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      item_type = #{itemType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
       file_name = #{fileName,jdbcType=VARCHAR}
    where info_item_id = #{infoItemId,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.infoItemId!=null and entity.infoItemId &gt;0">
                        and info_item_id=#{entity.infoItemId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.parentId != null">
                        and parent_id = #{entity.parentId,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.itemType != null">
                        and item_type = #{entity.itemType,jdbcType=VARCHAR}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from base_info_item
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from base_info_item
        <include refid="selectCondition" />
    </select>
</mapper>