<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.base.dao.BaseTransportAreaPayDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.base.bean.BaseTransportAreaPay">
    <id column="trans_company_id" jdbcType="INTEGER" property="transCompanyId" />
    <id column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="free_support" jdbcType="TINYINT" property="freeSupport" />
    <result column="full_free_support" jdbcType="DECIMAL" property="fullFreeSupport" />
    <result column="cash_on_delivery" jdbcType="TINYINT" property="cashOnDelivery" />
	<result column="state" jdbcType="TINYINT" property="state" />
	<result column="predict_time_min" jdbcType="INTEGER" property="predictTimeMin" />
	<result column="predict_time_max" jdbcType="INTEGER" property="predictTimeMax" />
	
  </resultMap>
    <resultMap id="TransportAreaDTO" type="com.meiliwan.emall.base.dto.TransportAreaDTO" >
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="trans_company_id" property="transCompanyId" jdbcType="INTEGER" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="area_name1" property="areaName1" jdbcType="VARCHAR" />
    <result column="area_name2" property="areaName2" jdbcType="VARCHAR" />
    <result column="area_name3" property="areaName3" jdbcType="VARCHAR" />
    <result column="area_code1" property="areaCode1" jdbcType="VARCHAR" />
    <result column="area_code2" property="areaCode2" jdbcType="VARCHAR" />
    <result column="cash_on_delivery" property="cashOnDelivery" jdbcType="TINYINT" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="free_support" property="freeSupport" jdbcType="TINYINT" />
    <result column="full_free_support" property="fullFreeSupport" jdbcType="DECIMAL" />
    <result column="area_grade" property="areaGrade" jdbcType="TINYINT" />
   	<result column="state" jdbcType="TINYINT" property="state" />
	<result column="predict_time_min" jdbcType="INTEGER" property="predictTimeMin" />
	<result column="predict_time_max" jdbcType="INTEGER" property="predictTimeMax" />
  </resultMap>
  
   <sql id="Base_Column_List">
    trans_company_id, area_code, price, free_support, full_free_support, cash_on_delivery,predict_time_min,predict_time_max,state
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.meiliwan.emall.base.bean.AreaPayKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_transport_area_pay
    where trans_company_id = #{transCompanyId,jdbcType=INTEGER}
      and area_code = #{areaCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.meiliwan.emall.base.bean.AreaPayKey">
    delete from base_transport_area_pay
    where trans_company_id = #{transCompanyId,jdbcType=INTEGER}
      and area_code = #{areaCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.base.bean.BaseTransportAreaPay">
    insert into base_transport_area_pay (trans_company_id, area_code, price, 
      free_support, full_free_support, cash_on_delivery,predict_time_min,predict_time_max,state
      )
    values (#{transCompanyId,jdbcType=INTEGER}, #{areaCode,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{freeSupport,jdbcType=TINYINT}, #{fullFreeSupport,jdbcType=DECIMAL}, #{cashOnDelivery,jdbcType=TINYINT},
       #{predictTimeMin,jdbcType=INTEGER},#{predictTimeMax,jdbcType=INTEGER},#{state,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.base.bean.BaseTransportAreaPay">
    insert into base_transport_area_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transCompanyId != null">
        trans_company_id,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="freeSupport != null">
        free_support,
      </if>
      <if test="fullFreeSupport != null">
        full_free_support,
      </if>
      <if test="cashOnDelivery != null">
        cash_on_delivery,
      </if>
      <if test="predictTimeMin != null">
        predict_time_min,
      </if>
      <if test="predictTimeMax != null">
        predict_time_max,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transCompanyId != null">
        #{transCompanyId,jdbcType=INTEGER},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="freeSupport != null">
        #{freeSupport,jdbcType=TINYINT},
      </if>
      <if test="fullFreeSupport != null">
        #{fullFreeSupport,jdbcType=DECIMAL},
      </if>
      <if test="cashOnDelivery != null">
        #{cashOnDelivery,jdbcType=TINYINT},
      </if>
      <if test="predictTimeMin != null">
        #{predictTimeMin,jdbcType=INTEGER},
      </if>
      <if test="predictTimeMax != null">
        #{predictTimeMax,jdbcType=INTEGER},
      </if>
       <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.base.bean.BaseTransportAreaPay">
    update base_transport_area_pay
    <set>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="freeSupport != null">
        free_support = #{freeSupport,jdbcType=TINYINT},
      </if>
      <if test="fullFreeSupport != null">
        full_free_support = #{fullFreeSupport,jdbcType=DECIMAL},
      </if>
      <if test="cashOnDelivery != null">
        cash_on_delivery = #{cashOnDelivery,jdbcType=TINYINT},
      </if>
      <if test="predictTimeMin != null">
        predict_time_min = #{predictTimeMin,jdbcType=INTEGER},
      </if>
      <if test="predictTimeMax != null">
        predict_time_max = #{predictTimeMax,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where trans_company_id = #{transCompanyId,jdbcType=INTEGER}
      and area_code = #{areaCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.base.bean.BaseTransportAreaPay">
    update base_transport_area_pay
    set price = #{price,jdbcType=DECIMAL},
      free_support = #{freeSupport,jdbcType=TINYINT},
      full_free_support = #{fullFreeSupport,jdbcType=DECIMAL},
      cash_on_delivery = #{cashOnDelivery,jdbcType=TINYINT},
      predict_time_min = #{predictTimeMin,jdbcType=INTEGER},
      predict_time_max = #{predictTimeMax,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT}
    where trans_company_id = #{transCompanyId,jdbcType=INTEGER}
      and area_code = #{areaCode,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByCompany" parameterType="com.meiliwan.emall.base.bean.BaseTransportAreaPay">
    update base_transport_area_pay
    set state = #{state,jdbcType=TINYINT}
    where trans_company_id = #{transCompanyId,jdbcType=INTEGER}
  </update>
  
  <!-- get the id exist for update  批量更新-->
 <update id="updateByAreaCodes" parameterType="hashmap" >
    update base_transport_area_pay
    <set>
      <if test="entity.price != null">
        price = #{entity.price,jdbcType=DECIMAL},
      </if>
      <if test="entity.freeSupport != null">
        free_support = #{entity.freeSupport,jdbcType=TINYINT},
      </if>
      <if test="entity.fullFreeSupport != null">
        full_free_support = #{entity.fullFreeSupport,jdbcType=DECIMAL},
      </if>
      <if test="entity.cashOnDelivery != null">
        cash_on_delivery = #{entity.cashOnDelivery,jdbcType=TINYINT},
      </if>
      <if test="entity.predictTimeMin != null">
        predict_time_min = #{entity.predictTimeMin,jdbcType=INTEGER},
      </if>
      <if test="entity.predictTimeMax != null">
        predict_time_max = #{entity.predictTimeMax,jdbcType=INTEGER},
      </if>
      <if test="entity.state != null">
        state = #{entity.state,jdbcType=TINYINT},
      </if>
    </set>
     where trans_company_id=#{entity.transCompanyId,jdbcType=INTEGER} 
         and area_code in
        <foreach item="item" collection="ids" 
            open="(" separator="," close=")" >
            #{item}
        </foreach>
  </update>
  
  <!-- get the id exist for update  -->
 <select id="getAreaCodeExists" parameterType="hashmap" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
      from base_transport_area_pay
         where 
         trans_company_id=#{transCompanyId,jdbcType=INTEGER} 
         and area_code in
        <foreach item="item" collection="ids" 
            open="(" separator="," close=")" >
            #{item}
        </foreach>
        
 </select>
 

    
 
  


 
 <!-- 配送地区优先,然后判断配送地区的属性 right-->
   <select id="getAreaByPid" resultMap="TransportAreaDTO">
   		select b.area_code,b.area_name,a.cash_on_delivery,a.price,  
   		a.free_support,a.full_free_support,a.predict_time_min,a.predict_time_max   
		from base_transport_area_pay a right join base_area_management  b 
		on a.area_code = b.area_code and a.trans_company_id=${entity.transCompanyId}
		where b.parent_code= ${entity.parentCode}
		
   </select>
   
   <!-- 前台 -->  <!-- MLW的配送地区 -->
   <select id="getTansportAreaByPid" resultMap="TransportAreaDTO">
   		select b.area_code,b.area_name,d.cash_on_delivery,d.price,  
   		d.free_support,d.full_free_support,d.predict_time_min,d.predict_time_max,b.area_grade,b.parent_code   
		from base_transport_area_pay d left join base_area_management  b 
		on d.area_code = b.area_code 
		where 1=1 
		<include refid="selectCondition"/>
   </select>
  
   <sql id="selectCondition">
       <trim suffixOverrides="and">
           <if test="entity != null">
               <if test="entity.transCompanyId!=null">
               	and d.trans_company_id=#{entity.transCompanyId,jdbcType=INTEGER}
               </if>
               <if test="entity.notTransCompanyId!=null">
               	and d.trans_company_id!=#{entity.notTransCompanyId,jdbcType=INTEGER}
               </if>
               <if test="entity.parentCode!=null">
               	 and b.parent_code= #{entity.parentCode,jdbcType=INTEGER}
               </if>
               <if test="entity.cashOnDelivery!=null">
               	 and d.cash_on_delivery=#{entity.cashOnDelivery,jdbcType=INTEGER}
               </if>
               <if test="entity.areaCode!=null">
               	 and d.area_code=#{entity.areaCode,jdbcType=INTEGER}
               </if>
                <if test="entity.state!=null">
               	 and d.state=#{entity.state,jdbcType=INTEGER}
               </if>
           </if>
       </trim>
       <trim suffixOverrides="and">
           <if test="whereSql!=null">
               and ${whereSql}
           </if>
       </trim>
    </sql>
    
    <sql id="baseSelectCondition">
    <where>
       <trim suffixOverrides="and">
           <if test="entity != null">
               <if test="entity.transCompanyId!=null">
               	and trans_company_id=#{entity.transCompanyId,jdbcType=INTEGER}
               </if>
               <if test="entity.cashOnDelivery!=null">
               	 and cash_on_delivery=#{entity.cashOnDelivery,jdbcType=INTEGER}
               </if>
               <if test="entity.areaCode!=null">
               	 and area_code=#{entity.areaCode,jdbcType=INTEGER}
               </if>
               <if test="entity.state!=null">
               	 and state=#{entity.state,jdbcType=INTEGER}
               </if>
           </if>
       </trim>
       <trim suffixOverrides="and">
           <if test="whereSql!=null">
               and ${whereSql}
           </if>
       </trim>
       </where>
    </sql>
    
   <!-- 全部配送区域,后台的查看区域,四级 -->
   <select id="getAllPayService" resultMap="TransportAreaDTO">
   		select a.area_name,b.area_name area_name1,c.area_name area_name2,e.area_name area_name3,
		d.price,d.cash_on_delivery,d.predict_time_min,d.predict_time_max from 
		base_area_management a,base_area_management b,base_area_management c,
		base_area_management e,base_transport_area_pay d
		where a.parent_code='1000'
		and a.area_code=b.parent_code
		and b.area_code=c.parent_code
		and c.area_code=e.parent_code
		and c.area_code=d.area_code
		<include refid="selectCondition"/>
		<if test="pageInfo!=null">
          limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
    </if>
   </select>
   
   <!-- 后台分页,三级 -->
   <select id="getAllPayServiceThree" resultMap="TransportAreaDTO">
   		select a.area_name,b.area_name area_name1,c.area_name area_name2,
   		a.area_code,b.area_code area_code1,c.area_code area_code2,
		d.price,d.cash_on_delivery,d.area_code,
		d.free_support,d.full_free_support 
		 from 
		base_area_management a,base_area_management b,
		base_area_management c,base_transport_area_pay d
		where a.parent_code='1000'
		and a.area_code=b.parent_code
		and b.area_code=c.parent_code
		and c.area_code=d.area_code
		<include refid="selectCondition"/>
		<if test="pageInfo!=null">
          limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
    </if>
   </select>
   
    <select id="getTransportAreaServeTotal"
          resultType="java.lang.Integer">
      select count(*) from 
		base_area_management a,base_area_management b,
		base_area_management c,base_transport_area_pay d
		where a.parent_code='1000'
		and a.area_code=b.parent_code
		and b.area_code=c.parent_code
		and c.area_code=d.area_code
		<include refid="selectCondition"/>
  </select>
  
  
  <select id="getAllTransportAreaServeTotal"
          resultType="java.lang.Integer">
	select d.area_code,d.price,d.free_support,d.full_free_support, 
		b.area_name,b.parent_code,b.area_grade 
	from base_transport_area_pay d, base_area_management b
	where d.area_code=b.area_code 
	<include refid="selectCondition"/>
  </select>
  
  <!-- 根据areaCode取得货到付款的列表 -->
   <select id="selectByareaCode" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_transport_area_pay d
   <include refid="baseSelectCondition"/>
  </select>
  
</mapper>