<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.base.dao.BaseInfoContentDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.base.bean.BaseInfoContent" >
    <id column="info_id" property="infoId" jdbcType="INTEGER" />
    <result column="info_name" property="infoName" jdbcType="VARCHAR" />
    <result column="info_item_id" property="infoItemId" jdbcType="INTEGER" />
    <result column="info_content" property="infoContent" jdbcType="LONGVARCHAR" />
    <result column="seo_title" property="seoTitle" jdbcType="LONGVARCHAR" />
    <result column="seo_keywords" property="seoKeywords" jdbcType="LONGVARCHAR" />
    <result column="seo_descp" property="seoDescp" jdbcType="LONGVARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    info_id, info_name, info_item_id, info_content,seo_title,seo_keywords,seo_descp, sequence, state, create_time, publish_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_info_content
    where info_id = #{infoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_info_content
    where info_id = #{infoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.base.bean.BaseInfoContent" useGeneratedKeys="true" keyProperty="infoId" >
    insert into base_info_content (info_id, info_name, info_item_id, sequence, state,
      create_time, publish_time, update_time,
      info_content,seo_title,seo_keywords,seo_descp)
    values (#{infoId,jdbcType=INTEGER}, #{infoName,jdbcType=VARCHAR}, #{infoItemId,jdbcType=INTEGER},
      #{sequence,jdbcType=INTEGER}, #{state,jdbcType=SMALLINT},
      #{createTime,jdbcType=TIMESTAMP}, #{publishTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{infoContent,jdbcType=LONGVARCHAR},#{seoTitle,jdbcType=LONGVARCHAR},#{seoKeywords,jdbcType=LONGVARCHAR},#{seoDescp,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.base.bean.BaseInfoContent" useGeneratedKeys="true" keyProperty="infoId" >
    insert into base_info_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="infoName != null" >
        info_name,
      </if>
      <if test="infoItemId != null" >
        info_item_id,
      </if>
        <if test="sequence != null" >
            sequence,
        </if>
        <if test="state != null" >
            state,
        </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="infoContent != null" >
        info_content,
      </if>
        <if test="seoTitle != null" >
            seo_title,
        </if>
        <if test="seoKeywords != null" >
            seo_keywords,
        </if>
        <if test="seoDescp != null" >
            seo_descp,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoId != null" >
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="infoName != null" >
        #{infoName,jdbcType=VARCHAR},
      </if>
      <if test="infoItemId != null" >
        #{infoItemId,jdbcType=INTEGER},
      </if>
        <if test="sequence != null" >
            #{sequence,jdbcType=INTEGER},
        </if>
        <if test="state != null" >
            #{state,jdbcType=SMALLINT},
        </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="infoContent != null" >
        #{infoContent,jdbcType=LONGVARCHAR},
      </if>
        <if test="seoTitle != null" >
            #{seoTitle,jdbcType=LONGVARCHAR},
        </if>
        <if test="seoKeywords != null" >
            #{seoKeywords,jdbcType=LONGVARCHAR},
        </if>
        <if test="seoDescp != null" >
            #{seoDescp,jdbcType=LONGVARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.base.bean.BaseInfoContent" >
    update base_info_content
    <set >
      <if test="infoName != null" >
        info_name = #{infoName,jdbcType=VARCHAR},
      </if>
      <if test="infoItemId != null" >
        info_item_id = #{infoItemId,jdbcType=INTEGER},
      </if>
        <if test="sequence != null" >
            sequence = #{sequence,jdbcType=INTEGER},
        </if>
        <if test="state != null" >
            state = #{state,jdbcType=SMALLINT},
        </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="infoContent != null" >
        info_content = #{infoContent,jdbcType=LONGVARCHAR},
      </if>
        <if test="seoTitle != null" >
            seo_title = #{seoTitle,jdbcType=LONGVARCHAR},
        </if>
        <if test="seoKeywords != null" >
            seo_keywords = #{seoKeywords,jdbcType=LONGVARCHAR},
        </if>
        <if test="seoDescp != null" >
            seo_descp = #{seoDescp,jdbcType=LONGVARCHAR},
        </if>
    </set>
    where info_id = #{infoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.base.bean.BaseInfoContent" >
    update base_info_content
    set info_name = #{infoName,jdbcType=VARCHAR},
      info_item_id = #{infoItemId,jdbcType=INTEGER},
      sequence = #{sequence,jdbcType=INTEGER},
      state = #{state,jdbcType=SMALLINT},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      info_content = #{infoContent,jdbcType=LONGVARCHAR},
      seo_title = #{seoTitle,jdbcType=LONGVARCHAR},
      seo_keywords = #{seoKeywords,jdbcType=LONGVARCHAR},
      seo_descp = #{seoDescp,jdbcType=LONGVARCHAR}
    where info_id = #{infoId,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.infoId!=null and entity.infoId &gt;0">
                        and info_id=#{entity.infoId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.infoItemId!=null and entity.infoItemId &gt;0">
                        and info_item_id=#{entity.infoItemId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.state!=null">
                        and state=#{entity.state,jdbcType=SMALLINT}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from base_info_content
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from base_info_content
        <include refid="selectCondition" />
    </select>
</mapper>