<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.oms.dao.OrdiDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.oms.dto.OrdiDTO" >
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_item_id" property="orderItemId" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="pro_cate_id" property="proCateId" jdbcType="INTEGER" />
      <result column="pro_bar_code" property="proBarCode" jdbcType="VARCHAR" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="pro_pic" property="proPic" jdbcType="VARCHAR" />
    <result column="uint_price" property="uintPrice" jdbcType="DECIMAL" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="order_real_pay_amount" property="orderRealPayAmount" jdbcType="DECIMAL" />
      <result column="favorable_amount" property="favorableAmount" jdbcType="DECIMAL" />
    <result column="transport_fee" property="transportFee" jdbcType="DECIMAL" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
    <result column="sale_unit" property="saleUnit" jdbcType="VARCHAR" />
    <result column="order_item_status" property="orderItemStatus" jdbcType="VARCHAR" />
    <result column="status_type" property="statusType" jdbcType="VARCHAR" />
    <result column="status_code" property="statusCode" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="TINYINT" />
    <result column="recv_addr_id" property="recvAddrId" jdbcType="INTEGER" />
    <result column="recv_name" property="recvName" jdbcType="VARCHAR" />
    <result column="buy_type" property="buyType" jdbcType="VARCHAR" />
    <result column="pay_code" property="payCode" jdbcType="VARCHAR" />
    <result column="pay_name" property="payName" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="ret_flag" property="retFlag" jdbcType="TINYINT" />
    <result column="sub_stock_flag" property="subStockFlag" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
      <result column="act_single_id" property="actSingleId" jdbcType="INTEGER" />
      <result column="act_multi_id" property="actMultiId" jdbcType="INTEGER" />
  </resultMap>
    <resultMap id="BaseResultOmsOrdi" type="com.meiliwan.emall.oms.bean.Ordi" >
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="order_item_id" property="orderItemId" jdbcType="VARCHAR" />
        <result column="order_type" property="orderType" jdbcType="VARCHAR" />
        <result column="pro_id" property="proId" jdbcType="INTEGER" />
        <result column="pro_bar_code" property="proBarCode" jdbcType="VARCHAR" />
        <result column="pro_cate_id" property="proCateId" jdbcType="INTEGER" />
        <result column="pro_name" property="proName" jdbcType="VARCHAR" />
        <result column="pro_pic" property="proPic" jdbcType="VARCHAR" />
        <result column="uint_price" property="uintPrice" jdbcType="DECIMAL" />
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
        <result column="brand_id" property="brandId" jdbcType="INTEGER" />
        <result column="order_real_pay_amount" property="orderRealPayAmount" jdbcType="DECIMAL" />
        <result column="favorable_amount" property="favorableAmount" jdbcType="DECIMAL" />
        <result column="transport_fee" property="transportFee" jdbcType="DECIMAL" />
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
        <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
        <result column="sale_unit" property="saleUnit" jdbcType="VARCHAR" />
        <result column="order_item_status" property="orderItemStatus" jdbcType="VARCHAR" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="bill_type" property="billType" jdbcType="TINYINT" />
        <result column="recv_addr_id" property="recvAddrId" jdbcType="INTEGER" />
        <result column="recv_name" property="recvName" jdbcType="VARCHAR" />
        <result column="buy_type" property="buyType" jdbcType="VARCHAR" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="ret_flag" property="retFlag" jdbcType="TINYINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="sub_stock_flag" property="subStockFlag" jdbcType="TINYINT" />
        <result column="act_single_id" property="actSingleId" jdbcType="INTEGER" />
        <result column="act_multi_id" property="actMultiId" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="BaseResultSaleProduct" type="com.meiliwan.emall.oms.dto.SaleProOrdDTO" >
        <result column="pro_id" property="proId" jdbcType="INTEGER" />
        <result column="pro_cate_id" property="proCateId" jdbcType="INTEGER" />
        <result column="pro_name" property="proName" jdbcType="VARCHAR" />
        <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="uint_price" property="unitPrice" jdbcType="DECIMAL" />
    </resultMap>
  <sql id="Base_Column_List" >
    oi.order_item_id, oi.order_id, oi.order_type, oi.pro_id, oi.pro_bar_code, oi.pro_cate_id, oi.pro_name, oi.pro_pic,oi.uint_price, oi.supplier_id,
    oi.brand_id, oi.order_real_pay_amount, oi.favorable_amount, oi.transport_fee, oi.total_amount, oi.sale_num, oi.sale_unit, oi.order_item_status, oi.uid, oi.user_name,
    oi.bill_type, oi.recv_addr_id,oi.recv_name, oi.buy_type, oi.pay_time, oi.create_time, oi.update_time, oi.state, oi.ret_flag, oi.remark, oi.sub_stock_flag, oi.act_single_id, oi.act_multi_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultOmsOrdi" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from oms_ordi oi
    where oi.order_item_id = #{orderItemId,jdbcType=VARCHAR}
  </select>
  <select id="getByOrderId" resultMap="BaseResultOmsOrdi" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from oms_ordi oi
    where oi.order_id = #{orderId,jdbcType=VARCHAR}
  </select>
    <select id="getOneByOrderId" resultMap="BaseResultOmsOrdi" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from oms_ordi oi
        where oi.order_id = #{orderId,jdbcType=VARCHAR} LIMIT 1
    </select>
    <select id="getDTOByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from oms_ordi oi
        where oi.order_id = #{orderId,jdbcType=VARCHAR}
    </select>

    <select id="getDTOByOrderIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from oms_ordi oi
        where oi.order_id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getDTOByOrderQueryDTO" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.oms.dto.OrderQueryDTO" >
        select
        <include refid="Base_Column_List" />
        from oms_ordi oi
        where oi.order_id = #{orderId,jdbcType=VARCHAR}
        <if test="billType != null" >
            AND oi.bill_type = #{billType,jdbcType=TINYINT}
        </if>
        <if test="orderType != null" >
            AND oi.order_type = #{orderType,jdbcType=VARCHAR}
        </if>
        <if test="state != null" >
            AND oi.state = #{state,jdbcType=TINYINT}
        </if>
        <if test="uid != null" >
            AND oi.uid = #{uid,jdbcType=INTEGER}
        </if>
    </select>
    <select id="getDTOByOrderIdAndStatus" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.oms.dto.OrderQueryDTO" >
        select
        <include refid="Base_Column_List" />
        from oms_ordi oi RIGHT JOIN oms_ordi_status ois ON oi.order_item_id=ois.order_item_id
        where oi.order_id = #{orderId,jdbcType=VARCHAR} AND ois.status_type= #{statusType,jdbcType=VARCHAR} 
        <if test="orderItemStatus != null" >
            AND ois.status_code= #{orderItemStatus,jdbcType=VARCHAR}
        </if>
        <if test="billType != null" >
            AND oi.bill_type = #{billType,jdbcType=TINYINT}
        </if>
        <if test="orderType != null" >
            AND oi.order_type = #{orderType,jdbcType=VARCHAR}
        </if>
        <if test="state != null" >
            AND oi.state = #{state,jdbcType=TINYINT}
        </if>
    </select>
    <!-- 配送orderId查找 -->
    <select id="getDTOByOrderIdAndOISState" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.oms.dto.OrderQueryDTO" >
        select
        <include refid="Base_Column_List" />,ois.status_type,ois.status_code 
        from oms_ordi oi RIGHT JOIN oms_ordi_status ois ON oi.order_item_id=ois.order_item_id
        where oi.order_id = #{orderId,jdbcType=VARCHAR} AND ois.status_type= #{statusType,jdbcType=VARCHAR}
         <if test="orderItemStatus != null" >
         	AND ois.status_code= #{orderItemStatus,jdbcType=VARCHAR}
         </if>
        <if test="billType != null" >
            AND oi.bill_type = #{billType,jdbcType=TINYINT}
        </if>
        <if test="orderType != null" >
            AND oi.order_type = #{orderType,jdbcType=VARCHAR}
        </if>
        <if test="state != null" >
            AND ois.state = #{state,jdbcType=TINYINT}
        </if>
    </select>
  <update id="updateOrdIStatus" parameterType="com.meiliwan.emall.oms.bean.Ordi" >
    update oms_ordi set order_item_status = #{orderItemStatus,jdbcType=VARCHAR}, update_time = #{updateTime,jdbcType=TIMESTAMP}
      <if test="orderType != null" >
          , order_type = #{orderType,jdbcType=VARCHAR}
      </if>
    where order_item_id = #{orderItemId,jdbcType=VARCHAR}
  </update>
    <update id="updateOrdIRetFlag" parameterType="com.meiliwan.emall.oms.bean.Ordi" >
        update oms_ordi set ret_flag = #{retFlag,jdbcType=TINYINT}, 
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        <if test="orderItemStatus != null" >
          , order_item_status = #{orderItemStatus,jdbcType=VARCHAR}
      	</if>
        where order_item_id = #{orderItemId,jdbcType=VARCHAR}
    </update>
  <update id="updateAllOrdIStatus" parameterType="com.meiliwan.emall.oms.bean.Ord" >
    update oms_ordi set order_item_status = #{orderItemStatus,jdbcType=VARCHAR}, update_time = #{updateTime,jdbcType=TIMESTAMP}
      <if test="payTime != null" >
          , pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByEntity" parameterType="com.meiliwan.emall.oms.bean.Ordi" >
    update oms_ordi set state=#{state,jdbcType=TINYINT}, update_time = #{updateTime,jdbcType=TIMESTAMP}
    where
      <if test="orderId != null" >
          order_id = #{orderId,jdbcType=VARCHAR}
      </if>
      <if test="orderItemId != null">
          order_item_id = #{orderItemId,jdbcType=VARCHAR}
      </if>
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.oms.bean.Ordi" >
    insert into oms_ordi (order_id, order_item_id, order_type,
      pro_id, pro_bar_code, pro_cate_id, pro_name,pro_pic,
      uint_price, supplier_id, brand_id, order_real_pay_amount, favorable_amount,
      transport_fee, total_amount, sale_num, sale_unit,
      order_item_status, uid, user_name,
      bill_type, recv_addr_id, recv_name, buy_type, pay_time, create_time, update_time,
      state, ret_flag, remark, sub_stock_flag, act_single_id, act_multi_id)
    values (#{orderId,jdbcType=VARCHAR}, #{orderItemId,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, 
      #{proId,jdbcType=INTEGER}, #{proBarCode,jdbcType=VARCHAR}, #{proCateId,jdbcType=INTEGER}, #{proName,jdbcType=VARCHAR},#{proPic,jdbcType=VARCHAR},
      #{uintPrice,jdbcType=DECIMAL}, #{supplierId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER},#{orderRealPayAmount,jdbcType=DECIMAL},#{favorableAmount,jdbcType=DECIMAL},
      #{transportFee,jdbcType=DECIMAL}, #{totalAmount,jdbcType=DECIMAL}, #{saleNum,jdbcType=INTEGER}, 
      #{saleUnit,jdbcType=VARCHAR}, #{orderItemStatus,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
      #{billType,jdbcType=TINYINT}, #{recvAddrId,jdbcType=INTEGER}, #{recvName,jdbcType=VARCHAR}, #{buyType,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=TINYINT}, #{retFlag,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{subStockFlag,jdbcType=TINYINT},#{actSingleId,jdbcType=INTEGER},#{actMultiId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.oms.bean.Ordi" >
    insert into oms_ordi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderItemId != null" >
        order_item_id,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
        <if test="proBarCode != null" >
            pro_bar_code,
        </if>
      <if test="proCateId != null" >
        pro_cate_id,
      </if>
      <if test="proName != null" >
        pro_name,
      </if>
      <if test="proPic != null" >
        pro_pic,
      </if>
      <if test="uintPrice != null" >
        uint_price,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
        <if test="orderRealPayAmount != null" >
            order_real_pay_amount,
        </if>
        <if test="favorableAmount != null" >
            favorable_amount,
        </if>
      <if test="transportFee != null" >
        transport_fee,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="saleNum != null" >
        sale_num,
      </if>
      <if test="saleUnit != null" >
        sale_unit,
      </if>
      <if test="orderItemStatus != null" >
        order_item_status,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="billType != null" >
        bill_type,
      </if>
      <if test="recvAddrId != null" >
        recv_addr_id,
      </if>
        <if test="recvName != null" >
            recv_name,
        </if>
      <if test="buyType != null" >
        buy_type,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="state != null" >
        state,
      </if>
        <if test="retFlag != null" >
            ret_flag,
        </if>
      <if test="remark != null" >
        remark,
      </if>
        <if test="subStockFlag != null" >
            sub_stock_flag,
        </if>
        <if test="actSingleId != null" >
            act_single_id,
        </if>
        <if test="actMultiId != null" >
            act_multi_id,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderItemId != null" >
        #{orderItemId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=INTEGER},
      </if>
        <if test="proBarCode != null" >
            #{proBarCode,jdbcType=VARCHAR},
        </if>
      <if test="proCateId != null" >
        #{proCateId,jdbcType=INTEGER},
      </if>
      <if test="proName != null" >
        #{proName,jdbcType=VARCHAR},
      </if>
        <if test="proPic != null" >
            #{proPic,jdbcType=VARCHAR},
        </if>
      <if test="uintPrice != null" >
        #{uintPrice,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
        <if test="orderRealPayAmount != null" >
            #{orderRealPayAmount,jdbcType=DECIMAL},
        </if>
        <if test="favorableAmount != null" >
            #{favorableAmount,jdbcType=DECIMAL},
        </if>
      <if test="transportFee != null" >
        #{transportFee,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="saleUnit != null" >
        #{saleUnit,jdbcType=VARCHAR},
      </if>
      <if test="orderItemStatus != null" >
        #{orderItemStatus,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="billType != null" >
        #{billType,jdbcType=TINYINT},
      </if>
      <if test="recvAddrId != null" >
        #{recvAddrId,jdbcType=INTEGER},
      </if>
        <if test="recvName != null" >
            #{recvName,jdbcType=VARCHAR},
        </if>
      <if test="buyType != null" >
        #{buyType,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
        <if test="retFlag != null" >
            #{retFlag,jdbcType=TINYINT},
        </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
        <if test="subStockFlag != null" >
            #{subStockFlag,jdbcType=TINYINT},
        </if>
        <if test="actSingleId != null" >
            #{actSingleId,jdbcType=INTEGER},
        </if>
        <if test="actMultiId != null" >
            #{actMultiId,jdbcType=INTEGER},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.oms.bean.Ordi" >
    update oms_ordi
    <set >
   	  <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=INTEGER},
      </if>
        <if test="proBarCode != null" >
            pro_bar_code = #{proBarCode,jdbcType=VARCHAR},
        </if>
      <if test="proCateId != null" >
        pro_cate_id = #{proCateId,jdbcType=INTEGER},
      </if>
      <if test="proName != null" >
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proPic != null" >
        pro_pic = #{proPic,jdbcType=VARCHAR},
      </if>
      <if test="uintPrice != null" >
        uint_price = #{uintPrice,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
        <if test="orderRealPayAmount != null" >
            order_real_pay_amount = #{orderRealPayAmount,jdbcType=DECIMAL},
        </if>
        <if test="favorableAmount != null" >
            favorable_amount = #{favorableAmount,jdbcType=DECIMAL},
        </if>
      <if test="transportFee != null" >
        transport_fee = #{transportFee,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="saleNum != null" >
        sale_num = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="saleUnit != null" >
        sale_unit = #{saleUnit,jdbcType=VARCHAR},
      </if>
      <if test="orderItemStatus != null" >
        order_item_status = #{orderItemStatus,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="billType != null" >
        bill_type = #{billType,jdbcType=TINYINT},
      </if>
      <if test="recvAddrId != null" >
        recv_addr_id = #{recvAddrId,jdbcType=INTEGER},
      </if>
        <if test="recvName != null" >
            recv_name = #{recvName,jdbcType=VARCHAR},
        </if>
      <if test="buyType != null" >
        buy_type = #{buyType,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
        <if test="retFlag != null" >
            ret_flag = #{retFlag,jdbcType=TINYINT},
        </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
        <if test="subStockFlag != null" >
            sub_stock_flag = #{subStockFlag,jdbcType=TINYINT},
        </if>
        <if test="actSingleId != null" >
            act_single_id = #{actSingleId,jdbcType=INTEGER},
        </if>
        <if test="actMultiId != null" >
            act_multi_id = #{actMultiId,jdbcType=INTEGER},
        </if>
    </set>
    where order_item_id = #{orderItemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.oms.bean.Ordi" >
    update oms_ordi
    set order_id = #{orderId,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      pro_id = #{proId,jdbcType=INTEGER},
      pro_bar_code = #{proBarCode,jdbcType=VARCHAR},
      pro_cate_id = #{proCateId,jdbcType=INTEGER},
      pro_name = #{proName,jdbcType=VARCHAR},
      pro_pic = #{proPic,jdbcType=VARCHAR},
      uint_price = #{uintPrice,jdbcType=DECIMAL},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      order_real_pay_amount = #{orderRealPayAmount,jdbcType=DECIMAL},
      favorable_amount = #{favorableAmount,jdbcType=DECIMAL},
      transport_fee = #{transportFee,jdbcType=DECIMAL},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      sale_num = #{saleNum,jdbcType=INTEGER},
      sale_unit = #{saleUnit,jdbcType=VARCHAR},
      order_item_status = #{orderItemStatus,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=TINYINT},
      recv_addr_id= #{recvAddrId,jdbcType=INTEGER},
      recv_name=#{recvName,jdbcType=VARCHAR},
      buy_type=#{buyType,jdbcType=VARCHAR},
      pay_time=#{payTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=TINYINT},
      ret_flag = #{retFlag,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      sub_stock_flag = #{subStockFlag,jdbcType=TINYINT},
      act_single_id= #{actSingleId,jdbcType=INTEGER},
      act_multi_id= #{actMultiId,jdbcType=INTEGER}
    where order_item_id = #{orderItemId,jdbcType=VARCHAR}
  </update>
  
  
  
  
  <select id="getOrdIListByOrdIStatus" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.oms.dto.OrderQueryDTO" >
    select 
    <include refid="Base_Column_List" />
    <if test="entity.payCode!=null">
 	 ,op.pay_code,op.pay_name
    </if> 
    from oms_ordi oi
    <if test="entity.payCode!=null">
 	 LEFT JOIN oms_ord_pay op ON oi.order_id=op.order_id
    </if> 
    <include refid="selectConditionByOrdIStatus" />
        <if test="orderBy!=null">
            order by ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
  </select>
  
  <select id="getTotalByEntityJoinPay"
            resultType="java.lang.Integer">
        select count(*) from oms_ordi oi
        <if test="entity.payCode!=null">
 	LEFT JOIN oms_ord_pay op ON oi.order_id=op.order_id
    </if> 
        <include refid="selectConditionByOrdIStatus" />
    </select>
    
  <sql id="selectConditionByOrdIStatus">
        <where>
            <trim suffixOverrides="and">
            	<if test="entity != null">
                    <if test="entity.proId!=null and entity.proId &gt;0">
                        and oi.pro_id=#{entity.proId,jdbcType=INTEGER}
                    </if> 
                     <if test="entity.orderType != null" >
                        and oi.order_type= #{entity.orderType,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.orderItemStatus != null" >
                        and oi.order_item_status= #{entity.orderItemStatus,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.orderTimeStart != null" >
                        and oi.create_time &gt;= #{entity.orderTimeStart,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.orderTimeEnd != null" >
                        and oi.create_time &lt;= #{entity.orderTimeEnd,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.realPayAmountMin != null and entity.realPayAmountMin &gt;0" >
                        and oi.total_amount &gt;= #{entity.realPayAmountMin,jdbcType=DECIMAL}
                    </if>
                    <if test="entity.realPayAmountMax != null and entity.realPayAmountMax &gt;0" >
                        and oi.total_amount &lt;= #{entity.realPayAmountMax,jdbcType=DECIMAL}
                    </if>
                    <if test="entity.payCode!=null" >
                        and op.pay_code= #{entity.payCode,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.buyType != null" >
                        and oi.buy_type= #{entity.buyType,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.billType != null" >
                        and oi.bill_type= #{entity.billType,jdbcType=TINYINT}
                    </if>
                    <if test="entity.state != null" >
                        and oi.state= #{entity.state,jdbcType=TINYINT}
                    </if>
					<if test="entity.proName != null">
                        and oi.pro_name like #{entity.proName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.proBarCode != null">
                        and oi.pro_bar_code = #{entity.proBarCode,jdbcType=VARCHAR}
                    </if>
					<if test="entity.recvName != null">
                        and oi.recv_name like #{entity.recvName,jdbcType=VARCHAR}
                    </if>
					<if test="entity.uid != null">
                        and oi.uid = #{entity.uid,jdbcType=INTEGER}
                    </if>
                    <if test="entity.subStockFlag != null">
                        and oi.sub_stock_flag = #{entity.subStockFlag,jdbcType=TINYINT}
                    </if>
                </if>
            </trim>
        </where>
    </sql>


    <!-- 依据订单状态类型做查询  -->
    <sql id="Base_Column_List_Ordi_Status" >
    ois.status_type, ois.status_code, oi.order_id, oi.order_item_id, oi.order_type, oi.pro_id, oi.pro_bar_code, oi.pro_cate_id, oi.pro_name,oi.pro_pic,oi.uint_price, oi.supplier_id,
        oi.brand_id, oi.order_real_pay_amount, oi.favorable_amount, oi.transport_fee, oi.total_amount, oi.sale_num, oi.sale_unit, oi.order_item_status, oi.uid, oi.user_name,
    oi.bill_type, oi.recv_addr_id, oi.recv_name, oi.buy_type, oi.pay_time, oi.create_time, oi.update_time, oi.state,oi.ret_flag, oi.remark, oi.sub_stock_flag
    <if test="entity.payCode!=null">
 	 ,op.pay_code,op.pay_name
    </if>
  </sql>
    <select id="getOrdIListByStatusType" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.oms.dto.OrderQueryDTO" >
    select 
    <include refid="Base_Column_List_Ordi_Status" />
    from oms_ordi_status ois RIGHT JOIN oms_ordi oi ON ois.order_item_id=oi.order_item_id
    <if test="entity.payCode!=null">
 	 LEFT JOIN oms_ord_pay op ON ois.order_id=op.order_id
    </if> 
    <include refid="selectConditionByStatusType" />
        <if test="orderBy!=null">
            order by ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
  </select>
     <select id="getTotalByStatusType"
            resultType="java.lang.Integer">
        select count(*) from oms_ordi_status ois LEFT JOIN oms_ordi oi ON ois.order_item_id=oi.order_item_id
        <if test="entity.payCode!=null">
 	 LEFT JOIN oms_ord_pay op ON ois.order_id=op.order_id
    </if> 
        <include refid="selectConditionByStatusType" />
    </select>
  <sql id="selectConditionByStatusType">
        <where>
            <trim suffixOverrides="and">
            	<if test="entity != null">
            		<if test="entity.statusType!=null">
                        and ois.status_type=#{entity.statusType,jdbcType=VARCHAR}
                    </if> 
                    <if test="entity.orderItemStatus != null" >
                        and ois.status_code= #{entity.orderItemStatus,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.payCode!=null" >
                        and op.pay_code= #{entity.payCode,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.orderType!=null" >
                        and ois.order_type= #{entity.orderType,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.billType != null" >
                        and ois.bill_type= #{entity.billType,jdbcType=TINYINT}
                    </if>
                    <if test="entity.state != null" >
                        and ois.state= #{entity.state,jdbcType=TINYINT}
                    </if>
                    <if test="entity.proId!=null and entity.proId &gt;0">
                        and oi.pro_id=#{entity.proId,jdbcType=INTEGER}
                    </if> 
                    <if test="entity.orderTimeStart != null" >
                        and oi.create_time &gt;= #{entity.orderTimeStart,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.orderTimeEnd != null" >
                        and oi.create_time &lt;= #{entity.orderTimeEnd,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.realPayAmountMin != null and entity.realPayAmountMin &gt;0" >
                        and oi.order_real_pay_amount &gt;= #{entity.realPayAmountMin,jdbcType=DECIMAL}
                    </if>
                    <if test="entity.realPayAmountMax != null and entity.realPayAmountMax &gt;0" >
                        and oi.order_real_pay_amount &lt;= #{entity.realPayAmountMax,jdbcType=DECIMAL}
                    </if>
                    <if test="entity.buyType != null" >
                        and oi.buy_type= #{entity.buyType,jdbcType=VARCHAR}
                    </if>
					<if test="entity.proName != null">
                        and oi.pro_name like #{entity.proName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.recvName != null">
                        and oi.recv_name like #{entity.recvName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.proBarCode != null">
                        and oi.pro_bar_code = #{entity.proBarCode,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.uid != null">
                        and oi.uid = #{entity.uid,jdbcType=INTEGER}
                    </if>
                    <if test="entity.subStockFlag != null">
                        and oi.sub_stock_flag = #{entity.subStockFlag,jdbcType=TINYINT}
                    </if>
                </if>
            </trim>
        </where>
    </sql>


    <!--构造已经卖出商品列表查询条件-->
    <sql id="selectProductHasSaleCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.proId != null">
                        and pro_id = #{entity.proId,jdbcType=INTEGER}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.proCateId != null">
                        and pro_cate_id = #{entity.proCateId,jdbcType=INTEGER}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.proName != null">
                        and pro_name like #{entity.proName,jdbcType=VARCHAR}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.supplierId != null">
                        and supplier_id = #{entity.supplierId,jdbcType=INTEGER}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.startPrice != null">
                        and uint_price &gt;= #{entity.startPrice,jdbcType=DECIMAL}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.endPrice != null">
                        and uint_price &lt;= #{entity.endPrice,jdbcType=DECIMAL}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.startTime != null">
                        and pay_time &gt; #{entity.startTime,jdbcType=TIMESTAMP}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.endTime != null">
                        and pay_time &lt; #{entity.endTime,jdbcType=TIMESTAMP}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.billType != null">
                        and bill_type = #{entity.billType,jdbcType=INTEGER}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.orderItemStatus != null">
                        and order_item_status = #{entity.orderItemStatus,jdbcType=INTEGER}
                    </if>
                </if>
                <if test="entity != null">
                    <if test="entity.state != null">
                        and state = #{entity.state,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
                <!--and DATE_SUB(CURDATE(), INTERVAL 30 DAY) > date(pay_time)-->
        </where>
    </sql>
    <!-- 查询已卖出商品列表 -->
    <select id="getListByEntityAndPageInfoSaleProduct"
            resultMap="BaseResultSaleProduct">
        select pro_id,pro_cate_id,pro_name,sale_num,supplier_id,pay_time,uint_price
        from oms_ordi
        <include refid="selectProductHasSaleCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询已卖出商品列表总数 -->
    <select id="getTotalByEntitySaleProduct"
            resultType="java.lang.Integer">
        select count(*) from oms_ordi
        <include refid="selectProductHasSaleCondition"/>
    </select>






    <!--下边代码是纯洁的 -->

    <!--  -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select  order_item_id, order_id, order_type, pro_id, pro_bar_code, pro_cate_id, pro_name, pro_pic,uint_price, supplier_id,
        brand_id, order_real_pay_amount, favorable_amount, transport_fee, total_amount, sale_num, sale_unit, order_item_status, uid, user_name,
        bill_type, recv_addr_id,recv_name, buy_type, pay_time, create_time, update_time, state, ret_flag, remark, sub_stock_flag
        from oms_ordi
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>


    <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.orderId!=null">
                        and order_id=#{entity.orderId,jdbcType=VARCHAR}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 查询已卖出商品列表总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from oms_ordi
        <include refid="selectCondition"/>
    </select>



</mapper>