<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.oms.dao.OrdiStatusDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.oms.bean.OrdiStatus" >
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_item_id" property="orderItemId" jdbcType="VARCHAR" />
    <result column="status_code" property="statusCode" jdbcType="VARCHAR" />
    <result column="status_type" property="statusType" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="TINYINT" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_item_id, status_code, status_type, bill_type, uid, admin_id, create_time, 
    update_time, state
  </sql>
  <select id="selectByOrdIStatusTypeCode" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.oms.dto.OrdIStatusDTO">
    select 
    <include refid="Base_Column_List" />
    from oms_ordi_status
    where order_item_id = #{orderItemId,jdbcType=VARCHAR} 
    <if test="statusType != null" >
    AND status_type = #{statusType,jdbcType=VARCHAR}
    </if>
    <if test="statusCode != null" >
     AND status_code = #{statusCode,jdbcType=VARCHAR}
    </if>
  </select>
    <select id="selectByOrdStatusTypeCode" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.oms.dto.OrdIStatusDTO" >
        select
        <include refid="Base_Column_List" />
        from oms_ordi_status
        where order_id = #{orderId,jdbcType=VARCHAR}
        <if test="statusType != null" >
            AND status_type = #{statusType,jdbcType=VARCHAR}
        </if>
        <if test="statusTypes != null" >
            AND status_type IN
            <foreach item="item" index="index" collection="statusTypes"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="statusCode != null" >
            AND status_code = #{statusCode,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectOneByOrdStatusTypeCode" resultMap="BaseResultMap" parameterType="com.meiliwan.emall.oms.dto.OrdIStatusDTO" >
        select
        <include refid="Base_Column_List" />
        from oms_ordi_status
        where order_id = #{orderId,jdbcType=VARCHAR}
        <if test="statusType != null" >
            AND status_type = #{statusType,jdbcType=VARCHAR}
        </if>
        <if test="statusCode != null" >
            AND status_code = #{statusCode,jdbcType=VARCHAR}
        </if>
        <if test="statusCodes != null" >
            AND status_code IN
            <foreach item="item" index="index" collection="statusCodes"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if> LIMIT 1
    </select>
    <select id="selectOneOrderIdByOrdStatusTypeCodes" resultType="java.lang.String">
        select DISTINCT order_id
        from oms_ordi_status
        where order_id IN
        <foreach item="item" index="index" collection="orderIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="statusType != null" >
            AND status_type = #{statusType,jdbcType=VARCHAR}
        </if>
        <if test="statusCode != null" >
            AND status_code = #{statusCode,jdbcType=VARCHAR}
        </if>
    </select>

  <update id="updateOrdIStatus" parameterType="com.meiliwan.emall.oms.dto.OrdIStatusDTO" >
    update oms_ordi_status set status_code = #{statusCode,jdbcType=VARCHAR}, update_time = #{updateTime,jdbcType=TIMESTAMP}
      <if test="adminId >0" >
          , admin_id = #{adminId,jdbcType=INTEGER}
      </if>
    where order_item_id = #{orderItemId,jdbcType=VARCHAR} AND status_type = #{statusType,jdbcType=VARCHAR}
  </update>
  <update id="updateAllOrdIStatus" parameterType="com.meiliwan.emall.oms.dto.OrdIStatusDTO" >
     update oms_ordi_status set status_code = #{statusCode,jdbcType=VARCHAR}, update_time = #{updateTime,jdbcType=TIMESTAMP}
      <if test="adminId >0" >
          , admin_id = #{adminId,jdbcType=INTEGER}
      </if>
    where order_id = #{orderId,jdbcType=VARCHAR} AND status_type = #{statusType,jdbcType=VARCHAR}
  </update>
    <delete id="deleteByOrdIdStatusType" parameterType="com.meiliwan.emall.oms.bean.OrdiStatus" >
        update oms_ordi_status set state=#{state,jdbcType=TINYINT}, update_time = #{updateTime,jdbcType=TIMESTAMP}
        <if test="adminId != null" >
            , admin_id = #{adminId,jdbcType=INTEGER}
        </if>
        where order_id = #{orderId,jdbcType=VARCHAR}
        <if test="statusType != null">
            AND status_type = #{statusType,jdbcType=VARCHAR}
        </if>
    </delete>
  <delete id="deleteByPrimaryKey" parameterType="com.meiliwan.emall.oms.dto.OrdIStatusDTO" >
    delete from oms_ordi_status
    where order_item_id = #{orderItemId,jdbcType=VARCHAR} 
    AND status_type = #{statusType,jdbcType=VARCHAR} AND status_code = #{statusCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.oms.bean.OrdiStatus" >
    insert into oms_ordi_status (order_id, order_item_id, 
      status_code, status_type, bill_type, 
      uid, create_time, update_time, 
      state)
    values (#{orderId,jdbcType=VARCHAR}, #{orderItemId,jdbcType=VARCHAR}, 
      #{statusCode,jdbcType=VARCHAR}, #{statusType,jdbcType=VARCHAR}, #{billType,jdbcType=TINYINT}, 
      #{uid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.oms.bean.OrdiStatus" >
    insert into oms_ordi_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderItemId != null" >
        order_item_id,
      </if>
      <if test="statusCode != null" >
        status_code,
      </if>
      <if test="statusType != null" >
        status_type,
      </if>
      <if test="billType != null" >
        bill_type,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderItemId != null" >
        #{orderItemId,jdbcType=VARCHAR},
      </if>
      <if test="statusCode != null" >
        #{statusCode,jdbcType=VARCHAR},
      </if>
      <if test="statusType != null" >
        #{statusType,jdbcType=VARCHAR},
      </if>
      <if test="billType != null" >
        #{billType,jdbcType=TINYINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.oms.bean.OrdiStatus" >
    update oms_ordi_status
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="billType != null" >
        bill_type = #{billType,jdbcType=TINYINT},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{admin_id,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where order_item_id = #{orderItemId,jdbcType=VARCHAR} 
    AND status_type = #{statusType,jdbcType=VARCHAR} AND status_code = #{statusCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.oms.bean.OrdiStatus" >
    update oms_ordi_status
    set order_id = #{orderId,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=TINYINT},
      uid = #{uid,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=TINYINT}
    where order_item_id = #{orderItemId,jdbcType=VARCHAR}
    AND status_type = #{statusType,jdbcType=VARCHAR} AND status_code = #{statusCode,jdbcType=VARCHAR}
  </update>
</mapper>