<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.oms.dao.OrdPrintLogsDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.oms.bean.OrdPrintLogs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="print_type" property="printType" jdbcType="INTEGER" />
    <result column="opt_uid" property="optUid" jdbcType="INTEGER" />
    <result column="opt_uname" property="optUname" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, print_type, opt_uid, opt_uname, create_time
  </sql>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.id!=null and entity.id &gt;0">
                        and id=#{entity.id,jdbcType=INTEGER}
                    </if>
                    <if test="entity.orderId!=null">
                        and order_id=#{entity.orderId,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.printType!=null">
                        and print_type=#{entity.printType,jdbcType=INTEGER}
                    </if>
                    <if test="entity.optUid!=null">
                        and opt_uid=#{entity.optUid,jdbcType=INTEGER}
                    </if>
                    <if test="entity.optUname!=null">
                        and opt_uname=#{entity.optUname,jdbcType=VARCHAR}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oms_ord_print_logs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oms_ord_print_logs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.oms.bean.OrdPrintLogs" >
    insert into oms_ord_print_logs (id, order_id, print_type,
      opt_uid, opt_uname, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{printType,jdbcType=INTEGER},
      #{optUid,jdbcType=INTEGER}, #{optUname,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.oms.bean.OrdPrintLogs" useGeneratedKeys="true" keyProperty="id">
    insert into oms_ord_print_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="printType != null" >
        print_type,
      </if>
      <if test="optUid != null" >
        opt_uid,
      </if>
      <if test="optUname != null" >
        opt_uname,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="printType != null" >
        #{printType,jdbcType=INTEGER},
      </if>
      <if test="optUid != null" >
        #{optUid,jdbcType=INTEGER},
      </if>
      <if test="optUname != null" >
        #{optUname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.oms.bean.OrdPrintLogs" >
    update oms_ord_print_logs
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="printType != null" >
        print_type = #{printType,jdbcType=INTEGER},
      </if>
      <if test="optUid != null" >
        opt_uid = #{optUid,jdbcType=INTEGER},
      </if>
      <if test="optUname != null" >
        opt_uname = #{optUname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.oms.bean.OrdPrintLogs" >
    update oms_ord_print_logs
    set order_id = #{orderId,jdbcType=VARCHAR},
      print_type = #{printType,jdbcType=INTEGER},
      opt_uid = #{optUid,jdbcType=INTEGER},
      opt_uname = #{optUname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oms_ord_print_logs
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>
</mapper>