<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.oms.dao.OrdTransportDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.oms.bean.OrdTransport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="cust_data_id" property="custDataId" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="logistics_company" property="logisticsCompany" jdbcType="VARCHAR" />
    <result column="logistics_number" property="logisticsNumber" jdbcType="VARCHAR" />
    <result column="transport_time" property="transportTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, cust_data_id, info, logistics_company, logistics_number, transport_time, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oms_ord_transport
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oms_ord_transport
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.oms.bean.OrdTransport" >
    insert into oms_ord_transport (id, order_id, cust_data_id, 
      info, logistics_company, logistics_number, 
      transport_time, create_time)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{custDataId,jdbcType=VARCHAR}, 
      #{info,jdbcType=VARCHAR}, #{logisticsCompany,jdbcType=VARCHAR}, #{logisticsNumber,jdbcType=VARCHAR}, 
      #{transportTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.oms.bean.OrdTransport" >
    insert into oms_ord_transport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="custDataId != null" >
        cust_data_id,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="logisticsCompany != null" >
        logistics_company,
      </if>
      <if test="logisticsNumber != null" >
        logistics_number,
      </if>
      <if test="transportTime != null" >
        transport_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="custDataId != null" >
        #{custDataId,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompany != null" >
        #{logisticsCompany,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNumber != null" >
        #{logisticsNumber,jdbcType=VARCHAR},
      </if>
      <if test="transportTime != null" >
        #{transportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.oms.bean.OrdTransport" >
    update oms_ord_transport
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="custDataId != null" >
        cust_data_id = #{custDataId,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompany != null" >
        logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNumber != null" >
        logistics_number = #{logisticsNumber,jdbcType=VARCHAR},
      </if>
      <if test="transportTime != null" >
        transport_time = #{transportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.oms.bean.OrdTransport" >
    update oms_ord_transport
    set order_id = #{orderId,jdbcType=VARCHAR},
      cust_data_id = #{custDataId,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
      logistics_number = #{logisticsNumber,jdbcType=VARCHAR},
      transport_time = #{transportTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                		
                    <if test="entity.orderId!=null">
                        and order_id=#{entity.orderId,jdbcType=VARCHAR}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oms_ord_transport
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from oms_ord_transport
        <include refid="selectCondition"/>
    </select>
    
</mapper>