<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.bkstage.dao.BksAdminDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.bkstage.bean.BksAdmin" >
    <id column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="admin_pwd" property="adminPwd" jdbcType="VARCHAR" />
    <result column="admin_phone" property="adminPhone" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="admin_email" property="adminEmail" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
      <result column="finance_pwd" property="financePwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    admin_id, login_name, admin_name, admin_pwd, admin_phone, department, admin_email, 
    start_time, end_time, state, create_time, update_time, finance_pwd
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bks_admin
    where admin_id = #{adminId,jdbcType=INTEGER}  and is_del = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bks_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.bkstage.bean.BksAdmin" >
    insert into bks_admin (admin_id, login_name, admin_name, 
      admin_pwd, admin_phone, department, 
      admin_email, start_time, end_time, 
      state, create_time, update_time ,finance_pwd
      )
    values (#{adminId,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{adminName,jdbcType=VARCHAR}, 
      #{adminPwd,jdbcType=VARCHAR}, #{adminPhone,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{adminEmail,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{financePwd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.bkstage.bean.BksAdmin" >
    insert into bks_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="adminPwd != null" >
        admin_pwd,
      </if>
      <if test="adminPhone != null" >
        admin_phone,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="adminEmail != null" >
        admin_email,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
        <if test="financePwd != null" >
            finance_pwd,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPwd != null" >
        #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null" >
        #{adminPhone,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null" >
        #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="financePwd != null" >
            #{financePwd,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.bkstage.bean.BksAdmin" >
    update bks_admin
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPwd != null" >
        admin_pwd = #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null" >
        admin_phone = #{adminPhone,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null" >
        admin_email = #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="isDel != null" >
            is_del = #{isDel,jdbcType=INTEGER},
        </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.bkstage.bean.BksAdmin" >
    update bks_admin
    set login_name = #{loginName,jdbcType=VARCHAR},
      admin_name = #{adminName,jdbcType=VARCHAR},
      admin_pwd = #{adminPwd,jdbcType=VARCHAR},
      admin_phone = #{adminPhone,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      admin_email = #{adminEmail,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>


    <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.adminId!=null and entity.adminId &gt;0">
                        and admin_id=#{entity.adminId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.loginName != null">
                        and login_name= #{entity.loginName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.state != null" >
                        and state= #{entity.state,jdbcType=INTEGER}
                    </if>

                    <if test="entity.adminName!=null">
                        and ( admin_name like #{entity.adminName,jdbcType=CHAR}
                               or login_name like #{entity.adminName,jdbcType=CHAR}
                               or department like #{entity.adminName,jdbcType=CHAR}
                               or admin_phone like #{entity.adminName,jdbcType=CHAR}
                               or admin_email like #{entity.adminName,jdbcType=CHAR}
                             )
                    </if>
                    and is_del = 0
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bks_admin
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from bks_admin
        <include refid="selectCondition" />
    </select>

    <update id="updateFincePwd">
        update bks_admin
        set finance_pwd = #{pwd,jdbcType=VARCHAR},update_time = #{updateTime,jdbcType=VARCHAR}
        where admin_id = ${id}
    </update>
</mapper>