<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiliwan.emall.bkstage.dao.BksAdminRoleDao">
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.bkstage.bean.BksAdminRoleKey">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.meiliwan.emall.bkstage.bean.BksAdminRoleKey">
    delete from bks_admin_role
    where
      <if test="adminId != null">
          admin_id = #{adminId,jdbcType=INTEGER}
      </if>
      <if test="roleId != null">
         and role_id = #{roleId,jdbcType=INTEGER}
      </if>

  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.bkstage.bean.BksAdminRoleKey">
    insert into bks_admin_role (admin_id, role_id)
    values (#{adminId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.bkstage.bean.BksAdminRoleKey">
    insert into bks_admin_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


    <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.roleId!=null and entity.roleId &gt;0">
                        and role_id=#{entity.roleId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.adminId != null" >
                        and admin_id= #{entity.adminId,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select role_id, admin_id
        from bks_admin_role
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from bks_admin_role
        <include refid="selectCondition" />
    </select>
</mapper>