<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.tongji.task.dao.pms.ProProductDao">
    <!--统计日销量用 START-->
    <resultMap id="BaseMapOmsProSales" type="com.meiliwan.emall.tongji.bean.oms.OmsProSales">
        <result column="trade_price" property="tradePrice" jdbcType="DECIMAL" />
        <result column="pro_id" property="proId" jdbcType="INTEGER" />
        <result column="sell_stock" property="sellStock" jdbcType="INTEGER" />
        <result column="total_sales" property="totalSales" jdbcType="INTEGER" />
        <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="OmsProSalesList">
       DISTINCT(pr.pro_id) as pro_id,ac.real_sale_num AS total_sales,pr.trade_price AS trade_price, st.sell_stock AS sell_stock,stp.store_name AS store_name
    </sql>

       <!--  select <include refid="OmsProSalesList"/>
        from pro_product pr
        left join pro_action ac on pr.pro_id = ac.pro_id
        left join pro_stock st on st.pro_id = pr.pro_id
        left join pro_store_prod stp on pr.spu_id = stp.spu_id
        where pr.pro_id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        -->
    <select id="getOmsProSalesBy" resultMap="BaseMapOmsProSales">
        
        select <include refid="OmsProSalesList"/>
        from pro_product pr
        left join pro_action ac on pr.pro_id = ac.pro_id
        left join pro_stock st on st.pro_id = pr.pro_id
        left join pro_store_category ct on pr.third_category_id = ct.third_category_id
        left join pro_store stp on stp.store_id = ct.store_id
        where pr.pro_id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--统计日销量用 END-->
</mapper>


