<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.cms2.dao.CmsFragmentDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.cms2.bean.CmsFragment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cache_code" property="cacheCode" jdbcType="INTEGER" />
    <result column="is_published" property="isPublished" jdbcType="INTEGER" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="publisher_name" property="publisherName" jdbcType="VARCHAR" />
    <result column="publisher_id" property="publisherId" jdbcType="INTEGER" />
    <result column="fragment_name" property="fragmentName" jdbcType="VARCHAR" />
    <result column="fragment_desc" property="fragmentDesc" jdbcType="VARCHAR" />
    <result column="fragment_content" property="fragmentContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cache_code, is_published, publish_time, publisher_name, publisher_id, fragment_name, 
    fragment_desc,fragment_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_fragment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cms_fragment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.cms2.bean.CmsFragment" >
    insert into cms_fragment (id, cache_code, is_published, 
      publish_time, publisher_name, publisher_id, 
      fragment_name, fragment_desc,fragment_content)
    values (#{id,jdbcType=INTEGER}, #{cacheCode,jdbcType=INTEGER}, #{isPublished,jdbcType=INTEGER}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{publisherName,jdbcType=VARCHAR}, #{publisherId,jdbcType=INTEGER},
      #{fragmentName,jdbcType=VARCHAR}, #{fragmentDesc,jdbcType=VARCHAR},#{fragmentContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.cms2.bean.CmsFragment" >
    insert into cms_fragment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cacheCode != null" >
        cache_code,
      </if>
      <if test="isPublished != null" >
        is_published,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="publisherName != null" >
        publisher_name,
      </if>
      <if test="publisherId != null" >
        publisher_id,
      </if>
      <if test="fragmentName != null" >
        fragment_name,
      </if>
      <if test="fragmentDesc != null" >
        fragment_desc,
      </if>
      <if test="fragmentContent != null">
          fragment_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cacheCode != null" >
        #{cacheCode,jdbcType=INTEGER},
      </if>
      <if test="isPublished != null" >
        #{isPublished,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publisherName != null" >
        #{publisherName,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null" >
        #{publisherId,jdbcType=INTEGER},
      </if>
      <if test="fragmentName != null" >
        #{fragmentName,jdbcType=VARCHAR},
      </if>
      <if test="fragmentDesc != null" >
        #{fragmentDesc,jdbcType=VARCHAR},
      </if>
      <if test="fragmentContent != null">
        #{fragmentContent,jdbcType=LONGVARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.cms2.bean.CmsFragment" >
    update cms_fragment
    <set >
      <if test="cacheCode != null" >
        cache_code = #{cacheCode,jdbcType=INTEGER},
      </if>
      <if test="isPublished != null" >
        is_published = #{isPublished,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publisherName != null" >
        publisher_name = #{publisherName,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null" >
        publisher_id = #{publisherId,jdbcType=INTEGER},
      </if>
      <if test="fragmentName != null" >
        fragment_name = #{fragmentName,jdbcType=VARCHAR},
      </if>
      <if test="fragmentDesc != null" >
        fragment_desc = #{fragmentDesc,jdbcType=VARCHAR},
      </if>
      <if test="fragmentContent != null" >
            fragment_content = #{fragmentContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.cms2.bean.CmsFragment" >
    update cms_fragment
    set cache_code = #{cacheCode,jdbcType=INTEGER},
      is_published = #{isPublished,jdbcType=INTEGER},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      publisher_name = #{publisherName,jdbcType=VARCHAR},
      publisher_id = #{publisherId,jdbcType=INTEGER},
      fragment_name = #{fragmentName,jdbcType=VARCHAR},
      fragment_desc = #{fragmentDesc,jdbcType=VARCHAR},
      fragment_content = #{fragmentContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
					<if test="entity.cacheCode != null">
                            and cache_code = #{entity.cacheCode,jdbcType=INTEGER}
                        </if>
                        <if test="entity.isPublished != null">
                            and is_published = #{entity.isPublished,jdbcType=INTEGER}
                        </if>
                        <if test="entity.fragmentName != null">
                            and fragment_name = #{entity.fragmentName,jdbcType=VARCHAR}
                        </if>
                        <if test="entity.publisherId != null">
                            and publisher_id = #{entity.publisherId,jdbcType=VARCHAR}
                        </if>
                	</if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cms_fragment
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from cms_fragment
        <include refid="selectCondition" />
    </select>

</mapper>