<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.cms2.dao.CmsLinkDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.cms2.bean.CmsLink" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="block_id" property="blockId" jdbcType="INTEGER" />
    <result column="position_id" property="positionId" jdbcType="INTEGER" />
    <result column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="link_name" property="linkName" jdbcType="VARCHAR" />
    <result column="link_ext_name" property="linkExtName" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="open_flag" property="openFlag" jdbcType="INTEGER" />
    <result column="mlw_price" property="mlwPrice" jdbcType="DOUBLE" />
    <result column="market_price" property="marketPrice" jdbcType="DOUBLE" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="hide_flag" property="hideFlag" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, block_id, position_id, pro_id,link_url, link_name, link_ext_name, pic_url, open_flag, 
    mlw_price, market_price, mark, hide_flag, create_time, admin_id, admin_name,
    group_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_link
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cms_link
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.cms2.bean.CmsLink" >
    insert into cms_link (id, block_id, position_id, 
      pro_id,link_url, link_name, link_ext_name, 
      pic_url, open_flag, mlw_price, 
      market_price, mark, hide_flag,
      create_time, admin_id, admin_name, 
      group_id)
    values (#{id,jdbcType=INTEGER}, #{blockId,jdbcType=INTEGER}, #{positionId,jdbcType=INTEGER}, 
      #{proId,jdbcType=INTEGER}, #{linkUrl,jdbcType=VARCHAR}, #{linkName,jdbcType=VARCHAR}, #{linkExtName,jdbcType=VARCHAR}, 
      #{picUrl,jdbcType=VARCHAR}, #{openFlag,jdbcType=INTEGER}, #{mlwPrice,jdbcType=DOUBLE}, 
      #{marketPrice,jdbcType=DOUBLE}, #{mark,jdbcType=VARCHAR}, #{hideFlag,jdbcType=INTEGER},
      #{createTime,jdbcType=DATE}, #{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.cms2.bean.CmsLink" >
    insert into cms_link
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blockId != null" >
        block_id,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="linkUrl != null" >
        link_url,
      </if>
      <if test="linkName != null" >
        link_name,
      </if>
      <if test="linkExtName != null" >
        link_ext_name,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="openFlag != null" >
        open_flag,
      </if>
      <if test="mlwPrice != null" >
        mlw_price,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="hideFlag != null" >
        hide_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="blockId != null" >
        #{blockId,jdbcType=INTEGER},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=INTEGER},
      </if>
       <if test="proId != null" >
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkName != null" >
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkExtName != null" >
        #{linkExtName,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="openFlag != null" >
        #{openFlag,jdbcType=INTEGER},
      </if>
      <if test="mlwPrice != null" >
        #{mlwPrice,jdbcType=DOUBLE},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="hideFlag != null" >
        #{hideFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.cms2.bean.CmsLink" >
    update cms_link
    <set >
      <if test="blockId != null" >
        block_id = #{blockId,jdbcType=INTEGER},
      </if>
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=INTEGER},
      </if>
      <if test="linkUrl != null" >
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkName != null" >
        link_name = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkExtName != null" >
        link_ext_name = #{linkExtName,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="openFlag != null" >
        open_flag = #{openFlag,jdbcType=INTEGER},
      </if>
      <if test="mlwPrice != null" >
        mlw_price = #{mlwPrice,jdbcType=DOUBLE},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="hideFlag != null" >
        hide_flag = #{hideFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.cms2.bean.CmsLink" >
    update cms_link
    set block_id = #{blockId,jdbcType=INTEGER},
      position_id = #{positionId,jdbcType=INTEGER},
      pro_id = #{proId,jdbcType=INTEGER},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      link_name = #{linkName,jdbcType=VARCHAR},
      link_ext_name = #{linkExtName,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      open_flag = #{openFlag,jdbcType=INTEGER},
      mlw_price = #{mlwPrice,jdbcType=DOUBLE},
      market_price = #{marketPrice,jdbcType=DOUBLE},
      mark = #{mark,jdbcType=DOUBLE},
      hide_flag = #{hideFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      admin_id = #{adminId,jdbcType=INTEGER},
      admin_name = #{adminName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.blockId != null and entity.blockId &gt; 0">
                       and  block_id = #{entity.blockId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.groupId != null and entity.groupId &gt; 0">
                       and  group_id = #{entity.groupId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.positionId != null and entity.positionId &gt; 0">
                        and  position_id = #{entity.positionId,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cms_link
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from cms_link
        <include refid="selectCondition" />
    </select>
</mapper>