<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.cms2.dao.ThematicModelDao" >
    <resultMap id="BaseResultMap" type="com.meiliwan.emall.cms2.bean.ThematicModel" >
        <id column="model_id" property="modelId" jdbcType="INTEGER" />
        <result column="model_name" property="modelName" jdbcType="VARCHAR" />
        <result column="descp" property="descp" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="pronum_line" property="pronumLine" jdbcType="INTEGER" />
        <result column="model_ftl" property="modelFtl" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    model_id, model_name, descp, type, pronum_line, model_ftl
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from thematic_model
        where model_id = #{modelId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from thematic_model
    where model_id = #{modelId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.meiliwan.emall.cms2.bean.ThematicModel" useGeneratedKeys="true" keyProperty="modelId">
    insert into thematic_model (model_id, model_name, descp,
      type, pronum_line, model_ftl
      )
    values (#{modelId,jdbcType=INTEGER}, #{modelName,jdbcType=VARCHAR}, #{descp,jdbcType=VARCHAR},
      #{type,jdbcType=INTEGER}, #{pronumLine,jdbcType=INTEGER}, #{modelFtl,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.meiliwan.emall.cms2.bean.ThematicModel" useGeneratedKeys="true" keyProperty="modelId">
        insert into thematic_model
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="modelId != null" >
                model_id,
            </if>
            <if test="modelName != null" >
                model_name,
            </if>
            <if test="descp != null" >
                descp,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="pronumLine != null" >
                pronum_line,
            </if>
            <if test="modelFtl != null" >
                model_ftl,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="modelId != null" >
                #{modelId,jdbcType=INTEGER},
            </if>
            <if test="modelName != null" >
                #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="descp != null" >
                #{descp,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="pronumLine != null" >
                #{pronumLine,jdbcType=INTEGER},
            </if>
            <if test="modelFtl != null" >
                #{modelFtl,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.cms2.bean.ThematicModel" >
        update thematic_model
        <set >
            <if test="modelName != null" >
                model_name = #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="descp != null" >
                descp = #{descp,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="pronumLine != null" >
                pronum_line = #{pronumLine,jdbcType=INTEGER},
            </if>
            <if test="modelFtl != null" >
                model_ftl = #{modelFtl,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where model_id = #{modelId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.cms2.bean.ThematicModel" >
    update thematic_model
    set model_name = #{modelName,jdbcType=VARCHAR},
      descp = #{descp,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      pronum_line = #{pronumLine,jdbcType=INTEGER},
      model_ftl = #{modelFtl,jdbcType=LONGVARCHAR}
    where model_id = #{modelId,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.modelId != null">
                        and model_id = #{entity.modelId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.modelName != null">
                        and model_name = #{entity.modelName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.type != null">
                        and type = #{entity.type,jdbcType=INTEGER}
                    </if>
                    <if test="entity.pronumLine != null">
                        pronum_line = #{entity.pronumLine,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from thematic_model
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from thematic_model
        <include refid="selectCondition" />
    </select>

</mapper>