<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.cms2.dao.ThematicPageDao" >
    <resultMap id="BaseResultMap" type="com.meiliwan.emall.cms2.bean.ThematicPage" >
        <id column="page_id" property="pageId" jdbcType="INTEGER" />
        <result column="page_name" property="pageName" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="keyword" property="keyword" jdbcType="VARCHAR" />
        <result column="descp" property="descp" jdbcType="VARCHAR" />
        <result column="template_id" property="templateId" jdbcType="INTEGER" />
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="pro_ids" property="proIds" jdbcType="VARCHAR" />
        <result column="json_data" property="jsonData" jdbcType="LONGVARCHAR" />
        <result column="en_name" property="enName" jdbcType="VARCHAR" />
        <result column="admin_id" property="adminId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="state" property="state" jdbcType="TINYINT" />
    </resultMap>
    <sql id="Base_Column_List" >
    page_id, page_name, title, keyword, descp, template_id, begin_time, end_time, url,
    pro_ids,json_data,en_name,admin_id,create_time,update_time, state
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from thematic_page
        where page_id = #{pageId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from thematic_page
    where page_id = #{pageId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.meiliwan.emall.cms2.bean.ThematicPage" useGeneratedKeys="true" keyProperty="pageId">
    insert into thematic_page (page_id, page_name, title,
      keyword, descp, template_id,
      begin_time, end_time, url,
      pro_ids, json_data, en_name, admin_id, create_time, update_time,state)
    values (#{pageId,jdbcType=INTEGER}, #{pageName,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
      #{keyword,jdbcType=VARCHAR}, #{descp,jdbcType=VARCHAR}, #{templateId,jdbcType=INTEGER},
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR},
      #{proIds,jdbcType=VARCHAR}, #{jsonData,jdbcType=LONGVARCHAR},#{adminId,jdbcType=INTEGER},
      #{enName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{state,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.meiliwan.emall.cms2.bean.ThematicPage" useGeneratedKeys="true" keyProperty="pageId">
        insert into thematic_page
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="pageId != null" >
                page_id,
            </if>
            <if test="pageName != null" >
                page_name,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="keyword != null" >
                keyword,
            </if>
            <if test="descp != null" >
                descp,
            </if>
            <if test="templateId != null" >
                template_id,
            </if>
            <if test="beginTime != null" >
                begin_time,
            </if>
            <if test="endTime != null" >
                end_time,
            </if>
            <if test="url != null" >
                url,
            </if>
            <if test="proIds != null" >
                pro_ids,
            </if>
            <if test="jsonData != null" >
                json_data,
            </if>
            <if test="adminId != null" >
                admin_id,
            </if>
            <if test="enName != null" >
                en_name,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="state != null" >
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="pageId != null" >
                #{pageId,jdbcType=INTEGER},
            </if>
            <if test="pageName != null" >
                #{pageName,jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="keyword != null" >
                #{keyword,jdbcType=VARCHAR},
            </if>
            <if test="descp != null" >
                #{descp,jdbcType=VARCHAR},
            </if>
            <if test="templateId != null" >
                #{templateId,jdbcType=INTEGER},
            </if>
            <if test="beginTime != null" >
                #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null" >
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="proIds != null" >
                #{proIds,jdbcType=VARCHAR},
            </if>
            <if test="jsonData != null" >
                #{jsonData,jdbcType=LONGVARCHAR},
            </if>
            <if test="adminId != null" >
                #{adminId,jdbcType=VARCHAR},
            </if>
            <if test="enName != null" >
                #{enName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null" >
                #{state,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.cms2.bean.ThematicPage" >
        update thematic_page
        <set >
            <if test="pageName != null" >
                page_name = #{pageName,jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="keyword != null" >
                keyword = #{keyword,jdbcType=VARCHAR},
            </if>
            <if test="descp != null" >
                descp = #{descp,jdbcType=VARCHAR},
            </if>
            <if test="templateId != null" >
                template_id = #{templateId,jdbcType=INTEGER},
            </if>
            <if test="beginTime != null" >
                begin_time = #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null" >
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime == null" >
                end_time = '0000-00-00 00:00:00',
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="proIds != null" >
                pro_ids = #{proIds,jdbcType=VARCHAR},
            </if>
            <if test="jsonData != null" >
                json_data = #{jsonData,jdbcType=LONGVARCHAR},
            </if>
            <if test="adminId != null" >
                admin_id = #{adminId,jdbcType=VARCHAR},
            </if>
            <if test="enName != null" >
                en_name = #{enName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=TINYINT},
            </if>
        </set>
        where page_id = #{pageId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.cms2.bean.ThematicPage" >
    update thematic_page
    set page_name = #{pageName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      descp = #{descp,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      pro_ids = #{proIds,jdbcType=VARCHAR},
      json_data = #{jsonData,jdbcType=LONGVARCHAR},
      admin_id = #{adminId,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=TINYINT}
    where page_id = #{pageId,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.pageId != null and entity.pageId &gt;0">
                        and page_id = #{entity.pageId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.pageName != null">
                        and page_name like #{entity.pageName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.enName != null">
                        and en_name = #{entity.enName,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.templateId != null">
                        and template_id = #{entity.templateId,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from thematic_page
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity" resultType="java.lang.Integer">
        select count(*) from thematic_page
        <include refid="selectCondition" />
    </select>

    <update id="deletePage">
        update thematic_page
        set state = 0,update_time = #{updateTime,jdbcType=TIMESTAMP}
        where page_id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updataPagdJsonData">
        update thematic_page
        set json_data = #{json,jdbcType=VARCHAR},update_time = #{updateTime,jdbcType=TIMESTAMP}
        where page_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updataPageProIds">
        update thematic_page
        set pro_ids = #{ids,jdbcType=VARCHAR},update_time = #{updateTime,jdbcType=TIMESTAMP}
        where page_id = #{id,jdbcType=INTEGER}
    </update>
</mapper>