<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.union.dao.SFUnionOrderDao" >
   <resultMap id="OrdMap" type="com.meiliwan.emall.oms.bean.Ord" >
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_comments" property="orderComments" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="real_pay_amount" property="realPayAmount" jdbcType="DECIMAL" />
    <result column="order_sale_amount" property="orderSaleAmount" jdbcType="DECIMAL" />
    <result column="order_pay_amount" property="orderPayAmount" jdbcType="DECIMAL" />
    <result column="favorable_total_amount" property="favorableTotalAmount" jdbcType="DECIMAL" />
    <result column="transport_fee" property="transportFee" jdbcType="DECIMAL" />
    <result column="is_invoice" property="isInvoice" jdbcType="TINYINT" />
    <result column="total_item" property="totalItem" jdbcType="TINYINT" />
    <result column="bill_type" property="billType" jdbcType="TINYINT" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="recv_addr_id" property="recvAddrId" jdbcType="INTEGER" />
    <result column="recv_name" property="recvName" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="exception_code" property="exceptionCode" jdbcType="VARCHAR" />
    <result column="remark_count" property="remarkCount" jdbcType="INTEGER" />
    <result column="print_pick_count" property="printPickCount" jdbcType="INTEGER" />
    <result column="print_send_count" property="printSendCount" jdbcType="INTEGER" />
    <result column="stock_time" property="stockTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
 <!-- 
 select uid,order_id,create_time,recv_name,real_pay_amount,order_sale_amount,transport_fee from oms_ord where uid in ($uids) 
 and create_time > '2014-05-01 00:00:00' and create_time < '2014-05-31 23:59:59' and order_status in (30,40,50,60)
 
  -->
  <select id="getSForderList" resultMap="OrdMap">
  	select uid,order_status,order_id,create_time,pay_time,recv_name,order_pay_amount,real_pay_amount,order_sale_amount,transport_fee from oms_ord where uid in
  	<trim prefix="(" suffix=")" >
      	<if test="UidList != null">
      		${UidList}
      	</if>
    </trim>
    <trim suffixOverrides="and" >
			<if test="startTime != null"> 
				and create_time >= #{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null">
			<![CDATA[
				and create_time <  #{endTime,jdbcType=TIMESTAMP}
			]]> 
			</if>
			and order_status in 
			<trim prefix="(" suffix=")" >
			<if test="orderStatus != null">
				${orderStatus}
			</if>
			</trim>
			
	</trim>
      
  </select>
  
</mapper>