<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.cms.ff.dao.DependentRelationDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.cms.ff.bean.DependentRelation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="block_id" property="blockId" jdbcType="INTEGER" />
    <result column="page_id" property="pageId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sort, block_id, page_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dependent_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dependent_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.cms.ff.bean.DependentRelation" >
    insert into dependent_relation (id, sort, block_id, 
      page_id)
    values (#{id,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{blockId,jdbcType=INTEGER}, 
      #{pageId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.cms.ff.bean.DependentRelation" >
    insert into dependent_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="blockId != null" >
        block_id,
      </if>
      <if test="pageId != null" >
        page_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="blockId != null" >
        #{blockId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null" >
        #{pageId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.cms.ff.bean.DependentRelation" >
    update dependent_relation
    <set >
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="blockId != null" >
        block_id = #{blockId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null" >
        page_id = #{pageId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.cms.ff.bean.DependentRelation" >
    update dependent_relation
    set sort = #{sort,jdbcType=INTEGER},
      block_id = #{blockId,jdbcType=INTEGER},
      page_id = #{pageId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>