<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.cms.ff.dao.FragmentDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.cms.ff.bean.Fragment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="id_code" property="idCode" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="fragment_name" property="fragmentName" jdbcType="VARCHAR" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, id_code, create_time, group_id, fragment_name, admin_id,content
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fragment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fragment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.cms.ff.bean.Fragment" >
    insert into fragment (id, id_code, create_time, 
      group_id, fragment_name, admin_id, 
      content)
    values (#{id,jdbcType=INTEGER}, #{idCode,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{groupId,jdbcType=INTEGER}, #{fragmentName,jdbcType=VARCHAR}, #{adminId,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.cms.ff.bean.Fragment" >
    insert into fragment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="idCode != null" >
        id_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="fragmentName != null" >
        fragment_name,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="idCode != null" >
        #{idCode,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="fragmentName != null" >
        #{fragmentName,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.cms.ff.bean.Fragment" >
    update fragment
    <set >
      <if test="idCode != null" >
        id_code = #{idCode,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="fragmentName != null" >
        fragment_name = #{fragmentName,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.cms.ff.bean.Fragment" >
    update fragment
    set id_code = #{idCode,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      group_id = #{groupId,jdbcType=INTEGER},
      fragment_name = #{fragmentName,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>