<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.cms.ff.dao.OptLogDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.cms.ff.bean.OptLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="opt_obj_id" property="optObjId" jdbcType="INTEGER" />
    <result column="opt_type" property="optType" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="opt_time" property="optTime" jdbcType="TIMESTAMP" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="original_content" property="originalContent" jdbcType="LONGVARCHAR" />
    <result column="new_content" property="newContent" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, opt_obj_id, opt_type, admin_id, opt_time, ip, original_content, new_content
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from opt_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from opt_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.cms.ff.bean.OptLog" >
    insert into opt_log (id, opt_obj_id, opt_type, 
      admin_id, opt_time, ip, 
      original_content, new_content)
    values (#{id,jdbcType=INTEGER}, #{optObjId,jdbcType=INTEGER}, #{optType,jdbcType=INTEGER}, 
      #{adminId,jdbcType=INTEGER}, #{optTime,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR}, 
      #{originalContent,jdbcType=LONGVARCHAR}, #{newContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.cms.ff.bean.OptLog" >
    insert into opt_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="optObjId != null" >
        opt_obj_id,
      </if>
      <if test="optType != null" >
        opt_type,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="optTime != null" >
        opt_time,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="originalContent != null" >
        original_content,
      </if>
      <if test="newContent != null" >
        new_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="optObjId != null" >
        #{optObjId,jdbcType=INTEGER},
      </if>
      <if test="optType != null" >
        #{optType,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="optTime != null" >
        #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="originalContent != null" >
        #{originalContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="newContent != null" >
        #{newContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.cms.ff.bean.OptLog" >
    update opt_log
    <set >
      <if test="optObjId != null" >
        opt_obj_id = #{optObjId,jdbcType=INTEGER},
      </if>
      <if test="optType != null" >
        opt_type = #{optType,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="optTime != null" >
        opt_time = #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="originalContent != null" >
        original_content = #{originalContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="newContent != null" >
        new_content = #{newContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.cms.ff.bean.OptLog" >
    update opt_log
    set opt_obj_id = #{optObjId,jdbcType=INTEGER},
      opt_type = #{optType,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      opt_time = #{optTime,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR},
      original_content = #{originalContent,jdbcType=LONGVARCHAR},
      new_content = #{newContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>