<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.cms.ff.dao.PageDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.cms.ff.bean.Page" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="page_name" property="pageName" jdbcType="VARCHAR" />
    <result column="seo_title" property="seoTitle" jdbcType="VARCHAR" />
    <result column="seo_keyword" property="seoKeyword" jdbcType="VARCHAR" />
    <result column="seo_desc" property="seoDesc" jdbcType="VARCHAR" />
    <result column="domain" property="domain" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="id_code" property="idCode" jdbcType="INTEGER" />
    <result column="json_content" property="jsonContent" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, page_name, seo_title, seo_keyword, seo_desc, domain, url, id_code,json_content
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from page
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from page
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.cms.ff.bean.Page" >
    insert into page (id, page_name, seo_title, 
      seo_keyword, seo_desc, domain, 
      url, id_code, json_content
      )
    values (#{id,jdbcType=INTEGER}, #{pageName,jdbcType=VARCHAR}, #{seoTitle,jdbcType=VARCHAR}, 
      #{seoKeyword,jdbcType=VARCHAR}, #{seoDesc,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{idCode,jdbcType=INTEGER}, #{jsonContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.cms.ff.bean.Page" >
    insert into page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pageName != null" >
        page_name,
      </if>
      <if test="seoTitle != null" >
        seo_title,
      </if>
      <if test="seoKeyword != null" >
        seo_keyword,
      </if>
      <if test="seoDesc != null" >
        seo_desc,
      </if>
      <if test="domain != null" >
        domain,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="idCode != null" >
        id_code,
      </if>
      <if test="jsonContent != null" >
        json_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pageName != null" >
        #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null" >
        #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="seoKeyword != null" >
        #{seoKeyword,jdbcType=VARCHAR},
      </if>
      <if test="seoDesc != null" >
        #{seoDesc,jdbcType=VARCHAR},
      </if>
      <if test="domain != null" >
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null" >
        #{idCode,jdbcType=INTEGER},
      </if>
      <if test="jsonContent != null" >
        #{jsonContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.cms.ff.bean.Page" >
    update page
    <set >
      <if test="pageName != null" >
        page_name = #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null" >
        seo_title = #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="seoKeyword != null" >
        seo_keyword = #{seoKeyword,jdbcType=VARCHAR},
      </if>
      <if test="seoDesc != null" >
        seo_desc = #{seoDesc,jdbcType=VARCHAR},
      </if>
      <if test="domain != null" >
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null" >
        id_code = #{idCode,jdbcType=INTEGER},
      </if>
      <if test="jsonContent != null" >
        json_content = #{jsonContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.cms.ff.bean.Page" >
    update page
    set page_name = #{pageName,jdbcType=VARCHAR},
      seo_title = #{seoTitle,jdbcType=VARCHAR},
      seo_keyword = #{seoKeyword,jdbcType=VARCHAR},
      seo_desc = #{seoDesc,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      id_code = #{idCode,jdbcType=INTEGER},
      json_content = #{jsonContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">

                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from page
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from page
        <include refid="selectCondition" />
    </select>

</mapper>