<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>UTF-8</Encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <param name="Pattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %contextName %-5level [%logger{36}] %msg%n" />
        </layout>
    </appender>
    <!-- appenders -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/iceservice/node/logs/mlw-oms/oms_service_%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss} %-5p %c:%L - %m%n</pattern>
        </encoder>
    </appender>
    <!-- appenders -->
    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/iceservice/node/sql/mlw-oms/oms_service.log</fileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss} %-5p %c:%L - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.meiliwan.emall.oms.dao" level="DEBUG" additivity="false">
        <appender-ref ref="SQL" />
    </logger>

    <!-- root logger -->
    <root level="STDOUT">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>