<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.monitor.dao.RequestLogDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.monitor.bean.RequestLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="LONGVARCHAR" />
    <result column="hour" property="hour" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="time_consume" property="timeConsume" jdbcType="NUMERIC" />
    <result column="other_info" property="otherInfo" jdbcType="LONGVARCHAR" />
    <result column="client_ip" property="clientIp" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="RequestCount" type="com.meiliwan.emall.monitor.statistics.RequestCount" >
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, type, name,hour,start_time, end_time, time_consume, other_info,client_ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from monitor_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from monitor_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.monitor.bean.RequestLog" >
    insert into monitor_log (id, type,name,hour, start_time, 
      end_time, time_consume, other_info ,client_ip
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR},#{name,jdbcType=LONGVARCHAR},#{hour,jdbcType=INTEGER},  #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{timeConsume,jdbcType=NUMERIC}, #{otherInfo,jdbcType=LONGVARCHAR},#{item.clientIp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into monitor_log (id, type,name, hour,start_time, 
      end_time, time_consume, other_info,client_ip
      ) values 
    <foreach collection="list" item="item" index="index" separator="," > 
        (#{item.id,jdbcType=INTEGER}, #{item.type,jdbcType=VARCHAR},#{item.name,jdbcType=LONGVARCHAR},  #{item.hour,jdbcType=VARCHAR},#{item.startTime,jdbcType=TIMESTAMP}, 
      #{item.endTime,jdbcType=TIMESTAMP}, #{item.timeConsume,jdbcType=NUMERIC}, #{item.otherInfo,jdbcType=LONGVARCHAR},
      #{item.clientIp,jdbcType=VARCHAR}) 
    </foreach> 
    
  </insert>
  
  <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.id!=null">
                        and id=#{entity.id,jdbcType=INTEGER}
                    </if>
                    <if test="entity.type!=null">
                        and type=#{entity.type,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.name!=null">
                        and name like #{entity.name,jdbcType=LONGVARCHAR}
                    </if>
                     <if test="entity.hour!=null">
                        and hour=#{entity.hour,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.startTime!=null">
                        and start_time &gt;=  #{entity.startTime,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.endTime!=null">
                        and end_time &lt;= #{entity.endTime,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.startTimeConsume!=null">
                        and time_consume &gt;=  #{entity.startTimeConsume,jdbcType=NUMERIC}
                    </if>
                    <if test="entity.endTimeConsume!=null">
                        and time_consume &lt;=  #{entity.endTimeConsume,jdbcType=NUMERIC}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- get pages by pageInfo -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from monitor_log
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from monitor_log
        <include refid="selectCondition"/>
    </select>
    
  	<select id="getRequestCountGroupByType" resultMap="RequestCount">
        SELECT count(1) count,type name FROM mlw_monitor.monitor_log group by type
    </select>
  
  	<select id="getRequestCountGroupByHour" resultMap="RequestCount">
        select count(1) count,hour name from monitor_log 
        <include refid="selectCondition"/> 
        group by hour
    </select>
  
</mapper>