<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.monitor.dao.Ip2cityDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.monitor.bean.Ip2city" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="start_ip" property="startIp" jdbcType="BIGINT" />
    <result column="end_ip" property="endIp" jdbcType="BIGINT" />
    <result column="province" property="province" jdbcType="CHAR" />
    <result column="city" property="city" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, start_ip, end_ip, province, city
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ip2city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ip2city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.monitor.bean.Ip2city" >
    insert into ip2city (id, start_ip, end_ip, 
      province, city)
    values (#{id,jdbcType=INTEGER}, #{startIp,jdbcType=BIGINT}, #{endIp,jdbcType=BIGINT}, 
      #{province,jdbcType=CHAR}, #{city,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.monitor.bean.Ip2city" >
    insert into ip2city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="startIp != null" >
        start_ip,
      </if>
      <if test="endIp != null" >
        end_ip,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="startIp != null" >
        #{startIp,jdbcType=BIGINT},
      </if>
      <if test="endIp != null" >
        #{endIp,jdbcType=BIGINT},
      </if>
      <if test="province != null" >
        #{province,jdbcType=CHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.monitor.bean.Ip2city" >
    update ip2city
    <set >
      <if test="startIp != null" >
        start_ip = #{startIp,jdbcType=BIGINT},
      </if>
      <if test="endIp != null" >
        end_ip = #{endIp,jdbcType=BIGINT},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=CHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.monitor.bean.Ip2city" >
    update ip2city
    set start_ip = #{startIp,jdbcType=BIGINT},
      end_ip = #{endIp,jdbcType=BIGINT},
      province = #{province,jdbcType=CHAR},
      city = #{city,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  	<!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.startIp!=null">
                        and start_ip &lt;=  #{entity.startIp,jdbcType=BIGINT}
                    </if>
                     <if test="entity.endIp!=null">
                        and end_ip &gt;=  #{entity.endIp,jdbcType=BIGINT}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- get pages by pageInfo -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ip2city
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from ip2city
        <include refid="selectCondition"/>
    </select>
    
</mapper>