<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.monitor.dao.OrderStatisticsDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.monitor.bean.OrderStatistics" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_cod" property="createCod" jdbcType="INTEGER" />
    <result column="create_pay" property="createPay" jdbcType="INTEGER" />
    <result column="cancel" property="cancel" jdbcType="INTEGER" />
    <result column="pay_finish" property="payFinish" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_cod, create_pay, cancel, pay_finish, cod_cancel,create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mlw_order_statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mlw_order_statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.monitor.bean.OrderStatistics" >
    insert into mlw_order_statistics (id, create_cod, create_pay, 
      cancel, pay_finish, cod_cancel , create_time
      )
    values (#{id,jdbcType=INTEGER}, #{createCod,jdbcType=INTEGER}, #{createPay,jdbcType=INTEGER}, 
      #{cancel,jdbcType=INTEGER}, #{payFinish,jdbcType=INTEGER},  #{codCancel,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.monitor.bean.OrderStatistics" >
    insert into mlw_order_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createCod != null" >
        create_cod,
      </if>
      <if test="createPay != null" >
        create_pay,
      </if>
      <if test="cancel != null" >
        cancel,
      </if>
      <if test="payFinish != null" >
        pay_finish,
      </if>
      <if test="codCancel != null" >
        cod_cancel,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createCod != null" >
        #{createCod,jdbcType=INTEGER},
      </if>
      <if test="createPay != null" >
        #{createPay,jdbcType=INTEGER},
      </if>
      <if test="cancel != null" >
        #{cancel,jdbcType=INTEGER},
      </if>
      <if test="payFinish != null" >
        #{payFinish,jdbcType=INTEGER},
      </if>
      <if test="codCancel != null" >
        #{codCancel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.monitor.bean.OrderStatistics" >
    update mlw_order_statistics
    <set >
      <if test="createCod != null" >
        create_cod = #{createCod,jdbcType=INTEGER},
      </if>
      <if test="createPay != null" >
        create_pay = #{createPay,jdbcType=INTEGER},
      </if>
      <if test="cancel != null" >
        cancel = #{cancel,jdbcType=INTEGER},
      </if>
      <if test="payFinish != null" >
        pay_finish = #{payFinish,jdbcType=INTEGER},
      </if>
      <if test="codCancel != null" >
        cod_cancel = #{codCancel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.monitor.bean.OrderStatistics" >
    update mlw_order_statistics
    set create_cod = #{createCod,jdbcType=INTEGER},
      create_pay = #{createPay,jdbcType=INTEGER},
      cancel = #{cancel,jdbcType=INTEGER},
      pay_finish = #{payFinish,jdbcType=INTEGER},
      cod_cancel = #{codCancel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
                                                                                                                                                                                                                                                                    
  
  <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.createTimeStart!=null">
                        and create_time &gt;=  #{entity.createTimeStart,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.createTimeEnd!=null">
                        and create_time &lt;=  #{entity.createTimeEnd,jdbcType=TIMESTAMP}
                    </if>
                     <if test="entity.createTime!=null">
                        and create_time =  #{entity.createTime,jdbcType=TIMESTAMP}
                    </if>
                   
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- get pages by pageInfo -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mlw_order_statistics
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from mlw_order_statistics
        <include refid="selectCondition"/>
    </select>
    
    
</mapper>