<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.monitor.dao.PlayerModuleDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.monitor.allocation.PlayerModule" >
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="module_name" property="moduleName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="PlayerModuleDTOMap" type="com.meiliwan.emall.monitor.allocation.PlayerModuleDTO" >
    <result column="module_name" property="moduleName" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, module_name
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="com.meiliwan.emall.monitor.allocation.PlayerModuleKey" >
    delete from player_module
    where pid = #{pid,jdbcType=INTEGER}
      and module_name = #{moduleName,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByPlayerId" parameterType="java.lang.Integer" >
    delete from player_module
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.meiliwan.emall.monitor.allocation.PlayerModule" >
    insert into player_module (pid, module_name)
    values (#{pid,jdbcType=INTEGER}, #{moduleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.monitor.allocation.PlayerModule" >
    insert into player_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="moduleName != null" >
        module_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 下边是需要手动配置 自定义 查询条件 -->
    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.pid!=null">
                        and pid=#{entity.pid,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- get pages by pageInfo -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from player_module
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from player_module
        <include refid="selectCondition"/>
    </select>
  
   <select id="getAllPlayerModule"
            resultMap="PlayerModuleDTOMap">
        SELECT player.pid,name,mobile,email,state,module_name FROM 
         player_module left join player on player_module.pid=player.pid
    </select>
    
    
</mapper>