<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %contextName %-5level [%logger{36}] %msg%n" />
		</layout>
	</appender>

	<logger name="com.meiliwan" level="info" additivity="false">
            <appender-ref ref="DB"/>
            <appender-ref ref="STDOUT" />
     </logger>
     <!-- root logger -->
     <root level="ERROR">
         <appender-ref ref="STDOUT" />
     </root>

	
</configuration>