<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.account.dao.AccountCardDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.account.bean.AccountCard" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="card_coin" property="cardCoin" jdbcType="DECIMAL" />
    <result column="freeze_amount" property="freezeAmount" jdbcType="DECIMAL" />
    <result column="card_status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, card_coin, freeze_amount ,card_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from account_card
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from account_card
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.account.bean.AccountCard" >
    insert into account_card (uid, card_coin, freeze_amount, card_status)
    values (#{uid,jdbcType=INTEGER}, #{cardCoin,jdbcType=DECIMAL}, #{freezeAmount,jdbcType=DECIMAL},#{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.account.bean.AccountCard" >
    insert into account_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="cardCoin != null" >
        card_coin,
      </if>
      <if test="freezeAmount != null">
        freeze_amount,
      </if>
      <if test="status != null" >
        card_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cardCoin != null" >
        #{cardCoin,jdbcType=DECIMAL},
      </if>
    <if test="freezeAmount != null">
        #{freezeAmount,jdbcType=DECIMAL},
    </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.account.bean.AccountCard" >
    update account_card
    <set >
      <if test="cardCoin != null" >
        card_coin = #{cardCoin,jdbcType=DECIMAL},
      </if>
    <if test="freezeAmount != null">
        freeze_amount = #{freezeAmount,jdbcType=DECIMAL},
    </if>
       <if test="status != null" >
        card_status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.account.bean.AccountCard" >
    update account_card
    set card_coin = #{cardCoin,jdbcType=DECIMAL},
      freeze_amount = #{freezeAmount,jdbcType=DECIMAL},
      card_status = #{status,jdbcType=TINYINT}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  
   <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                   
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from account_card
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from account_card
        <include refid="selectCondition" />
    </select>

    <!-- 冻结余额 语句-->
    <update id="freezeMoney" parameterType="com.meiliwan.emall.account.bean.AccountCard">
        update account_card set card_coin=card_coin-${money},freeze_amount=freeze_amount+${money} where uid = ${uid} and card_coin >= ${money}
    </update>

    <!--冻结回退 语句-->
    <update id="rollBackFromFreeze" parameterType="com.meiliwan.emall.account.bean.AccountCard">
        update account_card set card_coin=card_coin+${money},freeze_amount=freeze_amount-${money} where uid= ${uid} and freeze_amount >= ${money}
    </update>

</mapper>