<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiliwan.emall.account.dao.WalletOptRecordDao" >
  <resultMap id="BaseResultMap" type="com.meiliwan.emall.account.bean.WalletOptRecord" >
    <result column="inner_num" property="innerNum" jdbcType="VARCHAR" />
    <result column="out_num" property="outNum" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="mlw_coin" property="mlwCoin" jdbcType="DECIMAL" />
    <result column="opt_type" property="optType" jdbcType="VARCHAR" />
    <result column="opt_time" property="optTime" jdbcType="TIMESTAMP" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="success_flag" property="successFlag" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="extra_data" property="extraData" jdbcType="VARCHAR" />
    <result column="pay_account" property="payAccount" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="client_ip" property="clientIp" jdbcType="VARCHAR" />
    <result column="child_type" property="childType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    inner_num, out_num, uid, mlw_coin, opt_type, opt_time, money, success_flag, source,
    extra_data,pay_account,order_id,admin_id,client_ip,child_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wallet_opt_record
    where inner_num = #{innerNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wallet_opt_record
    where inner_num = #{innerNum,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.meiliwan.emall.account.bean.WalletOptRecord" >
    insert into wallet_opt_record (inner_num, out_num,
      uid, mlw_coin, opt_type, 
      opt_time, money, success_flag, 
      source, extra_data,pay_account,admin_id,client_ip,child_type)
    values (#{innerNum,jdbcType=VARCHAR}, #{outNum,jdbcType=VARCHAR},
      #{uid,jdbcType=INTEGER}, #{mlwCoin,jdbcType=DECIMAL}, #{optType,jdbcType=VARCHAR}, 
      #{optTime,jdbcType=TIMESTAMP}, #{money,jdbcType=DECIMAL}, #{successFlag,jdbcType=INTEGER}, 
      #{source,jdbcType=VARCHAR}, #{extraData,jdbcType=VARCHAR},#{payAccount,jdbcType=VARCHAR},#{orderId,jdbcType=VARCHAR},#{adminId,jdbcType=INTEGER},#{clientIp,jdbcType=VARCHAR},#{childType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meiliwan.emall.account.bean.WalletOptRecord" >
    insert into wallet_opt_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="innerNum != null" >
        inner_num,
      </if>
      <if test="outNum != null" >
        out_num,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="mlwCoin != null" >
        mlw_coin,
      </if>
      <if test="optType != null" >
        opt_type,
      </if>
      <if test="optTime != null" >
        opt_time,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="successFlag != null" >
        success_flag,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="extraData != null" >
        extra_data,
      </if>
      <if test="payAccount != null" >
        pay_account,
      </if>
    <if test="orderId != null" >
        order_id,
    </if>
    <if test="adminId != null" >
        admin_id,
    </if>
    <if test="clientIp != null" >
        client_ip,
    </if>
    <if test="childType != null" >
        child_type,
    </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="innerNum != null" >
        #{innerNum,jdbcType=VARCHAR},
      </if>
      <if test="outNum != null" >
        #{outNum,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="mlwCoin != null" >
        #{mlwCoin,jdbcType=DECIMAL},
      </if>
      <if test="optType != null" >
        #{optType,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null" >
        #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="successFlag != null" >
        #{successFlag,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="extraData != null" >
        #{extraData,jdbcType=VARCHAR},
      </if>
        <if test="payAccount != null" >
            #{payAccount,jdbcType=VARCHAR},
        </if>
        <if test="orderId != null" >
            #{orderId,jdbcType=VARCHAR},
        </if>
        <if test="adminId != null" >
            #{adminId,jdbcType=INTEGER},
        </if>
        <if test="clientIp != null" >
            #{clientIp,jdbcType=VARCHAR},
        </if>
        <if test="childType != null" >
            #{childType,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meiliwan.emall.account.bean.WalletOptRecord" >
    update wallet_opt_record
    <set >
      <if test="outNum != null" >
        out_num = #{outNum,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="mlwCoin != null" >
        mlw_coin = #{mlwCoin,jdbcType=DECIMAL},
      </if>
      <if test="optType != null" >
        opt_type = #{optType,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null" >
        opt_time = #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="successFlag != null" >
        success_flag = #{successFlag,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="extraData != null" >
        extra_data = #{extraData,jdbcType=VARCHAR},
      </if>
      <if test="payAccount != null" >
        pay_account = #{payAccount,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
    <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
    </if>
    <if test="clientIp != null" >
        client_ip = #{clientIp,jdbcType=VARCHAR},
    </if>
    <if test="childType != null" >
        child_type = #{childType,jdbcType=VARCHAR},
    </if>
    </set>
    where inner_num = #{innerNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meiliwan.emall.account.bean.WalletOptRecord" >
    update wallet_opt_record
    set out_num = #{outNum,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      mlw_coin = #{mlwCoin,jdbcType=DECIMAL},
      opt_type = #{optType,jdbcType=VARCHAR},
      opt_time = #{optTime,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=DECIMAL},
      success_flag = #{successFlag,jdbcType=INTEGER},
      source = #{source,jdbcType=VARCHAR},
      extra_data = #{extraData,jdbcType=VARCHAR},
      pay_account = #{payAccount,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      admin_id= #{adminId,jdbcType=INTEGER},
      client_ip = #{clientIp,jdbcType=VARCHAR},
      child_type = #{childType,jdbcType=VARCHAR}
    where inner_num = #{innerNum,jdbcType=VARCHAR}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.innerNum != null" >
                     and    inner_num=#{entity.innerNum,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.outNum != null" >
                      and   out_num=#{entity.outNum,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.uid != null" >
                      and   uid=#{entity.uid,jdbcType=INTEGER}
                    </if>
                    <if test="entity.mlwCoin != null" >
                      and   mlw_coin= #{entity.mlwCoin,jdbcType=DECIMAL}
                    </if>
                    <if test="entity.optType != null" >
                      and   opt_type=#{entity.optType,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.optTime != null" >
                      and   opt_time=#{entity.optTime,jdbcType=TIMESTAMP}
                    </if>
                    <if test="entity.money != null" >
                      and   money=#{entity.money,jdbcType=DECIMAL}
                    </if>
                    <if test="entity.successFlag != null" >
                      and   success_flag=#{entity.successFlag,jdbcType=INTEGER}
                    </if>
                    <if test="entity.source != null" >
                      and   source=#{entity.source,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.extraData != null" >
                       and  extra_data=#{entity.extraData,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.payAccount != null" >
                        and  pay_account=#{entity.payAccount,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.orderId != null" >
                        and  order_id=#{entity.orderId,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.adminId != null" >
                        and  admin_id=#{entity.adminId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.clientIp != null" >
                        and  client_ip=#{entity.clientIp,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.childType != null" >
                        and  child_type=#{entity.childType,jdbcType=VARCHAR}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from wallet_opt_record
        <include refid="selectCondition" />
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.startIndex} ,${pageInfo.pagesize}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from wallet_opt_record
        <include refid="selectCondition" />
    </select>

    <!--- 新增用户钱包校验 -->
    <select id="getPaymentTotalAmount" resultType="java.lang.Double">
        select sum(money) from  wallet_opt_record where uid=${uid} and opt_time &gt;=#{beginDate,jdbcType=TIMESTAMP} and opt_time &lt; #{endDate,jdbcType=TIMESTAMP}  and (opt_type ='SUB_MONEY' or opt_type='FREEZE_MONEY')
    </select>

    <select id="getUidsByTime" resultType="java.lang.Integer" >
        select distinct uid from  wallet_opt_record where   opt_time &gt;= #{beginDate,jdbcType=TIMESTAMP}  and opt_time &lt;#{endDate,jdbcType=TIMESTAMP}
    </select>

    <select id="getIncomeTotalAmount" resultType="java.lang.Double">
        select sum(money) from  wallet_opt_record where uid=${uid} and opt_time &gt;=#{beginDate,jdbcType=TIMESTAMP} and opt_time &lt; #{endDate,jdbcType=TIMESTAMP} and (opt_type ='ADD_MONEY' or opt_type ='REFUND_FROM_GATEWAY' or opt_type='REFUND_FROM_FREEZE')
    </select>
</mapper>